*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

// Centrar contenido
.container {
    max-width: 1600px;
    margin: auto;
}

// Flexbox
.row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}


