// COLORES
$color-background: #E3EDF3;
$color-background2: #283646;
$color-primary: #00B5DD;
$color-secundary: #FF5A5F; 

$color-error: #DC383D;
$color-success: #0096B7;

$color-text: #7D7D7D;
$color-black: #333333;

$color-border-tabs: #E3EDF3;

$color-white: #FFFFFF;
$color-text-white: #FAFAFA;

// COLOR PUBLISH INTERNATIONAL
$color-h2_publish: #2A2A2A;

// PLACES TO STAY
$bg-shadow-places: rgb(0 0 0 / 16%);
$bg-black-places: #7D7D7D;

$color-gradient: linear-gradient(180deg, #2DDAB4, #00B5DD);

$bg-hover-btn: #0196b6;

// SUBMENU HOME
$color-background-perfile: #E3EDF3;
$color-text-submenu: #333333;

// ICON LOVE
$color-love-red: #FF5A5F;
$icon-love: rgb(222, 222, 222, 38%);
$icon-love-br-white: #DEDEDE;
$icon-love-br-red: #B24646;

// HEADER FIXED
$color-bg-header: #283646;

// TIPOGRAFIAS
$font: 'Lato', sans-serif;
$letter-spacing: 0.2rem;

// SPACING


// en orden
$limit: 300;
$unit: 1px;
$porcentaje: 1%;
$cant: 300;




//---------- SOMBRAS SHADOW MENU BAR ----------
@mixin _shadow-black3-6 {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

@mixin _shadow-bazul20 {
  box-shadow: 0 0 20px rgb(40 54 70 / 8%);
}

@mixin _shadow-celest10 {
  box-shadow: 0 0 10px #E3EDF3;
}



@mixin h1 {
  font-size: 160px;
  line-height: 155px;
  color: $color-text-white;
  font-weight: bold;
}
@mixin h2-pano {
  font-size: 45px;
  line-height: 60px;
  color: $color-text-white;
  font-weight: normal;
}

@mixin h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold; 
  color: $color-text-submenu; 

  @media screen and (max-width: 1400px) {
    line-height: 60px;
    font-size: 50px;
  }
}

@mixin h2_publishgris {
  font-size: 35px;
  font-weight: normal;
  color: #7D7D7D;
}

@mixin h2_publish {
  font-size: 35px;
  font-weight: bold;
  line-height: 42px;
  color: $color-h2_publish;
}

@mixin h24_negro {
  font-size: 24px;
  font-weight: normal;
  color: #2A2A2A;
}

@mixin h2-guests {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $color-h2_publish;
}

@mixin h2-50 {
  font-size: 50px;
  color: $color-black;
  font-weight: normal;
}

@mixin h3 {
  font-size: 18px;
  color: $color-h2_publish;
  font-weight: normal;

  &.nrml {
    font-size: 18px !important;
    line-height: normal !important;
  }

  @include responsive(1400px) {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin h4 {
  font-size: 16px;
  color: $color-text;
  font-weight: bold;
}

@mixin h5 {
  font-size: 14px;
  color: $color-text-submenu;
  font-weight: normal;
}

@mixin h5_red {
  font-size: 14px;
  color: $color-love-red;
  font-weight: bold;
}

@mixin h2-cards {
  font-size: 20px;
  color: $color-white;
  line-height: 20px;
  font-weight: normal;
  text-align: initial;

  @include responsive(1400px) {
    font-size: 18px;
    line-height: normal;
  }
}

@mixin h2-20black {
  font-size: 20px;
  color: $color-text-submenu;
  line-height: 20px;
  font-weight: normal;
}

@mixin h3-cards {
  font-size: 14px;
  line-height: 20px;
  color: $color-white;
  font-weight: 400;

  @include responsive(1400px) {
    font-size: 12px;
    line-height: normal;
  }
}

@mixin btn-h {
  font-size: 18px;
  padding: 16px 50px;
  background-color: $color-primary;
  color: $color-text-white;
  border-radius: 10px;
  transition: all .3s ease;

  &:hover {
    background-color: $bg-hover-btn;
  }

  &:active {
    transform: scale(0.96);
    background-color: $bg-hover-btn;
  }
}

@mixin h-paragraph {
  font-size: 22px;
  color: $color-text;
  font-weight: normal;
}

@mixin n-paragraph {
  font-size: 16px;
  color: $color-text;
  font-weight: normal;
}

@mixin s-paragraph {
  font-size: 14px;
  color: $color-text;
  font-weight: normal;
}

@mixin flex-centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pd_40 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

@mixin _z4lmgp {
  display: contents;
}

@mixin span-guests {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: .2px;
  color: $color-text;

  @media screen and (max-width: 1400px) {
    line-height: inherit;
    font-size: 16px;
    letter-spacing: normal;
  }
}

@mixin _line-hr {
  border-top-color: #E3EDF3;
  border-top-width: 2px;
  border-top-style: solid;

  @include responsive(1400px) {
    border-top-width: 1px;
  }
}

@mixin _txtblu {
  display: block;
  color: #00B5DD;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 4px;

  @include responsive(1400px) {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin _txtblu16 {
  display: inline-block;
  color: #00B5DD;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  @include responsive(1400px) {
    font-size: 14px;
  }
}

@mixin _txtblu14 {
  display: inline-block;
  color: #00B5DD;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;

  @include responsive(1400px) {
    line-height: normal;
    font-size: 12px;
  }
}

@mixin pf-u {
  background-color: #E3EDF3;
  border-radius: 50%;
  max-width: 48px;
  width: 100%;
  height: 48px;
  border: 2px solid #E3EDF3;
  margin-right: 14px;

  img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
  }
}

@mixin _pf-msg {
  background-color: #E3EDF3;
  border-radius: 50%;
  max-width: 60px;
  min-width: 60px;
  width: 100%;
  height: 60px;
  border: 3px solid #E3EDF3;
  margin-right: 16px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  @include responsive(1400px) {
    border: 2px solid #E3EDF3;
  }
}

@mixin btn-black {
  width: fit-content;
  display: inline-block;
  padding: 16px 50px;
  border-radius: 10px;
  background-color: #283646;
  color: $color-white;
  font-weight: normal;
  white-space: nowrap;
  font-size: 18px;
  transition: background-color 0.3s ease;

  &:active {
    transform: scale(0.96);
  }

  &.mx210 {
    width: 100% !important;
    max-width: 210px !important;
  }

  @include responsive(1400px) {
    padding: 14px 24px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 8px;
  }
}

@mixin _txtec16 {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #7D7D7D;

  @include responsive(1400px) {
    font-size: 14px;
    line-height: 18px;
  }
}

@mixin _txtecbold16 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #333333;
}

@mixin _txtec-black20 {
  font-size: 20px;
  font-weight: normal;
  color: #333333;
}

@mixin _txtec14 {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #7D7D7D;
}

@mixin _txtec12 {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: #7D7D7D;
}

@mixin btn-border {
  display: inline-block;
  padding: 16px 17px;
  border-radius: 10px;
  border: 1px solid #E3EDF3;
  background-color: $color-white;
  color: $bg-black-places;
  font-weight: normal;
  white-space: nowrap;
  font-size: 18px;
  cursor: pointer;
  transition: background-color .3s ease;

  &:active {
    transform: scale(0.96);
  }

  @include responsive(1400px) {
    font-size: 16px;
  }
}

@mixin btn-border_red {
  display: inline-block;
  padding: 16px 17px;
  border-radius: 10px;
  border: 1px solid #E3EDF3;
  background-color: $color-secundary;
  color: $color-white;
  font-weight: normal;
  white-space: nowrap;
  font-size: 18px;
  transition: background-color .3s ease;

  &:active {
    transform: scale(0.96);
    background-color: $color-secundary;
  }

  @include responsive(1400px) {
    font-size: 16px;
  }
}

@mixin btn-celest-select {
  width: fit-content;
  display: inline-block;
  padding: 16px 30px;
  border-radius: 10px;
  background-color: #00B5DD;
  color: $color-white;
  font-weight: bold;
  white-space: nowrap;
  font-size: 18px;
  transition: background-color .3s ease;
  cursor: pointer;

  &:hover {
    background-color: #0096B7;
  }

  &:active {
    transform: scale(0.96);
    background-color: #0096B7;
  }

  svg {
    margin-top: 2px;
    transition: all .3s ease;
  }

  @include responsive(1400px) {
    padding: 14px 24px;
    font-size: 16px;
    font-weight: normal;

    .gp10 {
      gap: 8px;
    }

    svg {
      width: 12px;
    }
  }
}

@mixin btn-celest {
  width: fit-content;
  display: inline-block;
  padding: 16px 50px;
  border-radius: 10px;
  background-color: #00B5DD;
  color: $color-white;
  font-weight: bold;
  white-space: nowrap;
  font-size: 18px;
  transition: background-color .3s ease;

  &:hover {
    background-color: #0096B7;
  }

  &:active {
    transform: scale(0.96);
    background-color: #0096B7;
  }

  &.nrml {
    &:active {
      transform: none !important;
    } 
  }

  &.btntabs {
    padding: 16px 24px;
  }

  @include responsive(1400px) {
    padding: 14px 24px !important;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    border-radius: 8px;
  }
}

@mixin btn-celest-min {
  cursor: pointer;
  width: fit-content;
  display: inline-block;
  padding: 10px 14px;
  border-radius: 5px;
  background-color: #00B5DD;
  color: $color-white;
  font-weight: normal;
  white-space: nowrap;
  font-size: 14px;
  transition: background-color .3s ease;

  &:hover {
    background-color: #0096B7;
  }

  &:active {
    transform: scale(0.96);
    background-color: #0096B7;
  }
}

@mixin btn-red {
  display: inline-block;
  border-radius: 10px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 50px;
  transition: background-color .3s ease;
  cursor: pointer;

  &:hover {
    background-color: #DC383D;
  }

  &:active {
    transform: scale(0.96);
    background-color: #DC383D;
  }

  @include responsive(1400px) {
    padding: 14px 24px;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    border-radius: 8px;
  }
}

@mixin content-user_icons {
  padding-top: 53px;
  padding-bottom: 78px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 11px;

  @include responsive(1590px) {
    padding-bottom: 53px;
  }

  .s-usr_icons {
    flex: 0 0 49%;
    max-width: 49%;
    display: flex;
    margin-bottom: 10px;

    @include responsive(1091.25px) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    ._suis {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-shrink: 0;
      min-width: 26px;
    }

    ._suisinfo {
      margin-left: 16px;
    }
  }

  @include responsive(1400px) {
    .s-usr_icons {
      ._suis {
        min-width: 21px;

        i {
          font-size: 18px;
        }
      }

      ._suisinfo {
        margin-left: 10px;
      }
    }
  }
}

@mixin t-cth {
  margin-top: 4px;
  background-color: #00B5DD;
  border-radius: 10px;
  padding: 9px 18px;
  margin-bottom: 4px;
  gap: 12px;
  display: flex;
  justify-content: space-between;

  ._txtect {
    color: $color-white;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }

  @include responsive(1400px) {
    margin-top: 12px;
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 0;

    ._txtect {
      font-size: 16px;
      line-height: inherit;
    }
  }
}

@mixin f-cthdes {
  border-radius: 10px;
  background-color: rgb(237 237 243 / 30%);
  padding: 9px 18px;
  margin-bottom: 4px;
  display: flex;
  gap: 12px;
  justify-content: space-between;

  ._txtecred {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #FF5A5F;
  }

  @include responsive(1400px) {
    padding: 8px 12px;
    border-radius: 8px;

    ._txtecred {
      font-size: 16px;
      line-height: inherit;
    }
  }
}

@mixin txt-check-in {
  font-size: 14px;
  font-weight: normal;
  color: #7D7D7D;
  border-left: 3px solid #00B5DD;
  padding-left: 16px;
  margin-bottom: 12px;

  @include responsive(1400px) {
    font-size: 12px;
    border-left: 2px solid #00B5DD;
    padding-left: 12px;
    margin-bottom: 8px;
  }
}

@mixin _txtprivat {
  color: #7D7D7D;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

@mixin _txteh16 {
  color: #333333;
  font-weight: bold;
  font-size: 16px;
  @include responsive(900px) {
    font-size: 14px;
  }
}

@mixin _txteh {
  color: #333333;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 2px;

  &.txt18 {
    font-size: 18px !important;
    line-height: 24px !important;
    margin: 0 !important;
  }

  @include responsive(1400px) {
    font-size: 16px;
    line-height: normal;
  }
}

@mixin _txtehlinear {
  cursor: pointer;
  width: fit-content;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #333333;
    bottom: 0;
  }

  @include responsive(1400px) {
    font-size: 16px;
  }
}

@mixin _txtehlinear16 {
  cursor: pointer;
  width: fit-content;
  color: #333333;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #333333;
    bottom: 0;
  }

  @include responsive(1400px) {
    font-size: 16px;
  }
}

@mixin _txtlinearnormal {
  color: #7D7D7D;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #7D7D7D;
    bottom: 0;
  }

  @include responsive(1400px) {
    font-size: 16px;
  }
}

@mixin _txtred {
  color: #FF5A5F;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  @media screen and (max-width: 1400px) {
    font-size: 16px;
  }
}

@mixin _txtverd {
  color: #2edab4;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  @media screen and (max-width: 1400px) {
    font-size: 16px;
  }
}

@mixin _txtec {
  color: #7D7D7D;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  &.txt18 {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  @media screen and (max-width: 1400px) {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin _txtec333 {
  color: #333;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  @media screen and (max-width: 1400px) {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin _btnsmleft {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 5.5px;
  cursor: pointer;
  color: #333333;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;

  @include responsive(1400px) {
    font-size: 16px;
    gap: 3.5px;
  }

  &:disabled {
    opacity: .4;
    cursor: not-allowed;
  }

  span {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #333333;
      right: 0;
      bottom: 0;

      @include responsive(1400px) {
        bottom: 1px;
      }
    }
  }

  img {
    @include responsive(1400px) {
      margin-top: 1px;
      width: 5px;
    }
  }

  svg {
    margin-top: 3.5px;

    @include responsive(1400px) {
      margin-top: 2px;
      width: 5px;
    }
  }
}

@mixin _btnsmblu {
  width: fit-content;
  display: inline-block;
  cursor: pointer;
  color: #00B5DD;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  @include responsive(1400px) {
    font-size: 16px;
  }

  span {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #00B5DD;
      right: 0;
      bottom: 0;
    }
  }
}

@mixin _btnsmblu16 {
  width: fit-content;
  display: inline-block;
  cursor: pointer;
  color: #00B5DD;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;

  @include responsive(1400px) {
    font-size: 14px;
  }

  span {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #00B5DD;
      right: 0;
      bottom: 0;
    }
  }
}

@mixin _btnsm {
  cursor: pointer;
  display: inline-block;
  color: #333333;
  line-height: 24px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 2px;

  @media screen and (max-width: 1400px) {
    font-size: 16px;
  }

  ._fcontent {
    display: inline-flex;
    align-items: baseline;

    ._asm {
      text-decoration: underline;
    }

    ._svg-asm {
      margin-left: 5px;
    }
  }
}

@mixin content_galerias {
  margin-bottom: 28px;
  display: flex;
  align-items: center;

  .slideshow-container {
    position: relative;
    max-width: 300px;
    width: 100%;
    height: 240px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    background-color: black;
    transition: all .3s ease;
    button{
      display: contents;   
    }
    button:hover g {
      fill: $color-white;
      stroke: $icon-love-br-red; 
    }

    .card_love {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 57px;
      height: 57px;
      border-radius: 50%;
      top: -12.6px;
      right: -16.5px;
      z-index: 1;
      transition: all .3s ease;

      svg {
        margin-top: 12.5px;
        margin-right: 12.6px;

        g {
          transition: all .3s ease;
        }
      }

      &:hover {
        background-color: $color-love-red;
      }
    }

    .card_img {
      background-color: $color-white;
    }

    .content-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      text-align: center;
      z-index: 2;

      .dot {
        display: inline-block;
        cursor: pointer;
        width: 8px;
        height: 8px;
        background-color: white;
        border-radius: 50%;
        margin-right: 3px;
        transition: all .3s ease;

        &_active {
          background-color: $color-primary;
        }

        &:hover {
          background-color: $color-primary;
        }
      }
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 153.4px;
      bottom: -70px;
      background: linear-gradient(to bottom, transparent, rgb(0 0 0));
      z-index: 1;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 153.4px;
      top: -90px;
      background: linear-gradient(to top, transparent, rgb(0 0 0));
      z-index: 1;
    }
  }

  .flex_info {
    width: 100%;
    padding-left: 27px;

    h4 {
      font-size: 14px;
      color: #333333;
      font-weight: normal;
      line-height: 20px;
    }

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: #333333;
      margin: 3px 0 24px;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .total_local {
      margin-top: 44px;
    }
  }
}

@mixin desc_lc {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  letter-spacing: .8px;
}

@mixin btn_lc {
  outline: none;
  border-style: none;
  border-radius: 5px;
  background-color: #E3EDF3;
  line-height: 17px;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  padding: 9px 12px;
  margin: 6px 2px 0;
}

@mixin total_local {
  margin-top: 44px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #333333;

  .fa-dollar-sign {
      color: #00B5DD;
  }

  .fa-long-arrow-right {
      margin: 0 5px;
      color: #FF5A5F;
  }

  .t {
      font-weight: bold;
      color: #00B5DD;
  }
}

@mixin col-flex-auto {
  gap: 125px;

  @media screen and (max-width: 1400px) {
    flex-wrap: wrap;
    gap: 30px;
  }
}

@mixin text-block-auto {
  @media screen and (max-width: 1700px) {
    width: 45%;
    flex: auto;
  }

  @media screen and (max-width: 575px) {
    width: 100%;
    margin-bottom: 20px;
  }
}

// ANIMATION
@mixin keyframes-animation($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}


// MIXINS
@mixin responsive($width) {
  @media (max-width: $width) {
    @content;
  }
}
