@import "_globals";
@import "_variables";


h3 {
    margin-bottom: 17px;
}

// Main Block

.main-block {
    margin-bottom: 100px;

    &_title {
        margin-bottom: 17px;
    }

    p {
        margin-bottom: 3
    }

}

// Description Block

.description-block {
    margin-bottom: 100px;
}

.place-block {
    margin-bottom: 100px;

    &_img {
        min-width: 540px;
        height: 450px;
        border-radius: 10px;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    &_text {
        padding-left: 51px;
    }

    .span-guests:nth-last-child(1) {
        margin-bottom: 0
    }

}

// Articles

.articles {
    margin-bottom: 100px;
    gap: 128px;

    &_item {
        position: relative;
        padding-left: 48px;

        img {
            position: absolute;
            top: 0;
            left: 0;
        }

        h3 {
            margin-bottom: 4px;
        }

        p {
            margin-bottom: 16.84px;
        }
    }

    a {
        text-decoration: underline;
    }
}

// Add dates

.dates {
    padding: 25px 44px;
    margin-bottom: 100px;
    background-color: $color-background-perfile;
    border-radius: 10px;

    &_text {
        padding-right: 145px;

        h3 {
            margin-bottom: 8px;
        }

        p {
            margin-bottom: 0;
        }
    }

    &_btn {
        min-width: 180px;
    }
}

// Related articles

.related-articles {
    margin-bottom: 100px;
}

// Breakpoints

@media screen and (max-width: 1700px) {
    .articles {
        gap: 100px;
    }
}

@media screen and (max-width: 1400px) {
    .articles {
        gap: 50px;
    }

    .main-block {
        margin-bottom: 56px;
    }

    .dates_text {
        padding-right: 100px;
    }

}

@media screen and (max-width: 1200px) {
    .place-block {
        display: block;

        &_img {
            min-width: none;
            width: 50%;
            float: left;
            margin: 0 51px 51px 0;
        }

        &_text {
            padding-left: 0;
        }
    }


}

@media screen and (max-width: 1024px) {
    .related-articles {
        gap: 25px;

        &_text {
            max-width: none;
        }
    }

    .suggestion-articles {
        gap: 25px;

        &_text {
            max-width: none;
        }
    }
}

@media screen and (max-width: 900px) {
    .place-block {
        display: block;

        &_img {
            min-width: auto;
            width: 50%;
            height: 300px;
            margin: 0 25px 25px 0;
            float: left;
        }

        &_text {
            padding-left: 0px;
        }
    }
    
    .articles {
        gap: 50px;
    }

    .dates_text {
        padding-right: 50px;
    }

    .related-articles {
        gap: 50px;        
    }

    .suggestion-articles {
        gap: 40px;
    }
}

@media screen and (max-width: 800px) {
    .articles {
        gap: 30px;
    }
}

@media screen and (max-width: 575px) {
    h3 {
        margin-bottom: 10px;
    }

    .place-block_img {
        float: none;
        width: 100%;
    }

    .articles {
        display: block;

        &_item {
            margin-bottom: 30px;
        }
    }   

    .dates {
        display: block;

        &_text {
            padding-right: 0;
            margin-bottom: 20px;
        }

        .btn-h {
            text-align: center;
        }
    }

    .related-articles {
        display: block;

        &_text {
            max-width: none;
        }
    }

    .suggestion-articles {
        display: block;

        &_text {
            max-width: none;
        }
    }

}
