@import "_variables";

// modificando calendario
// .header_admin {
//     .medio {
//       max-width: 1760px;
//       width: 90%;
//     }
// }

._mv-places {
    transition: none;
}

.cont-h2 {
    .h2-guests {
        margin: 27px 0;
    }
}

// btn left <
.btn_circle_flecha {
    margin: -12px;
}

._10toigd {
    display: none;
}

._btnsmleft {
    gap: 0;
    display: block;
}

._btnsmleft span::before {
    bottom: 0;
}

._wpwi48 {
    padding: 0 35px;

    @include responsive(743px) {
        padding: 0 24px;
    }
}

body {
    @media screen and (max-width: 1800px) {
        // Calendar individual - popup private note add >
        .container_popup_ntpve {

            .pd_anhost-modal {
                .modal_content-anhost {
                    max-width: 568px;
                }
            }
        }

        // Calendar individual - Create new custom setting
        .container_ci_nw_cs {
            .pd_anhost-modal {
                .modal_content-anhost {
                    max-width: 780px;

                    ._zjunba {
                        padding: 16px 35px 28px;
                    }

                    .mr-t16 {
                        margin-top: 0;
                    }

                    .gp25 {
                        gap: 24px;
                    }

                    .gp7 {
                        gap: 0;
                    }

                    .gp21, .gp13 {
                        gap: 10px;
                    }
                }
            }
        }

        .modal_content-anhost {
            .close {
                span {
                    padding: 0 !important;
                    width: 36px !important;
                    height: 36px !important;
                    display: flex !important;
                    justify-content: center !important;
                    align-items: center !important;
                    font-size: 16px !important;
                    padding-bottom: 3px !important;
                }
            }

            .h2_publish {
                font-size: 24px;
            }
        }


        // footer cancel save content modal
        ._zgc1p6 {
            margin-top: auto;
            padding: 16px 24px;
            border-top: 1px solid #E3EDF3;
        }

        // input
        ._numcard {
            padding: 12px !important;
            font-size: 16px !important;
            line-height: 20px !important;
        }

        ._txtec {
            font-size: 18px;
        }

        ._txteh {
            font-size: 18px;
        }

        ._txtblu16 {
            font-size: 16px;
        }

        .btn-celest {
            padding: 14px 24px;
            font-size: 16px;
            font-weight: normal;
            line-height: 20px;
            border-radius: 8px;
        }

        // header
        .menu {
            .menu_home-content-items {
                border: 1px solid #E3EDF3;
                width: 210px;
        
                ul {
                    li {
                        padding: 10px 10px 10px 16px;
                        font-size: 14px;

                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        
        // .header,
        // .header_admin {
        //     .menu_items {
        //         margin-right: 43px;
        
        //         img {
        //             width: 18px;
        //             margin-right: 6px;
        //         }
        //     }
        
        //     .logo-menu {
        //         width: 150px;
        //     }
        
        //     .menu a, .menu span {
        //         font-size: 14px;
        //     }
        
        //     .menu_perfil {
        //         margin-right: 17px;
        
        //         span {
        //             gap: 2px;
        
        //             img {
        //                 width: 40px;
        //                 height: 40px;
        //                 border: transparent;
        //                 box-shadow: 0 0 0 1.5px $color-secundary;
        //             }
        //         }
        //     }
        
        //     .menu i.fa-bars {
        //         font-size: 16px;
        //     }
        // }

        ._flex-js {
            ._flex {
                i {
                    font-size: 12px;
                }
      
                .icon_red {
                    font-size: 18px;
                }
        
                span {
                    font-size: 14px;
                }
            }
        }

        // submenu nav header
        ._puntos3 {
            ._menu-m {
                &.is-active {
                    top: 40px;
                }
            }
        }

        ._menu-m {
            right: -145px;
        }

        ._menu-options-items {
            min-width: 230px;
            width: auto;
      
            ._txtec {
                font-size: 14px;
            }
      
            ul {
                li {
                    ._b-flex {
                        padding: 10px 10px 10px 16px;
                        align-items: center;
            
                        svg {
                            width: 14px;
                        }
            
                        i {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        // .content_icon-leng {
        //     top: 101px;
        //     padding: 7px 8px;
            
        //     img {
        //         width: 28px;
        //     }
        // }

        // padding
        .pd-130-0-50 {
            padding: 110px 0 30px;
        }

        .pd-145-0-50 {
            padding: 110px 0 30px;
        }

        ._txtec, ._txtblu {
            font-size: 16px;
            line-height: 1.375em;
        }

        ._txtec16 {
            font-size: 14px;
            line-height: inherit;
        }

        ._txtboldff14, ._txt-white14 {
            font-size: 12px;
        }

        ._bkgrsdoll {
            font-size: 16px;
        }

        ._txteh {
            font-size: 16px;
        }

        ._txtblu16 {
            font-size: 14px;
        }

        .h2-guests {
            line-height: inherit;
            font-size: 23px;
        }

        ._txtbold7d14 {
            font-size: 12px;
        }

        .h2_publish {
            font-size: 33px;
            line-height: inherit;
        }

        .selected-modal {
            select {
                padding: 12.5px 32px 12.5px 12px;
                font-size: 16px;
            }

            svg {
                right: 12px;
                width: 12px;
            }

            i {
                font-size: 14px;
                right: 12px;
            }
        }

        .btn-white {
            padding: 14px 18px;
            border-radius: 8px;
        }

        .cont-h2 {
            .h2-guests {
                margin: 24px 0;
            }
        }

        ._cont-l-img {
            ._ad-list_img {
                width: 70px;
                height: 60px;
            }
        }

        ._badsdoller {
            img {
                width: 18px;
            }
        }

        .check_click input:checked + .bg_check_click {
            box-shadow: $color-primary 0px 0px 0px 2px inset;
        }

        .bg_check_click {
            box-shadow: $color-background 0 0 0 1px inset;
        }

        .bk-icon-des_fbas {
            &.gp10 {
                gap: 8px;
            }

            ._i-red22 {
                font-size: 20px;
            }
        }

        ._fleft-tb {
            svg {
                width: 9px;
            }
        }

        ._fright-tb {
            svg {
                width: 9px;
            }
        }

        .txt-check-in {
            font-size: 12px;
            border-left: 2px solid $color-primary;
            padding-left: 12px;
        }

        .hr {
            &:not(:last-child) {
                border-bottom: 1px solid $color-background;
            }
        }

        ._btnsmleft {
            font-size: 16px;
            line-height: 20px;

            img {
                width: 5.5px;
            }
        }

        .section_calendar_indv_admin {
            .thead {
                .th {
                    padding: 12px 0;
                }
            }

            .h2_publish {
                font-size: 26px;
                line-height: 30px;
            }

            .font25-select {
                select {
                    font-size: 26px !important;
                    padding-right: 24px !important;
                }

                svg {
                    width: 12px;
                    right: 0;
                }
            }

            .medio-cl-indv {
                .calend-right-indv {
                    flex: 0 0 354px;
                    width: 354px;
                    min-width: 354px;
                    border: 1px solid $color-background;

                    ._bkgris {
                        padding: 24px;
                        border-radius: 8px;

                        &.txt-center {
                            text-align: left;
                        }

                        ._txteh {
                            font-size: 16px;
                            margin-bottom: 8px;
                            line-height: 20px;
                        }

                        ._txtec {
                            line-height: 20px;
                        }
                    }

                    ._txteh {
                        font-size: 18px;
                    }

                    .pd50 {
                        padding: 24px;

                        .mr-b76 {
                            margin-bottom: 48px;
                        }
                    }

                    .pd23 {
                        padding: 24px;
                    }

                    .gp24 {
                        gap: 15px;
                    }

                    .desc {
                        ._txtec14, ._txtehlinear14 {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }

                    .prt {
                        &.pd23 {
                            padding-top: 32px;
                        }

                        .gp24 {
                            gap: 32px;
                        }

                        .desc {
                            &.mr-t24 {
                                margin-top: 48px;
                            }
                        }
                    }

                    ._kr7m4r {
                        border-top: 1px solid $color-background;

                        &.pd23 {
                            padding: 16px 24px;
                        }
                    }

                    .mr-t24 {
                        margin-top: 8px;
                    }
                }
            }
        }

        .section_calendar_admin {
            .medio_calendar_admin {
                ._header-btns4 {
                    margin-bottom: 13px;
                }

                ._fleft-tb {
                    margin-bottom: 1.6rem;
                }

                ._main-list-fech {
                    ._fright-tb {
                        margin-bottom: 1.6rem;
                    }
                }

                .right_bk_show {
                    border: 1px solid $color-background !important;
    
                    &.active-info {
                        flex: 372px !important;
                        width: 372px !important;
                        min-width: 372px !important;
                    }
                }
            }
        }

        .block-pd-cl {
            ._txtblu16 {
                font-size: 14px;
                line-height: 18px;

                &:hover {
                    color: #0096B7;
                    text-decoration: underline;
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid $color-background !important;
            }

            .gp21 {
                gap: 18px;
            }

            ._bkgris {
                border-radius: 8px !important;
                padding: 12px 29px !important;
            }

            &.rs {
                padding: 0 30px 20px !important;
            }

            &.sw-pf {
                padding: 21px 30px 29px !important;

                ._pf-msg {
                    max-width: 54px;
                    min-width: 54px;
                    height: 54px;
                    border: 2px solid $color-background;
                }
            }

            &.checks {
                padding: 21px 30px 19px !important;
            }
        }
    }

    @media screen and (max-width: 1439px) {
        .section_calendar_indv_admin {
            table {
                tbody {
                    ._bkgrequestcld, ._bkgcurrentlycld {
                        left: 8px;
                        right: 8px;
                        bottom: 8px;
                    }
                }
            }

            .medio-cl-indv {
                .hd-cont {
                    ._kr7m4r {
                        flex-direction: column;

                        &.fx-ai-c {
                            align-items: flex-start;
                        }

                        &.gp16 {
                            gap: 24px;
                        }
                    }
                }

                .sc-cont {
                    &.mr-t26 {
                        margin-top: 24px;
                    }
                }

                .calend-left-indv {
                    padding: 24px;
                    border-radius: 8px 0 0 8px;

                    ._5q6vv {
                        padding: 12px;
                    }
                }
            }
        }
    }

    @include responsive(1127px) {
        .section_calendar_admin {
            .contCalendarVvoFlex {
                margin: 0 24px;
            }

            .fc .fc-view-harness {
                height: calc(100vh - 198px) !important;
            }
        }

        .content_icon-leng {
            display: none;
        }

        .container-medio {
            width: 100%;
        }
    }

    @media screen and (max-width: 1125px) {
        .section_calendar_indv_admin {
            // ._19r7tqhd {
            //     &::before {
            //         border: none;
            //     }
            // }

            .medio-cl-indv {
                .calend-right-indv {
                    position: fixed;
                    inset: 0;
                    z-index: 99;
                    top: 100vh;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .4s ease;

                    flex: none;
                    width: auto;
                    min-width: auto;

                    ._10toigd {
                        display: block;
                        padding: 24px 24px 0;
                    }
                }
            }

            &.is-main-info-open {
                .medio-cl-indv {
                    .calend-right-indv {
                        top: 0;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 900px) {
        ._10toigd {
            display: block;
        }

        // animacion
        .is-calendar-open {
            .left_calendar_admin {
                flex: 0 1 0%;
                margin: 0;
                padding: 0;
                opacity: 0;
            }

            .medio_calendar_admin {
                flex: 1 1 0%;
                opacity: 1;
            }
        }

        // padding
        .pd-130-0-50, .pd-145-0-50 {
            // padding: 24px 0 4.8rem;
            padding: 0;
            padding-bottom: 4rem;
        }

        .container-medio {
            width: 100%;
        }

        // submenu header
        // .header_admin {
        //     padding: 0;
        //     display: block;
        //     border: none;

        //     ._mv-places {
        //         padding: 14px 0;
        //         border-top: 1px solid $color-background;
        //     }

        //     .logo-menu {
        //         display: none;
        //     }

        //     ._puntos3 {
        //         ._menu-m {
        //             top: -7rem;
        //         }
                
        //         &.is-active {
        //             ._menu-m {
        //                 top: -7rem;
        //             }
        //         }
        //     }

        //     // active nav icon calendar
        //     .book-form {
        //         ._flex-js {
        //             a {
        //                 &:nth-child(3) {
        //                     ._flex {
        //                         .icon_red {
        //                             color: $color-secundary;
        //                         }

        //                         span {
        //                             color: $color-black;
        //                         }
        //                     }
        //                 }
        //             }

        //             ._flex {
        //                 .icon_red {
        //                     color: #b0b0b0;
        //                 }

        //                 span {
        //                     font-size: 10px;
        //                     line-height: 12px;
        //                     color: $color-text;
        //                 }
        //             }
        //         }
        //     }
        // }

        // icon leng
        // .content_icon-leng {
        //     display: none;
        // }

        footer {
            display: none;
        }

        .cont-h2 {
            padding: 24px 0 0 20px;

            .h2-guests {
                margin-right: 20px;
            }

            .search_content {
                margin-right: 20px;
            }
        }

        .left_calendar_admin {
            .section-listing {
                padding: 0 20px 20px 0;
                margin-bottom: 0;

                &::-webkit-scrollbar {
                    display: none; 
                }
            }
        }

        .h2-guests {
            font-size: 25px;
        }

        .h2_publish {
            font-size: 35px;
        }

        .cont-h2 {
            .h2-guests {
                margin-top: 0;
            }
        }

        .left_calendar_admin {
            .pd-t10 {
                padding-top: 0;
            }
        }

        .section_calendar_indv_admin {
            table {
                tbody {
                    ._bkgcurrentlycld, ._bkgrequestcld {
                        position: absolute;
                        bottom: 4px;
                        left: 4px;
                        right: 4px;
                        padding: 6.6px 8px;
                    }
                }
            }

            .medio-cl-indv {
                padding: 24px;

                .calend-left-indv {
                    padding: 0;

                    ._5q6vv {
                        padding: 6px;
                    }
                }
            }
        }

        .section_calendar_admin {
            .medio_calendar_admin {
                ._main-list-fech {
                    padding-top: 24px;
                }

                .tbody-list-doller {
                    margin-bottom: 20px;
                }
            }
        }
    }

    @include responsive(743px) {
        // Calendar individual - Create new custom setting
        .container_ci_nw_cs {
            .pd_anhost-modal {
                .modal_content-anhost {
                    ._zjunba {
                        padding: 16px 24px 38px;
                    }
                }
            }
        }
    }
}

// ---------- OTROS ----------
// select white fit-content
.selected-modal {
    width: fit-content;
    margin: 0;
}


// TEXTOS
._txteh {
    margin: 0;
}

._txtblu, ._txtblu16 {
    margin: 0;
    line-height: inherit;
}

// PADDINGS
.pd-130-0-50 {
    padding: 130px 0 50px;
}

.pd-145-0-50 {
    padding: 145px 0 50px;
}

.pd-r30 {
    padding-right: 30px;
}

// check circle azul y gris
._ck2ag {
    position: absolute;
    top: 9px;
    right: 8px;
}

// TABLA
._tb-reservations {
    tbody {
        tr {
            &:not(:last-child) {
                border-bottom: none;
            }
        }

        td {
            padding: 0;
        }
    }
}

// imagenes de la tabla
._cont-l-img {
    ._ad-list_img {
        width: 75px;
        height: 65px;
    }
}

.check_click {
    width: 100%;

    input:checked + .bg_check_click {
        box-shadow: $color-primary 0px 0px 0px 2px inset;
    }
}

.bg_check_click {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 9px 8px;
    display: flex;
    align-items: center;
    gap: 11px;
    box-shadow: $color-background 0px 0px 0px 1px inset;
    position: relative;

    ._f-t {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}


// section_calendar_admin
.left_calendar_admin {
    flex: 0 0 400px;
    transition: all .5s ease;

    @include responsive(900px) {
        flex: 1 1 0%;
        padding: 0;
    }
}

.medio_calendar_admin {
    flex: 1 1 0%;
    transition: all .5s ease;

    @include responsive(900px) {
        flex: 0 1 0%;
    }
}

.section_calendar_indv_admin {
    .thead {
        margin: -1px;
        position: sticky;
        top: 0;
        z-index: 9;

        .th {
            background-color: $color-secundary;
            padding: 15.5px 0;
            min-width: 8px;
            min-height: 38px;
            width: 14.285%;
            @include flex-centrado;

            &:not(:last-child) {
                border-right: 1px solid $color-white;
            }
        }
    }
    table {
        tbody {
            ._17oofu3 {
                &:disabled {
                    cursor: not-allowed;
                    box-shadow: none;

                    ._bkgrsdoll {
                        opacity: .3;
                    }
                }
            }

            ._bkgrsdoll, ._bkgcurrentlycld {
                margin-top: auto;
            }

            ._bkgcurrentlycld, ._bkgrequestcld {
                position: absolute;
                bottom: 12px;
                left: 11px;
                right: 11px;
            }

            // perfil tamaño
            ._pf-msg {
                max-width: 29px;
                min-width: 29px;
                height: 29px;
                border: 1px solid $color-background;
            }

            tr {
                &:hover {
                    background-color: transparent;
                }

                td {
                    min-width: 8px;
                    min-height: 68px;
                    width: 14.285%;
                    position: relative;
                    background-color: $color-white;

                    &:not(:last-child) {
                        border-right: 1px solid $color-white;
                    }
                }
            }
        }
    }

    .medio-cl-indv {
        .calend-left-indv {
            flex: 1 1 0%;
            border-radius: 10px 0 0 10px;
            padding: 31px 43px;
        }

        .calend-right-indv {
            flex: 0 0 414px;
            width: 414px;
            min-width: 414px;
            border: 2px solid $color-background;

            .pd50 {
                padding: 50px 32px 26px;
            }

            .pd23 {
                padding: 23px 32px;
            }

            ._bkgris {
                border-radius: 10px;
                background-color: rgba(227, 237, 243, 0.3);
                padding: 14px 30px;
            }
        }
    }
}

.section_calendar_admin {
    // margin-top: 110px;

    .calendar_scroll {
        &::-webkit-scrollbar {
            background-color: #fafafa;
            width: 15px;
            height: 15px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #c1c1c1;
            border: 3px solid #fafafa;
            border-radius: 12px;
        }
    }

    .medio_calendar_admin {
        // 4 botones arriba december - today - 16 opportunities - layers
        ._header-btns4 {
            margin-bottom: 16px;
        }

        // flecha del thead left blue
        ._fleft-tb {
            margin: 0 14.6px 1.8rem 11.6px;
            cursor: pointer;
        }

        // flecha del thead right blue
        ._fright-tb {
            margin-left: 14.6px;
            transition: transform .3s ease;
            cursor: pointer;
        }

        ._bkgris {
            border-radius: 10px;
            background-color: rgba(227, 237, 243, 0.3);
            padding: 14px 31px;
        }

        ._tb-reservations {
            thead {
                tr {
                    border-bottom: 0;
                }

                th {
                    cursor: pointer;
                    padding: 6.5px;
                    width: 80px;
                    text-align: center;
                    background-color: $color-white;
                    box-shadow: $color-background 0px 0px 0px 1px inset;
                }

                .active_blue_tb {
                    background-color: $color-primary;
        
                    ._txtbold7d14 {
                        color: $color-white;
                    }
                }
            }

            tbody {
                tr {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        z-index: 1;
                    }
                }

                .active_br_blue_table {
                    &::before {
                        box-shadow: $color-primary 0 0 0 2px inset;
                    }
                }

                td {
                    padding: 6.5px;
                    width: 80px;
                    height: 78px;
                    text-align: center;
                    background-color: $color-white;
                    box-shadow: $color-background 0px 0px 0px 1px inset;
                    position: relative;
                    overflow: hidden;
                }

                .not-linetb {
                    position: absolute;
                    top: -12px;
                    left: 50%;
                    right: 50%;
                    transform: rotate(45deg);
                    width: 2px;
                    height: 132%;
                    background-color: $color-background;
                }

                ._ctly-htg-ver {
                    background-color: $color-background;
                }
            }
        }

        ._main-list-fech {
            padding-top: 25px;
            padding-right: 68.6px;

            ._scrolltable {
                padding-bottom: 15px;
                overflow: overlay;
            }

            ._tb-reservations {
                min-width: max-content;
            }

            ._fright-tb {
                margin-bottom: 1.8rem;
            }
        }

        // medio del cuadro dollar nivel
        .tbody-list-doller {
            margin: 0 0 25px 35px;
            background-color: $color-white;

            ._scrolltable {
                height: 100%;
                overflow: auto;

                &::-webkit-scrollbar:horizontal{
                    display: none;
                }
            }
        }

        // right rectangulo blanco contenido del click show info <
        .right_bk_show {
            flex: 93px;
            width: 93px;
            min-width: 93px;
            max-width: 100%;
            background-color: $color-white;
            border: 2px solid $color-background;
            box-shadow: -30px 0 40px 0 rgb(0 0 0 / 29%);
            transition: all .3s ease;
            z-index: 1;

            .ow-a {
                overflow: hidden;
            }

            &.active-info {
                flex: 414px;
                width: 414px;
                min-width: 414px;

                .ow-a {
                    overflow: auto;
                }

                .show-inf-details-calendar {
                    opacity: 1;
                    visibility: visible;
                }

                .object {
                    padding-right: 12rem;
                }

                ._fright-tb {
                    transform: rotate(180deg);
                }
            }

            .block-pd-cl {
                &:not(:last-child) {
                    border-bottom: 2px solid $color-background;
                }

                &.rs {
                    padding: 0 32px 22px;
                }

                &.sw-pf {
                    padding: 23px 32px 31px;
                }

                &.checks {
                    padding: 23px 32px 21px;
                }
            }

            .show-inf-details-calendar {
                transition: all .3s ease;
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    // full calendar
    .fc .fc-toolbar.fc-header-toolbar {
        margin-bottom: 13px;
    }
    
    .fc-scrollgrid-liquid tbody tr td:nth-child(3) .fc-scroller-harness {
        margin-right: 92px;
    }
    
    .fc .fc-toolbar-title {
        font-size: 23px;
        color: #2A2A2A;
    }
    
    .fc .fc-button-primary:disabled {
        opacity: .5;
        cursor: not-allowed;
    }
        
    .fc-button-group {
        gap: 8px;
    }
        
    .fc .fc-button {
        font-size: 16px;
        line-height: 20px;
        padding: 12px;
        border-radius: 8px !important;
        border: none;
        box-shadow: 0 0 0 1px #E3EDF3 inset !important;
    }
        
    .fc .fc-button-primary {
        background-color: white !important;
        box-shadow: 0 0 0 2px #7D7D7D inset;
        color: #7D7D7D !important;
    }
        
    .fc .fc-cell-shaded, .fc .fc-day-disabled {
        background-color: rgba(227, 237, 243, 0.3);
    }
        
    .fc .fc-button-primary:hover {
        background-color: rgba(227, 237, 243, 0.3) !important;
    }
        
    .fc .fc-button-primary:active {
        transform: scale(0.96);
        background-color: rgba(227, 237, 243, 0.3);
    }
        
    .fc .fc-button:focus {
        box-shadow: 0 0 0 2px #7D7D7D inset !important;
    }
        
    .fc .fc-button .fc-icon {
        font-size: 20px !important;
        color: #00B5DD;
    }
        
    /* border del contenido */
    .fc-theme-standard .fc-scrollgrid {
        border: none;
    }
        
    .fc-theme-standard td, .fc-theme-standard th {
        border: 1px solid #E3EDF3;
    }

    .fc .fc-scrollgrid-section > * {
        border-top-width: 0;
        border-left-width: 0;
    }

    .fc .fc-scrollgrid, .fc .fc-scrollgrid-section-footer>*, .fc .fc-scrollgrid-section-header>* {
        border-bottom-width: 0;
    }
        
    /* thead dias */
    .fc-direction-ltr .fc-timeline-slot {
        width: 80px !important;
    }
        
    thead .fc-scroller {
        padding-bottom: 9px;
    }
        
    .fc th {
        background-color: white;
    }
        
    .fc .fc-timeline-slot-cushion {
        padding: 6.5px;
        font-size: 12px;
        color: #7D7D7D;
        font-weight: bold;
    }
        
    .fc-scrollgrid-sync-table {
        border: 1px !important;
    }
        
    /* sear listings left */
    tbody .fc-scrollgrid-section td:nth-child(1) {
        border: 0;
    }
        
    tbody .fc-scrollgrid-section td:nth-child(3) {
        border: 1px solid #E3EDF3;
    }
        
    td.fc-timeline-lane.fc-resource {
        /* border: 1px solid #E3EDF3 !important; */
        border-top-width: 0 !important;
        border-right-width: 0 !important;
        border-left-width: 0 !important;
        box-shadow: 0 1px 0 0 #E3EDF3;
    }
        
    .fc .fc-datagrid-cell-cushion {
        padding: 0;
        height: 100%;
    }
        
    table.fc-datagrid-body.fc-scrollgrid-sync-table tbody tr td, th.fc-datagrid-cell {
        border: 0;
    }
        
    table.fc-datagrid-body.fc-scrollgrid-sync-table tbody tr td .fc-datagrid-cell-frame {
        height: 148px !important;
    }
        
    .fc .fc-datagrid-header .fc-datagrid-cell-frame {
        margin-right: 30px;
    }
        
    .fc-datagrid-cell-frame :not(:first-child) {
        min-height: auto !important;
    }
        
    .fc-datagrid-cell-main .checkbox-item_img {
        padding-right: 30px;
        height: 100%;
    }
        
    .fc-datagrid-cell-main .checkbox-item_img .check_click {
        height: 100%;
        overflow: hidden;
    }

    .bg_check_click {
        ._f-t {
            min-height: auto !important;
        }

        &:hover {
            background-color: rgba(227, 237, 243, 0.3);
        }
    }

    .fc-direction-ltr .fc-timeline-event:not(.fc-event-start):before, .fc-direction-rtl .fc-timeline-event:not(.fc-event-end):after {
        display: none;
    }
    
    /* dollar con icono */
    .fc-timeline-slot ._badsdoller {
        /* position: absolute; */
        width: 100%;
        // background-color: white;
        height: 148px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 0 1px #E3EDF3;
    }
        
    /* reservaciones */
    .fc-h-event {
        border: 0;
        background-color: white;
    }
        
    .fc-timeline-event {
        padding: 0;
        border-radius: 5px;
    }
        
    .fc-timeline-event .fc-event-time, .fc-timeline-event .fc-event-title {
        padding: 0 4px;
    }
        
    .fc-h-event .fc-event-title {
        font-size: 12px;
        color: white;
        font-weight: bold;
    }
        
    .fc-h-event .fc-event-main {
        height: 100%;
    }
        
    .fc-event-main > div {
        width: 100%;
        height: 100%;
    }
        
    .fc-license-message {
        display: none;
    }
        
    .reservationTripCalendar {
        width: 100%;
        height: 100%;
        padding: 4px 13px;
        border-radius: 5px;
    }
        
    .reservationTripCalendar svg {
        margin-right: 3px;
        min-width: 13px;
        width: 13px;
    }
        
    .reservationTripCalendar > div {
        gap: 5px;
    }
        
    .reservationTripCalendar ._txtboldff14 {
        white-space: nowrap;
    }
        
    .reservationTripCalendar.red {
        background-color: #FF5A5F !important;
    }
        
    .reservationTripCalendar.green {
        background-color: #2DDAB4 !important;
    }
        
    .reservationTripCalendar.plomo {
        background-color: #7D7D7D !important;
    }
        
    /* height dolar div */
    .hidlsfx {
        width: 100%;
        height: 148px;
        /* heighy: 170px;  alex*/
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 0 1px #E3EDF3;
    }
        
    .hidlsfx span {
        font-size: 12px;
        font-weight: bold;
        color: #7D7D7D;
    }
        
        
    /* calendar general */
    table.fc-datagrid-header.fc-scrollgrid-sync-table {
        width: 355px;
    }
        
    /* .section_calendar_admin {
        margin-top: 110px;
    } */
        
    .contCalendarVvoFlex {
        overflow: hidden;
        position: relative;
        display: flex;
    }
        
    .contCalendarVvoFlex #calendar {
        flex: 100%;
    }
        
    #calendar {
        max-width: none !important;
        margin: 0 !important;
    }
        
    .rgtContMrCal {
        /* padding-top: 8rem; */
        
        position: absolute;
        top: 8.6rem;
        right: 0;
        z-index: 2;
        bottom: 0;
        box-shadow: -30px 0 40px 0 rgb(0 0 0 / 29%);
        background-color: white;
    }

    .right_bk_show {
        flex: 93px;
        width: 93px;
        min-width: 93px;
        transition: all .3s ease;

        ._fright-tb {
            transition: transform .3s ease;
        }

        .show-inf-details-calendar {
            display: flex;
            height: 100%;
            flex-direction: column;
            overflow: auto;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease;
        }

        .borderCont {
            box-shadow: 0 0 0 1px #E3EDF3 inset;
        }

        .block-pd-cl {
            .gp21 {
                gap: 15px;
            }

            &.rs {
                padding: 0 30px 20px !important;
            }

            &.checks {
                padding: 21px 30px 19px !important;
            }

            &.sw-pf {
                padding: 21px 30px 29px !important;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #E3EDF3 !important;
            }
        }

        ._kr7m4r {
            margin-top: auto;
            border-top: 1px solid #E3EDF3;
            padding: 16px 30px;
        }

        .contCheckDetails {
            .iconFlecha {
                transition: all .3s ease;
            }
        }

        /* animacion info */
        &.active-info {
            flex: 372px;
            width: 372px;
            min-width: 372px;

            .iconFlecha {
                transform: rotate(180deg);
            }

            .show-inf-details-calendar {
                opacity: 1;
                visibility: visible;
            }
        }

        ._bkgris {
            padding: 12px 29px;
            border-radius: 8px;
            background-color: rgba(227, 237, 243, 0.3);
        }
    }

    /* / vacio td */
    .contNotLine {
        position: relative;
        width: 100%;
        height: 148px;
        box-shadow: 0 0 0 1px #e3edf3;

        .transf {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .not-linetb {
            position: absolute;
            top: 0;
            left: 50%;
            right: 50%;
            bottom: 0;
            transform: rotate(27deg);
            width: 1px;
            background-color: #E3EDF3;
        }
    }
}


/* calendar individual select */
.sectionCalendarIndSelect {
    .fc {
        th {
            background-color: #FF5A5F;
        }

        .fc-col-header-cell-cushion {
            padding: 12px 4px;
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
        }

        .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
            min-height: 6.9em;
        }

        .fc-scrollgrid-section > * {
            border-top-width: thin;
            border-left-width: thin;
        }

        .fc-daygrid-day-top {
            flex-direction: initial;
        }
    
        .fc-daygrid-day-number {
            font-size: 12px;
            line-height: 16px;
            color: #7D7D7D;
        }
    
        .fc-day-other ._badsdoller {
            opacity: .3;
        }
    }

    tbody .fc-scrollgrid-section td:nth-child(1) {
        border: 1px solid #E3EDF3;
    }

    thead .fc-scroller {
        padding-bottom: 0;
    }

    ._badsdoller {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: inherit;
        padding: 8px;

        ._bkgrsdoll {
            margin-top: auto;
        }
    }

    .fc-daygrid-event {
        white-space: normal;
    }

    .contCalendarVvoFlex {
        gap: 24px;
    }

    .rgtContMrCal {
        position: relative;
        top: 0;
        // padding-top: 57px;
        box-shadow: none;
        height: 700px;
        display: flex;
        flex-direction: column;

        &.right_bk_show {
            flex: 354px;
            width: 354px;
            min-width: 354px;
        }

        &.active-info {
            .hideInfoSlectDays {
                display: none; 
            }
        }
    }

    .sltNrlCont {
        flex: 48%;
      }
      
    .sltNrlCont .vvo-btn-select {
        width: 100%;
    }
}