@import "_variables";

.dates-location {
    padding: 100px 60px 0;

    @include responsive(1400px) {
        padding: 52px 24px 0;
    }
}

.content_dates-local {
    @include responsive(1023px) {
        text-align: center;
    }

    h3 {
        color: #333333;
        font-size: 60px;
        font-weight: 900;
        line-height: 60px;

        @include responsive(1400px) {
            font-size: 32px;
            line-height: normal;
        }
    } 

    .card_items {

        .card_info {

            h3 {
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
                font-weight: 400;
            }
        }
    }

    .card_items {
        width: auto;
    }

    // .owl-carousel.owl-drag .owl-item {
    //     max-width: 280px;
    // }

    // .owl-stage {
    //     @include flex-centrado;
    //     width: 4948px !important;

    //     @include responsive(1025px) {
    //         width: 3555px !important;
    //     }

    //     @include responsive(710px) {
    //         width: 3650px !important;
    //     }
    // }

    // .owl-carousel .owl-nav.disabled {
    //     display: block !important;  
    // }

    .owl-carousel .owl-nav button {
        position: absolute;
        background: white;
        top: 0;  
        bottom: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(0%);
        font-size: 60px !important;
        color: #00B5DD !important;
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: -33px;
    }
    
    .owl-carousel .owl-nav button.owl-next {
        right: -33px;
    }

    .star {
        padding: 6px 14.6px;
      
        .content-star {
            
            i {
                color: #00B5DD;
            }
        }
    }

    .block_a {
        margin-top: 38px;
        display: flex;
        justify-content: center;
    }
}