
@import "_variables";
 
// Header

.header-fixed {
    display: none;
}

header {
    position: relative;   
    top: 0; 
    margin-bottom: 80px; 
    background-color: $color-background2;
}

header.fixed {
    animation: none;  
}

header .book-form {
    animation: none;
    visibility: visible;
    width: auto;
    visibility: visible;
    opacity: 1;
} 