@import "_variables";

._location-he {
    ._mv-places {
        ._remove {
            display: none;
        }
    }
}

header {
    position: absolute;
    padding: 20px 0;
    z-index: 30; 
    transition: all .5s ease;

    &.fixed {
        background-color: $color-bg-header;
        position: fixed;
        animation: fixHeader .5s ease;
    }

    @include keyframes-animation(fixHeader) {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(-0%);
        }
    }

    .medio, .container-medio {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }

    .book-form {
        position: relative;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;

        @include responsive(1450px) {
            display: none;
        }

        form {
            gap: 40px;
            padding: 0;

            ._flex-js {
                gap: 5px;

                .inputBox {
                    margin: 0 5px;

                    &:not(:last-child) {
                        border-right: none;
                    }

                    &:nth-child(1) {
                        display: none;
                    }

                    label {
                        width: 128px;
                        margin-right: 10px;
                    }

                    span {
                        color: $color-white;
                    }

                    .place_select {
                        i {
                            position: relative;
                            display: flex;
                            align-items: center;
                            margin-top: 10px;

                            span {
                                color: $color-white;
                            }

                            input {
                                width: 100%;
                                color: $color-white;

                                &::placeholder {
                                    color: $color-white;
                                }
                            }

                            i {
                                color: $color-white;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }

            .btn {
                flex: none;
                border-radius: 10px;
            }
        }

        ._bef-places {
            margin-top: 31px;

            .cpd2btns {
                .txtunder__ics {
                    ._txtec {
                        color: #333;
                    }

                    &:hover {
                        ._txtec {
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    @include responsive(1400px) {
        min-height: 80px;
        height: 80px;
    }
}

._mv-places {
    transition: all .3s ease;
}

._header-menu {
    &.is-active {
        .menu_home-content {
            top: 67px;
            opacity: 1;
            visibility: visible;

            @include responsive(1400px) {
                top: 50px;
            }
        }
    }
}

.menu__text-link {
    display: inline-block;
    font-size: 18px !important;
    color: #7D7D7D !important;
    display: flex;
    white-space: nowrap;
    width: 100%;
    font-weight: normal;
    align-items: center;

    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: inherit;
    padding: 16px 20px;

    &:hover {
        background-color: rgba(237, 237, 243, .5);
    }

    @include responsive(1400px) {
        padding: 12px 16px !important;
        font-size: 14px !important;
        line-height: 18px !important;
    }
}

.wf10a {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

.bold__menu-text-link {
    color: #2A2A2A !important;
}

// notification punto rojo submenu
.not__ics-circle {
    display: inline-block;
    width: 6px;
    height: 6px;
    top: -2px;
    vertical-align: top;
    background-color: #FF5A5F;
    border-radius: 50%
}

.menu { 
    @include flex-centrado;

    &_items {
        margin-right: 50px;

        img,
        i {
            margin-right: 10px;   
        }
    }

    a, span {
        color: white;
        font-size: 18px;
        // font-weight: 400;  

        @include responsive(1100px) {
            font-size: 16px;
        }
    }

    a {
        display: flex;
        align-items: center;
    }

    &_perfil {
        margin-right: 20px;
        
        span {
            @include flex-centrado;
    
            img {
                width: 48px;
                height: 48px;
                object-fit: cover;
                border-radius: 50%;
                border: 2px solid $color-love-red;   
                margin-right: 5px;

                @include responsive(1100px) {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .menu_home-content {
        position: absolute;
        top: 95px;
        right: -10px;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease;
        border-radius: 10px;
        border: 2px solid #E3EDF3;

        @include responsive(1400px) {
            border: 1px solid #E3EDF3;
        }

        &.active {
            top: 95px;
            visibility: visible;
            opacity: 1;
        }

        .menu__triang-ics {
            top: -6px;
            right: 10px;
            bottom: 0;
        }

        &-items {
            position: relative;
            padding: 8px 0;
            width: 270px;
            background-color: $color-white;
            border-radius: 10px;
            @include _shadow-black3-6;

            @include responsive(1400px) {
                width: 240px;
            }

            .br-line {
                margin: 8px 0;
                height: 1px;
                background-color: $color-background-perfile;
            }

            .cl_7d-menu {
                li,
                a {
                    color: #7d7d7d;
                }
            }

            ul {
                li {
                    cursor: pointer;
                    display: block;

                    color: $color-text-submenu;
                    font-size: 16px;
                    line-height: 24px;
                    padding: 10px 10px 10px 16px;

                    a {
                        font-size: 16px;
                        color: $color-text-submenu;
                        transition: all .3s ease;
                    }
                }
            }

            // &:before {
            //     content: "";
            //     position: absolute;
            //     top: -17px;
            //     left: 93%;
            //     transform: translateX(-50%);
            //     z-index: 1;
            //     border: 8px solid;
            //     border-color: transparent transparent $color-background-perfile transparent;

            //     @include responsive(768px) {
            //         top: -17px;
            //         left: 94.5%;
            //     }
            // }
        }
    }
    
    i.fa-bars {
        color: white; 
        font-size: 20px; 
        cursor: pointer; 
    }  
}

.mnconfx {
    display: flex;
    align-items: center;
}






// vistas
.page__search {
    header {
        position: absolute;
        top: 0;
        z-index: 30;
    }

    .content_location {
        padding: 145px 0 30px;

        .flex_local-dates {
            height: 100%;
            justify-content: space-between;

            .content_location-width {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                height: 100%;

                .contact-map {
                    height: 100%;
                }
            }

            .content_view {
                height: 100%;
                overflow: auto;

                .hidden_galerias {
                    height: 100% !important;
                    height: 100% !important;
                }
            }
        }

        .hidden_galerias {
            display: flex;
            flex-direction: column;
            gap: 28px;

            .content_galerias {
                margin-bottom: 0;
            }
        }

        .pagination {
            margin: 2.5rem 0 15px;
        }
    }

    .footer {
        margin-top: 53px;
    }
}

.page__wishlist_interno {
    header {
        position: absolute;
        top: 0;
        z-index: 30;
    }

    .content_location {
        .flex_local-dates {
            padding: 145px 0 30px;
        }

        .content_view {
            display: flex;
            flex-direction: column;
            height: 100%;

            .hidden_galerias {
                display: flex;
                flex-direction: column;
                gap: 18px;
                overflow: auto;
            }
        }
    }

    .footer {
        margin-top: 53px;
    }
}


@include responsive(1400px) {
    .page__search {
        .content_location {
            padding: 104px 0 22px;
        }
    }

    .page__wishlist_interno {
        .content_location {
            .flex_local-dates {
                padding: 104px 0 22px;
            }
        }
    }

    .page__perfil_interno,
    .page__perfil_anfitrion {
        .header {
            margin-bottom: 0;
        }
    }

    .page__account_user {
        .header {
            margin-bottom: 0;
        }
    }

    .page__personal_info {
        .header {
            margin-bottom: 40px;
        }

        .medio-two {
            max-width: 1080px;
            width: 100%;
        }

        .footer {
            margin-top: 48px;
        }
    }

    .page_login_security {
        .header {
            margin-bottom: 40px;
        }

        .medio-two {
            max-width: 1080px;
            width: 100%;
        }

        .footer {
            margin-top: 24px;
        }
    }

    .page_payments {
        .header {
            margin-bottom: 40px;
        }

        .medio-two {
            max-width: 1080px;
            width: 100%;
        }

        .footer {
            margin-top: 48px;
        }
    }
}

// @include responsive(1127px) {
//     .page__perfil_interno {

//     }
// }

@include responsive(1100px) {
    .logo-menu{
        img{
            width: 185px;
        }
    }
    header{
        position: fixed;
    }
} 

@include responsive(1000px) {
    .logo-menu{
        img{
            width: 172px;
        }
    }
}

@include responsive(890px) {
    .logo-menu {
        img {
            width: 162px;
        }
    }
}

@include responsive(743px) {
    // icon activado solid
    .page__home {
        header {
            .menu_items {
                &.icon_explore {
                    @include header_icon_ui;
                }
            }
        }
    }

    .page__search {
        .content_location {
            padding: 0;
        }
    }

    .page__wishlist_interno {
        header {
            .menu_items {
                &.icon_wishlists {
                    @include header_icon_ui;
                }
            }
        }

        .content_location {
            .flex_local-dates {
                padding: 0;
                height: auto;
            }

            .content_location-width {
                &:nth-child(2) {
                    display: none;
                }
            }
        }

        footer {
            display: none;
        }
    }

    .page__wishlist {
        header {
            .menu_items {
                &.icon_wishlists {
                    @include header_icon_ui;
                }
            }
        }

        footer {
            display: none;
        }
    }

    .page__account_user,
    .page__perfil_interno {
        header {
            .menu_items {
                &.icon_profile {
                    @include header_icon_ui;
                }
            }
        }

        footer {
            display: none;
        }
    }

    .page__perfil_anfitrion {
        footer {
            display: none;
        }
    }

    .page__messages_user {
        &.is-message-open-nav {
            header {
                .menu {
                    bottom: -64px;
                }
            }
        }

        header {
            .menu_items {
                &.icon_inbox {
                    @include header_icon_ui;
                }
            }
        }

        .left_msg_user {
            margin-bottom: 3.9rem;
        }
    }

    .page__host {
        margin-bottom: 40px;

        footer {
            display: none;
        }
    }

    .page__trips_upcoming {
        .section_trips_upcoming {
            margin-bottom: 40px;
        }

        footer {
            display: none;
        }
    }

    .page__personal_info {
        padding-bottom: 24px;

        .header {
            display: none !important;
        }

        footer {
            display: none;
        }
    }

    .page_payments {
        .header {
            display: none !important;
        }

        footer {
            display: none;
        }
    }

    .page_govemment_id {
        .header {
            display: none !important;
        }

        .medio-two {
            max-width: 1080px;
            width: 100%;
            padding: 0 24px;
        }

        footer {
            display: none;
        }
    }

    .page_login_security {
        padding-bottom: 16px;

        .header {
            display: none !important;
        }

        footer {
            display: none;
        }
    }

    .page_interna_edit {
        margin-bottom: 40px;

        footer {
            display: none;
        }
    }


    body {
        header {
            margin: 0;
            height: 65px;
            display: contents !important;

            .mnconfx {
                flex-wrap: wrap;
                justify-content: center;
                gap: 0;

                & > a,
                .menu_items {
                    max-width: 20%;
                    flex: 1 1 0;
                    cursor: pointer;
                    background-color: transparent;
                    text-align: center;
                    text-decoration: none;
                    min-width: 0px;
                    overflow-wrap: break-word;
                    hyphens: auto;
                    padding: 0 2px;
                }
            }

            .medio {
                justify-content: center;
            }

            .logo-menu {
                display: none;
            }

            ._mv-places {
                transition: none;
            }

            .menu {
                position: fixed;
                bottom: 0;
                background-color: $color-white;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                z-index: 30;
                transition: bottom .3s ease;

                a,
                .menu span,
                .menu_items .sub {
                    color: #7D7D7D;
                    font-size: 10.5px !important;
                    line-height: 12px;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow-wrap: break-word;
                }

                .vvo_hambur {
                    display: none
                }

                .hmen {
                    max-width: 560px;
                    width: 100%;
                }

                .menu_items {
                    display: flex;
                    width: fit-content;
                    margin: 0;
                    flex-direction: column;
                    align-items: center;
                    gap: 4px;
                    text-align: center;

                    &.menu_perfil {
                        display: none;
                    }

                    i {
                        font-size: 22px;
                        font-weight: 400;
                        margin: 0;
                        color: #b0b0b0;
                    }

                    .i {
                        color: #b0b0b0;
                    }
                }

                .menu_home-content {
                    display: none;
                }

                .menu__triang-ics {
                    display: none;
                }

                .menu_home-content-items {
                    display: none;
                }

                // &.is-active {
                //     ._txtbold7d14 {
                //         color: #7D7D7D !important;
                //     }

                //     .menu_items {
                //         &.icon_explore {
                //             i {
                //                 font-weight: 300;
                //                 color: #b0b0b0;
                //             }

                //             .sub {
                //                 color: #7D7D7D;
                //                 font-weight: 500;
                //             }
                //         }

                //         &.icon_profile {
                //             @include header_icon_ui;
                //         }
                //     }

                //     .menu_home-content {
                //         display: block;
                //         position: fixed;
                //         inset: 0;
                //         border-radius: 0;
                //         border: 0;
                //         overflow: hidden;
                //         z-index: -1;

                //         &-items {
                //             display: block;
                //             min-width: auto;
                //             width: auto;
                //             height: -webkit-fill-available;
                //             border-radius: 0;
                //             padding-top: 36px;
                //             padding-bottom: 40px;
                //             margin-bottom: 3.9rem;
                //             box-shadow: none;

                //             .br-line {
                //                 margin: 16px 0 24px;
                //             }

                //             .menu__text-link {
                //                 padding: 20px 24px !important;
                //                 font-size: 16px !important;
                //                 line-height: 20px !important;
                //             }

                //             form {
                //                 margin-top: 16px;
                //                 padding: 24px;
                //             }

                //             .header_btn_log_out {
                //                 background-color: #00B5DD;
                //                 color: $color-white !important;
                //                 border-radius: 8px;
                //                 padding: 14px 24px !important;
                //                 transition: background-color 0.3s ease;

                //                 .wf10a {
                //                     text-align: center;
                //                     color: inherit;
                //                 }

                //                 &:hover {
                //                     background-color: #0096B7;
                //                 }

                //                 &:active {
                //                     transform: scale(0.96);
                //                     background-color: #0096B7;
                //                 }
                //             }
                //         }
                //     }
                // }
            }
        }
    }
}

