@import "_variables";

.container_leng_region {
    .fxfbwhmhbrzi {
        max-width: 1300px;
        max-height: 936px;
        height: 100%;

        @include responsive(1440px) {
            max-width: 1032px;
        }

        @include responsive(743px) {
            max-height: initial;
        }
    }

    .h2-guests {
        font-size: 35px;
    }

    .cont_fxtl {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .content_hidden {
        margin-top: 38px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .popup_leng_modal {
        .content_leng {
            overflow: hidden;
        }
    }

    @include responsive(1400px) {
        .content_hidden {
            margin-top: 24px;
        }
    }
}