@import "_variables";

// MODALS OTROS CLASES
body {
    // Messages modal del icono anuncio
    .container_user_f_p {
        display: none;

        .fxfbwhmhbrzi {
            max-width: 789px;

            @include responsive(1400px) {
                max-width: 568px;
            }
        }
    }

    // Calendar individual - popup private note add >
    .container_popup_ntpve {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 648px;
                overflow: hidden;

                ._zjunba {
                    padding: 29px 50px 35px;
                }

                ._numcard {
                    padding-left: 17px;
                }
            }
        }
    }

    // Calendar individual - Create new custom setting
    .container_ci_nw_cs {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                ._zjunba {
                    padding: 29px 50px 35px;
                }

                ._numcard {
                    padding-left: 17px;
                }
            }
        }
    }

    // Popup modal listing post
    .container_popup_rsapid {
        // display: none;

        .fxfbwhmhbrzi {
            max-width: 796px;

            @include responsive(1400px) {
                max-width: 716px;
            }
        }

        @include responsive(1400px) {
            .mr-t63 {
                margin-top: 43px;
            }

            .mr-t31 {
                margin-top: 21px;
            }
        }
    }

    .container_poliandrulesedit {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .mr-t54 {
                        margin-top: 38px;
                    }

                    .gp49 {
                        gap: 29px;
                    }

                    .gp19 {
                        gap: 14px;
                    }

                    .gp7 {
                        gap: 2px;
                    }
                }

                ._zjunba {
                    padding: 49px 50px 35px;
                }
            }
        }
    }

    // admin-today.php
    .container_pprnme {
        display: none;
    }

    // listing.php
    .container_popup_filters_listings {
        display: none;

        .fxfbwhmhbrzi {
            max-width: 768px;
        }

        @include responsive(1400px) {
            .fxfbwhmhbrzi {
                max-width: 568px;
            }
        }

        // @include responsive(1270px) {
        //     display: ;
        // }
    }

    // listing-status-popup-deactivate.php
    .container_lspopupdesct {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .gp18 {
                        gap: 10px;
                    }

                    .mr-t20 {
                        margin-top: 14px;
                    }

                    .block-lb {
                        gap: 8px;
                    }
                }

                ._zjunba {
                    padding: 49px 50px 35px;
                }
            }
        }
    }

    // listing-status-popup-amenities.php
    .container_lgssppas {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .mr-b76 {
                        margin-bottom: 40px;
                    }

                    .gp18 {
                        gap: 10px;
                    }

                    .mr-t16 {
                        margin-top: 8px;
                    }

                    ._bkpd352btns {
                        padding: 25.5px 0;
                    }

                    .gp24 {
                        gap: 14px;
                    }

                    .gp30 {
                        gap: 20px;
                    }
                }

                .modal_block {
                    .content_hidden-anhost {
                        margin: 0 32px;
                        overflow: hidden;

                        @include responsive(1400px) {
                            margin: 0 24.5px;
                        }

                        @include responsive(743px) {
                            margin: 0;
                        }

                        ._wpwi48 {
                            padding: 0 18px;
                            padding-bottom: 2rem !important;
                            height: 100%;
                            overflow: auto;

                            @include responsive(1400px) {
                                padding: 0 10.5px;
                            }

                            @include responsive(743px) {
                                padding: 0 24px;
                            }
                        }
                    }
                }

                ._zjunba {
                    padding: 30px 50px 35px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // listing-status-popup-amenities1.php
    .container_lgssppas1 {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 718px;
                overflow: hidden;

                @include responsive(1400px) {
                    .mr-b50 {
                        margin-bottom: 36px;
                    }

                    ._bkpd352btns {
                        padding: 25px 0;
                    }

                    .gp17 {
                        gap: 10px;
                    }

                    .mr-t26 {
                        margin-top: 16px;
                    }
                }

                ._wpwi48 {
                    padding: 0 43px;

                    @include responsive(1400px) {
                        padding: 0 35px;
                    }
                }

                .modal_block {
                    .content_hidden-anhost {
                        margin-bottom: 0;
                    }
                }

                .block-lb {
                    gap: 17px;

                    @include responsive(1400px) {
                        gap: 8px;
                    }
                }

                ._zjunba {
                    padding: 30px 43px 35px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }

    // listing-instant-off-popup3.php
    .container_lsitofpp3 {
        display: none;

        .pd_anhost-modal {
            align-items: inherit;

            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .mr-t20 {
                        margin-top: 14px;
                    }

                    .mr-t57 {
                        margin-top: 37px;
                    }

                    .gp35 {
                        gap: 15px;
                    }

                    .gp20 {
                        gap: 14px;
                    }

                    .mr-b26 {
                        margin-bottom: 16px;
                    }
                }

                .block-lb {
                    gap: 17px;

                    @include responsive(1400px) {
                        gap: 10px;
                    }
                }

                ._zjunba {
                    padding: 30px 50px 35px;
                    margin-top: auto;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // listing-status-popup-unlisted.php
    .container_lspud {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .gp18 {
                        gap: 12px;
                    }
                }

                ._bkdatepd14 {
                    @include responsive(1400px) {
                        padding: 12px;
                        border-radius: 8px;
                    }

                    svg {
                        min-width: 9px;
                    }
                }

                ._zjunba {
                    padding: 30px 50px 35px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    .container_lsitofpp3 {
        display: none;

        .pd_anhost-modal {
            align-items: inherit;

            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .mr-b26 {
                        margin-bottom: 16px;
                    }

                    .gp15 {
                        gap: 10px;
                    }

                    .gp50 {
                        gap: 29px;
                    }

                    .mr-t57 {
                        margin-top: 41px;
                    }

                    .gp7 {
                        gap: 2px;
                    }
                }

                ._zjunba {
                    padding: 30px 50px 35px;
                    margin-top: auto;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    .container_lsitofpp2 {
        display: none;

        .pd_anhost-modal {
            align-items: inherit;

            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .mr-b26 {
                        margin-bottom: 16px;
                    }

                    .gp15 {
                        gap: 10px;
                    }

                    .gp50 {
                        gap: 29px;
                    }

                    .mr-t57 {
                        margin-top: 41px;
                    }

                    .gp7 {
                        gap: 2px;
                    }
                }

                ._zjunba {
                    padding: 30px 50px 35px;
                    margin-top: auto;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    .container_lsitofpp1 {
        display: none;

        .pd_anhost-modal {
            align-items: inherit;

            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .mr-b26 {
                        margin-bottom: 16px;
                    }

                    .gp15 {
                        gap: 10px;
                    }

                    .mr-t45 {
                        margin-top: 35px;
                    }

                    .gp20 {
                        gap: 14px;
                    }
                }

                .block-lb {
                    gap: 17px;

                    @include responsive(1400px) {
                        gap: 10px;
                    }
                }

                ._zjunba {
                    padding: 30px 50px 35px;
                    margin-top: auto;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    .container_lsadrspp {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .gp16 {
                        gap: 10px;
                    }

                    .gp28 {
                        gap: 20px;
                    }
                }
            }
        }
    }

    .container_lsctls {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .gp16 {
                        gap: 8px;
                    }

                    .mr-t35 {
                        margin-top: 25px;
                    }

                    .gp35 {
                        gap: 25px;
                    }
                }

                ._zjunba {
                    padding: 30px 50px 35px;
                }
            }
        }
    }

    // listing-status-popup-deactive.php
    .container_lssppde {
        display: none;

        .pd_anhost-modal {
            align-items: inherit;

            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .mr-t20 {
                        margin-top: 14px;
                    }

                    .mr-t57 {
                        margin-top: 37px;
                    }

                    .gp35 {
                        gap: 15px;
                    }

                    .gp20 {
                        gap: 14px;
                    }

                    .mr-b26 {
                        margin-bottom: 16px;
                    }
                }

                .block-lb {
                    gap: 17px;

                    @include responsive(1400px) {
                        gap: 10px;
                    }
                }

                ._zjunba {
                    padding: 30px 50px 35px;
                    margin-top: auto;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // listing-status-popup-deactive1.php
    .container_lssppde1 {
        display: none;

        .pd_anhost-modal {
            align-items: inherit;

            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .mr-t20 {
                        margin-top: 14px;
                    }

                    .mr-t57 {
                        margin-top: 37px;
                    }

                    .gp35 {
                        gap: 15px;
                    }

                    .gp20 {
                        gap: 14px;
                    }

                    .mr-b26 {
                        margin-bottom: 16px;
                    }
                }

                .block-lb {
                    gap: 17px;

                    @include responsive(1400px) {
                        gap: 10px;
                    }
                }

                ._zjunba {
                    padding: 30px 50px 35px;
                    margin-top: auto;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // listing-status-popup-deactive3.php
    .container_lssppde3 {
        display: none;

        .pd_anhost-modal {
            align-items: inherit;

            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .mr-b26 {
                        margin-bottom: 16px;
                    }

                    .gp18 {
                        gap: 9px;
                    }

                    .mr-t56 {
                        margin-top: 36px;
                    }
                }

                ._txttdu3 {
                    width: fit-content;
                }

                @include responsive(743px) {
                    .bk-icon-des {
                        flex-direction: column;
                    }

                    .mnw-p48 {
                        min-width: auto;
                        width: fit-content;
                    }
                }

                ._zjunba {
                    padding: 30px 50px 35px;
                    margin-top: auto;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // popup-rooms-spaces-step1.php
    .container_pprssss1 {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 860px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 780px;

                    .mr-b25 {
                        margin-bottom: 15px;
                    }

                    .gp18 {
                        gap: 10px;
                    }

                    .mr-t16 {
                        margin-top: 8px;
                    }

                    ._bkpd352btns {
                        padding: 25.5px 0;
                    }
                }

                .modal_block {
                    .content_hidden-anhost {
                        margin: 0 32px;
                        overflow: hidden;

                        @include responsive(1400px) {
                            margin: 0 24.5px;
                        }

                        @include responsive(743px) {
                            margin: 0;
                        }

                        ._wpwi48 {
                            padding: 0 18px;
                            height: 100%;
                            overflow: auto;

                            @include responsive(1400px) {
                                padding: 0 10.5px;
                            }

                            @include responsive(743px) {
                                padding: 0 24px;
                            }
                        }
                    }
                }

                ._zjunba {
                    padding: 30px 50px 35px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // edit-rooms-and-spaces.php
    .container_etrsadss {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 687px;
                overflow: hidden;

                @include responsive(1400px) {
                    .mr-b25 {
                        margin-bottom: 15px;
                    }

                    .gp18 {
                        gap: 10px;
                    }

                    .mr-t16 {
                        margin-top: 8px;
                    }

                    ._bkpd352btns {
                        padding: 25.5px 0;
                    }
                }

                // .modal_block {
                //     .content_hidden-anhost {
                //         margin: 0 32px;
                //         overflow: hidden;

                //         @include responsive(1400px) {
                //             margin: 0 24.5px;
                //         }

                //         @include responsive(743px) {
                //             margin: 0;
                //         }

                //         ._wpwi48 {
                //             padding: 0 18px;
                //             height: 100%;
                //             overflow: auto;

                //             @include responsive(1400px) {
                //                 padding: 0 10.5px;
                //             }

                //             @include responsive(743px) {
                //                 padding: 0 24px;
                //             }
                //         }
                //     }
                // }

                ._zjunba {
                    padding: 30px 50px 35px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // add-sleeping-arrangement.php
    .container_adsgat {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 687px;
                overflow: hidden;

                @include responsive(1400px) {
                    .mr-b25 {
                        margin-bottom: 15px;
                    }

                    .gp18 {
                        gap: 10px;
                    }

                    .mr-t16 {
                        margin-top: 8px;
                    }

                    ._bkpd352btns {
                        padding: 25.5px 0;
                    }
                }

                // .modal_block {
                //     .content_hidden-anhost {
                //         margin: 0 32px;
                //         overflow: hidden;

                //         @include responsive(1400px) {
                //             margin: 0 24.5px;
                //         }

                //         @include responsive(743px) {
                //             margin: 0;
                //         }

                //         ._wpwi48 {
                //             padding: 0 18px;
                //             height: 100%;
                //             overflow: auto;

                //             @include responsive(1400px) {
                //                 padding: 0 10.5px;
                //             }

                //             @include responsive(743px) {
                //                 padding: 0 24px;
                //             }
                //         }
                //     }
                // }

                ._zjunba {
                    padding: 30px 50px 35px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // learn-more-number-of-beds.php
    .container_lnmenrofbs {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 687px;
                overflow: hidden;

                @include responsive(1400px) {
                    .mr-b25 {
                        margin-bottom: 15px;
                    }
                }

                .modal_block {
                    .content_hidden-anhost {
                        margin: 0 32px;
                        overflow: hidden;

                        @include responsive(1400px) {
                            margin: 0 24.5px;
                        }

                        @include responsive(743px) {
                            margin: 0;
                        }

                        ._wpwi48 {
                            padding: 0 18px;
                            height: 100%;
                            overflow: auto;

                            @include responsive(1400px) {
                                padding: 0 10.5px;
                            }

                            @include responsive(743px) {
                                padding: 0 24px;
                            }
                        }
                    }
                }

                ._zjunba {
                    padding: 30px 50px 35px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // popup-rooms-spaces-step2.php
    .container_pprssss2 {
        display: none;

        .modal_content-anhost {
            max-width: 860px;
            overflow: hidden;

            .cont_details_hide {
                padding-bottom: 50px;
            }

            .modal_block {
                .content_hidden-anhost {
                    // margin: 0;
                    // margin-right: 44px;
                    // overflow: hidden;

                    // @include responsive(1400px) {
                    //     margin-right: 29px;
                    // }

                    // @include responsive(743px) {
                    //     margin-right: 0;
                    // }

                    // ._wpwi48 {
                    //     padding-right: 6px;
                    //     padding-bottom: 24px;
                    //     height: 100%;
                    //     overflow: auto;

                    //     @include responsive(743px) {
                    //         padding-right: 24px;
                    //     }
                    // }

                    .block-lb {
                        gap: 17px;

                        @include responsive(1400px) {
                            gap: 13px;
                        }
                    }
                }
            }

            ._zjunba {
                padding: 30px 50px 35px;

                .gp17 {
                    @include responsive(1400px) {
                        gap: 8px;
                    }
                }
            }

            @include responsive(1400px) {
                max-width: 780px;

                .mr-b30 {
                    margin-bottom: 20px;
                }

                .gp18 {
                    gap: 10px;
                }

                .mr-t16 {
                    margin-top: 8px;
                }

                ._bkpd50 {
                    padding: 35px 0;
                }

                .contCheckDetails {
                    .gp30 {
                        gap: 25.5px;
                    }

                    .mr-t14 {
                        margin-top: 10px;
                    }

                    .gp8 {
                        gap: 4px;
                    }
                }

                .cont_details_hide {
                    padding-bottom: 24px;
                }
            }
        }
    }

    // popup-guest-dafety.php
    .container_ppgtsy {
        display: none;

        .fxfbwhmhbrzi {
            max-width: 852px;
        }

        ._zjunba {
            padding: 30px 50px 35px;
        }

        @include responsive(1400px) {
            .fxfbwhmhbrzi {
                max-width: 652px;
            }

            .popup_guest_safety {
                .h2_publish {
                    font-size: 32px !important;
                }

                .h2-guests {
                    font-size: 22px !important;
                    line-height: 26px !important;
                }
            }
        }

        @include responsive(743px) {
            .mr-t80 {
                margin-top: 48px;
            }

            .mr-t24 {
                margin-top: 16px;
            }

            .mr-b24 {
                margin-bottom: 16px;
            }
        }
    }

    // popup-listing-post-edit-photos.php
    .container_pplgptetps {
        display: none;

        .fxfbwhmhbrzi {
            max-width: 996px;
        }

        ._zjunba {
            padding: 30px 50px 35px;
        }

        @include responsive(1400px) {
            .fxfbwhmhbrzi {
                max-width: 896px;
            }
        }
    }

    // popup-edit-photo.php
    .container_ppetpo {
        display: none;

        .fxfbwhmhbrzi {
            max-width: 1420px;
        }

        @include responsive(1400px) {
            .fxfbwhmhbrzi {
                max-width: 1320px;
            }
        }
    }

    // popup-change-photo.php
    .containerppcepo {
        display: none;

        .fxfbwhmhbrzi {
            max-width: 880px;
        }

        @include responsive(1400px) {
            .fxfbwhmhbrzi {
                max-width: 780px;
            }
        }
    }

    // popup-shown-guests.php
    .container_ppsngs {
        display: none;

        .fxfbwhmhbrzi {
            max-width: 768px;
        }

        @include responsive(1400px) {
            .fxfbwhmhbrzi {
                max-width: 568px;
            }

            .h2_publish {
                font-size: 26px;
            }

            .popup_shown_guests {
                .gp21 {
                    gap: 16px;
                }

                .mr-t21 {
                    margin-top: 16px;
                }
            }
        }
    }

    // popup-add-photos.php
    .container_ppadps {
        display: none;

        .modal_content-anhost {
            max-width: 1132px !important;
            overflow: hidden;
        }

        ._zjunba {
            padding: 30px 50px 35px;
            justify-content: normal !important;
        }

        @include responsive(1400px) {
            .modal_content-anhost {
                max-width: 1032px !important;
            }

            .mr-b50 {
                margin-bottom: 40px;
            }

            .gp18 {
                gap: 10px;
            }

            .cont_details_hide {
                padding-bottom: 24px;
            }
        }
    }
}

// quitar todo el @media tamaños etc dentro del modal
body {
    @media screen and (max-width: 1400px) {
        ._ntñsfts {
            // text decoration underline
            ._txtdecblu18 {
                font-size: 16px;
            }

            ._txtdecblu16 {
                font-size: 14px;
            }

            // input real
            ._inputreal {
                padding: 11px 14px;
                font-size: 16px;
            }

            ._hredtax120 {
                height: 80px;

                ._redtxt {
                    width: 296px;
                }

                ._bkgred {
                    left: -28rem;
                }
            }

            // modal user
            .reservation-details-cont {
                ._block-jsb,
                ._flex_users,
                ._block-about,
                ._block-booking,
                ._block-uestpaid,
                ._block-link,
                ._block-privatenote,
                ._block-support,
                ._desurl,
                ._block-commquest {
                    padding: 22px 35px;

                    .mr-t16 {
                        margin-top: 8px;
                    }
        
                    .mr25-0 {
                        margin: 16px 0;
                    }
                }

                ._w {
                    width: 16px;
                    
                    i {
                        font-size: 18px;
                    }
                }
            }

            ._flex_users {
                ._pf-msg {
                    margin-right: 14px;
                }
            }

            ._flex-icons {
                i {
                    font-size: 14px !important;
                }
            }

            // perfil
            ._pf-msg {
                max-width: 52px;
                min-width: 52px;
                height: 52px;
                border: 2px solid #E3EDF3;
            }

            // perfil mini more
            .imgs_more {
                .w142 {
                    width: 122px;
                    min-width: 122px;
                }

                ._pf-msg {
                    max-width: 42px;
                    min-width: 42px;
                    height: 42px;
                    border: 1px solid #E3EDF3;
                }
            }

            // modal position absolute en close X
            &._par0t0modls {
                ._pt47psr {
                  padding-top: 36px;
                }
            }

            // iconos
            ._i-red22 {
                font-size: 18px;
            }

            ._i-red20 {
                font-size: 17px;
            }

            .bk-icon-des_fbas {
                gap: 8px !important;
            }

            .trips_upcoming_inf {
                &:not(:last-child) {
                    border-bottom: 1px solid #E3EDF3 !important;
                }
            }

            .block-lb {
                gap: 10px;
            }

            // listing status popup deactive3 - gaps
            ._cg13rg70 {
                column-gap: 8px;
                row-gap: 42px;
            }

            ._brpd180 {
                padding: 16px 10px;
                border: 1px solid #E3EDF3;

                .gp12 {
                    gap: 3.5px;
                }
            }

            .bd_b_celest2 {
                border-bottom: 1px solid #E3EDF3;
            }

            .selected-modal {
                margin: 0;

                select {
                    padding: 13px 36px 13px 14px;
                    font-size: 16px;
                }

                i {
                    right: 14px;
                    font-size: 14px;
                }
            }

            .txt-check-in {
                font-size: 12px;
                border-left: 2px solid #00B5DD;
                padding-left: 11px;
            }

            // lineal red nivel
            ._nlporcrd {
                height: 8px;
            }

            // padding left - right content
            ._wpwi48 {
                padding: 0 35px;
            }

            ._zjunba {
                padding: 20px 35px !important;
                padding-bottom: 28px !important;
            }

            .h2_publish {
                font-size: 26px !important;
                line-height: inherit;
            }

            .h2-guests,
            ._txtboldff25 {
                font-size: 18px !important;
                line-height: inherit;
            }

            ._txtec,
            ._txtblu,
            ._txteh,
            ._txtehlinear,
            ._btnsmblu,
            ._txtec333,
            ._txttdu3,
            ._txtlineargris18,
            ._lahrbold {
                font-size: 16px !important;
                line-height: 1.375em;
                // font-weight: normal;
            }

            // ._txtec16 {
            //     font-size: 14px !important;
            //     line-height: inherit;
            // }

            ._txtec14 {
                font-size: 12px !important;
                line-height: inherit;
            }

            // botones
            .btn-bd-white {
                padding: 12px 14px;
                border: 1px solid #E3EDF3;

                .flex {
                    gap: 8px !important;

                    .icon {
                        width: 16px;
                        height: 18px;
                    }
                }
            }

            // botones
            .btn-celest,
            .btn-border {
                padding: 14px 24px;
                font-size: 16px;
            }

            // icons grande width 40px
            .bk-icon-des_fbas {
                .w40 {
                    width: 33px;
                    min-width: 33px;
                }
            }

            // icon X modal
            .modal_content-anhost .close span {
                padding: 0 !important;
                width: 36px !important;
                height: 36px !important;
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                font-size: 16px !important;
                padding-bottom: 3px !important;
            }

            // + 4 perfiles
            ._moreusrmsg {
                &::before {
                    font-size: 14px;
                }
            }
        }
    }

    @media screen and (max-width: 743px) {
        ._ntñsfts {
            ._hredtax120 {
                display: none;
            }

            // modal user
            .reservation-details-cont {
                ._block-jsb,
                ._flex_users,
                ._block-about,
                ._block-booking,
                ._block-uestpaid,
                ._block-link,
                ._block-privatenote,
                ._block-support,
                ._desurl,
                ._block-commquest {
                    padding: 18px 24px;
                }
            }

            // listing status popup deactive3 - gaps
            ._cg13rg70 {
                flex-direction: column;
            }

            // padding left - right content
            ._wpwi48 {
                padding: 0 24px;
            }

            ._zjunba {
                padding: 16px 24px !important;
                padding-bottom: 16px !important;
            }
        }
    }
}

// width px
.w40 {
    width: 40px;
    min-width: 40px;
}

// paddings - calendar individual
._wpwi48 {
    padding: 0 50px;

    @include responsive(743px) {
        padding: 0 24px !important;
    }
}

._goqbqk {
    padding: 0 30px;

    @include responsive(743px) {
        padding: 0 24px;
    }
}

._zjunba {
    @include responsive(743px) {
        margin-top: auto;
        padding: 16px 24px !important;
        border-top: 1px solid #E3EDF3;
    }
}



// MODALS PAGOS
.container_admin-host {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // plugin calendario modal
    .lightpick__months {
        background-color: rgba(227, 237, 243, 0.3);
        justify-content: space-between;
        padding: 14px;

        @include responsive(743px) {
            justify-content: center;
        }
    }

    // globals textos
    ._txtblu {
        display: inline-block;
        margin-bottom: 0;
    }

    ._txteh {
        margin-bottom: 0;
    }

    .selected-modal {
        margin: 0;
    }

    .modal-anhost {
        position: absolute;
        z-index: 999;
        inset: 0px;
        background: rgba(40, 54, 70, 0.95);
    }

    .pd_anhost-modal {
        display: flex;
        padding: 40px;
        align-items: center;
        -webkit-box-align: center;
        justify-content: center;
        position: absolute;
        max-height: 100vh;
        inset: 0px;

        @include responsive(1400px) {
            padding: 28px;
        }

        @include responsive(743px) {
            padding: 0;
            align-items: inherit;
        }

        .modal_content-anhost {
            display: flex;
            flex-direction: column;
            background: #FFFFFF;
            width: 100%;
            height: auto;
            max-width: 796px;
            max-height: -webkit-fill-available;
            border-radius: 10px;
            z-index: 999;

            @include responsive(743px) {
                border-radius: 0;
                max-width: none !important;
            }

            .close {
                display: flex;
                justify-content: end;

                span {
                    cursor: pointer;
                    color: white;
                    font-size: 18px;
                    padding: 13px 19.2px;
                    background: #FF5A5F;
                    border-radius: 0px 10px 0px 10px;

                    &:hover {
                        background-color: #DC383D;
                    }

                    @include responsive(743px) {
                        border-radius: 0 0 0 10px;
                    }
                }
            }

            ._zjunba {
                display: flex;
                align-items: center;
                gap: 14px;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .modal_block {
                height: 100%;
                display: flex;
                width: 100%;
                overflow-x: auto;
                border-radius: 10px;

                .content_hidden-anhost {
                    overflow: auto;
                    width: 100%;

                    ._wpwi48 {
                        padding-bottom: 40px !important;
                    }

                    ._pdleftright32 {
                        @include responsive(743px) {
                            padding: 0 32px !important;
                        }

                        @include responsive(450px) {
                            padding: 0 22px !important;
                        }
                    }

                    .reservation-details-cont {
                        ._block-jsb {
                            padding-top: 0;

                            @include responsive(1400px) {
                                padding-top: 16px;
                            }
                        }
                    }

                    .site-content {
                        padding-bottom: 28px;

                        ._block-jsb {
                            padding: 0 50px 42px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 22px;
                            flex-wrap: wrap;
                      
                            @include responsive(743px) {
                                padding: 21px 18px;
                                gap: 10px;
                            }
                        }
                      
                        ._flex_users {
                            padding: 34px 50px 34px;
                            align-items: flex-start;
                      
                            @include responsive(743px) {
                                padding: 21px 18px 24px !important;
                            }
                      
                            ._bgpadd-f {
                                padding: 17px 31px;
                                border-radius: 10px;
                      
                                @include responsive(743px) {
                                    padding: 12px 18px;
                                }
                            }
                      
                            ._b {
                                padding-top: 5px;
                      
                                .h5_red {
                                    font-weight: normal;
                                }
                            }
                        }
                      
                        ._block-about {
                            padding: 34px 50px 22px;
                      
                            @include responsive(743px) {
                                padding: 21px 18px 22px;
                            }
                      
                            ._fbas-guintxt {
                                gap: 8px;
                      
                                .red_guion {
                                    width: 15px;
                                    text-align: center;
                                }
                            }
                      
                            ._flex {
                                display: flex;
                                justify-content: space-between;
                                gap: 21px;
                      
                                @include responsive(618px) {
                                    flex-direction: column;
                                }
                      
                                ._dfgap10 {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;
                                }
                      
                                ._fbtn-br {
                                    display: flex;
                                    gap: 14px;
                                    height: max-content;
                      
                                    @include responsive(618px) {
                                        justify-content: center;
                                    }
                                }
                            }
                        }
                      
                        ._block-chan_listing {
                            padding: 34px 50px 22px;
                      
                            @include responsive(650px) {
                                padding: 34px 30px 22px;
                            }
                      
                            @include responsive(743px) {
                                padding: 21px 18px 22px;
                            }
                      
                            .search_content {
                                margin: 0;
                            }
                      
                            .content_change_gallery {
                                height: 486px;
                                overflow: auto;
                                margin: 40px 0 37px;
                                gap: 24px;
                      
                                .check_click {
                                    gap: 15px;
                                    max-width: 458px;
                                    width: 100%;
                                }
                            }
                        }
                      
                        ._block-booking {
                            padding: 34px 50px 31px;
                      
                            @include responsive(743px) {
                                padding: 24px 18px 21px;
                            }
                        }
                      
                        ._block-uestpaid {
                            padding: 30px 50px 34px;
                      
                            @include responsive(743px) {
                                padding: 20px 18px 24px;
                            }
                      
                            .h2-guests {
                                @include responsive(743px) {
                                    margin-top: 0 !important;
                                }
                            }
                        }
                      
                        ._block-link {
                            padding: 31px 50px 31px;
                      
                            @include responsive(743px) {
                                padding: 21px 18px 21px;
                            }
                        }
                      
                        ._block-privatenote {
                            padding: 26px 50px 34px;
                      
                            @include responsive(743px) {
                                padding: 16px 18px 24px;
                            }
                      
                            ._fbas-details {
                                align-items: end;
                            }
                        }
                      
                        ._block-support {
                            padding: 27px 50px 32px;
                      
                            @include responsive(743px) {
                                padding: 17px 18px 22px;
                            }
                      
                            ._flex {
                                display: flex;
                                flex-direction: column;
                                gap: 23px;
                            }
                        }
                      
                        ._desurl {
                            padding: 34px 50px 33px;
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                      
                            @include responsive(743px) {
                                padding: 24px 18px 23px;
                            }
                      
                            ._txtec {
                                line-height: 26px;
                            }
                        }
                      
                        ._block-commquest {
                            padding: 27px 50px;
                      
                            @include responsive(743px) {
                                padding: 17px 18px;
                            }
                      
                            ._gap {
                                gap: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}