@import "_globals";
@import "_variables";

.section-payments {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    padding: 0 49px;

    @include responsive(1270px) {
        gap: 50px;
    }

    @include responsive(960px) {
        flex-direction: column;
        gap: 56px;
    }

    @include responsive(760px) {
        padding: 0 25px;
    }

    @include responsive(550px) {
        padding: 0;
    }

    ._txtblu {
        display: inline-block;
        margin-bottom: 0;
    }

    a {
        display: inline-block;
    }

    ._btnsm {
        margin-top: 0;
    }

    &_main {
        width: 100%;

        @include responsive(1270px) {
            width: 53%;
        }

        @include responsive(960px) {
            width: 100%;
        }

        .h2-guests_bold35 {
            margin: 16px 0 24px;
        }

        .content-scroll-local {
            display: flex;
            max-width: 100%;
            margin: 8px 0 43px;

            ._block {
                border-bottom: 2px solid #E3EDF3;
                overflow-x: scroll;
                width: 100%;

                @include responsive(1350px) {
                    margin-right: 22px;
                }

                @include responsive(960px) {
                    margin-right: 0;
                }

                @include responsive(730px) {
                    margin-right: 22px;
                }

                &::-webkit-scrollbar {
                    opacity: 0;
                    display: none; 
                }
            }

            .tabs_items_group {
                justify-content: space-between;
                border-bottom: none;
                margin-right: 0;

                .tabs_items {
                    padding: 16px 13px;

                    &::before {
                        height: 4px;
                    }
                }
            }

            .btn-right-scroll {
                display: none;
                align-items: center;
                justify-content: center;

                @include responsive(1270px) {
                    display: flex;
                }

                @include responsive(960px) {
                    display: none;
                }

                @include responsive(730px) {
                    display: flex;
                }
            }
        }

        ._cont-payout {
            ._block {
                margin: 16px 0 37px;

                ._txteh {
                    margin-top: 18px;
                }
            }
        }

        ._cont-2 {
            margin-top: 48px;

            .h2-guests {
                margin-bottom: 16px;
            }

            ._gap-default {
                margin: 26px 0;
            }
        }

        ._cont-ein {
            ._block {
                margin: 16px 0 37px;

                ._btnsm {
                    font-weight: bold;
                }
            }
        }

        ._cont-sf {
            .h2-guests {
                margin-bottom: 16px;
            }

            ._gap-news {
                margin: 16px 0 21px;
            }

            ._block {
                display: flex;
                align-items: center;
                gap: 33px;

                @include responsive(900px) {
                    gap: 18px;
                }
            }
        }

        ._cont-gc {
            .h2-guests {
                margin-bottom: 16px;
            }

            ._allow-contri {
                margin: 33px 0;
                padding: 43px 0;
                border-top: 2px solid #E3EDF3;
                border-bottom: 2px solid #E3EDF3;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            ._block {
                display: flex;
                flex-direction: column;
                gap: 33px;
            }
        }
    }

    &_aside {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 53px;
        height: fit-content;

        @include responsive(1050px) {
            flex-direction: row;
            gap: 30px;
        }

        @include responsive(580px) {
            flex-direction: column;
        }

        ._txtblu {
            margin-bottom: 0;
        }

        ._gap16 {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        ._cont-account {
            @include responsive(1100px) {
                width: 100%;
            }

            @include responsive(990px) {
                padding: 37px 30px;
            }

            @include responsive(960px) {
                width: 360px;
            }

            @include responsive(430px) {
                width: 100%;
            }
        }
    }
}

.section-taxes {
    margin-bottom: 100px;

    @include responsive(960px) {
        margin-bottom: 0;
    }
}