@import "_variables";

.section-places {
    // opacity: 0;
    // visibility: hidden;
    transition: all .3s ease;
}

.block_places {
    width: 1106px;
    margin: 0 auto;
    margin-top: -85px;
    position: relative;

    h3 {
        color: $color-white;
        font-size: 26px;
        margin-bottom: 16px;
        font-weight: 400;
        padding: 0 45px;
    }

    @include responsive(1400px) {
        width: 100%;
        max-width: 917px;

        h3 {
            font-size: 22px;
            margin-bottom: 14px;
            padding: 0 32px;
        }
    }
}

.book-form {
    background-color: $color-text-white;
    box-shadow: 0 0 30px $bg-shadow-places;
    border-radius: 45px;

    .befo__checkout {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: transparent;
        }
    }

    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 8px 8px 8px 45px;

        ._flex-js {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 48px;
        }

        .inputBox {
            &:nth-child(1) {
                .place_select {
                    width: auto;
                }
            }

            .check_out {
                i {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        inset: 0;
                        background-color: transparent;
                    }
                }
            }

            label {
                cursor: pointer;
                display: block;
                margin-right: 48px;

                .place_select {
                    i {
                        input {
                            width: 100%;
                            color: black;
                            cursor: pointer;
                            font-weight: normal;

                            &::placeholder {
                                color: black;
                                font-size: 16px;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }

            &:not(:last-child) {
                border-right: 1px solid rgba(182, 175, 162, 0.25);
            }

            span {
                font-size: 16px;
                color: $bg-black-places;
            }

            .place_select {
                width: 141px;
                display: flex;
                gap: 5px;
                flex-direction: column;

                &-flex {
                    display: flex;
                    align-items: baseline;
                    // margin-top: 5px;

                    span {
                        color: black;
                        font-size: 16px;
                        padding: 0 40px 0 5px;
                        font-weight: normal;
                    }
                }

                i {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    color: $color-secundary;
                    // margin-top: 5px;
                    font-size: 16px;

                    span {
                        color: black;
                        margin-right: auto;
                        font-weight: normal;
                    }

                    input {
                        background: none;
                        border: none;
                        outline: none;
                        padding: 0 0 0 2px;
                        font-size: 16px;

                        &::-webkit-inner-spin-button,
                        &::-webkit-calendar-picker-indicator {
                            display: none;
                            -webkit-appearance: none;
                        }
                    }

                    i {
                        color: $bg-black-places;
                        margin-top: 0;
                    }
                }
            }

            .menuGuest {
                cursor: pointer;
            }
        }

        .btn {
            cursor: pointer;
            flex: 1 1 15rem;
            text-align: center;
            border: none;
            border-radius: 45px;
            color: white;
            background: #00B5DD;
            padding: 16px 30px;
            font-size: 18px;
            max-width: 150px;
            transition: .3s ease;

            &:hover {
                background-color: #0096B7;
            }
        }
    }

    @include responsive(1400px) {
        form {
            padding: 8px 8px 8px 32px;
            gap: 25px;

            ._flex-js {
                gap: 25px;
            }

            .inputBox {
                span {
                    font-size: 14px;
                }

                .place_select {
                    width: 133px;

                    i {
                        i {
                            font-size: 14px;
                        }

                        span {
                            font-size: 16px;
                        }
                    }
                }

                .place_select-flex {
                    img {
                        width: 18px;
                        min-width: 18px;
                    }
                }
            }

            .btn {
                width: auto;
                flex: none;
                padding: 14px 24px;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}


@media screen and (max-width: 1020px) { 
    .block_places .book-form{
        border-radius: 10px;  
    }
    .block_places{
        max-width: 100%;
    }
    .block_places .book-form form{
        padding: 30px;

        ._flex-js {
            width: 100%;
        }

        .inputBox {
            width: 45%;
            flex: auto;

            &:not(:last-child) {
                border-right: 0;
            }

            label {
                margin-right: 0;
            }
        }
    }
    .block_places .book-form form .inputBox .hr, .block_places .book-form form .inputBox .place_select {
        width: 100%;
        border-right: 0;   
        border-bottom: 1px solid #b6afa287;
        padding-bottom: 10px;
    }  
    .block_places .book-form form .btn{
        width: 100%;
        max-width: initial; 
    }
}

@include responsive(743px) {
    .block_places .book-form {
        border-radius: 20px 20px 32px 32px;

        form {
            padding: 21px;
        }
    }
}


@media screen and (max-width: 500px) {
    .block_places .book-form form .inputBox{
        width: 100%;
    }
}