*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1600px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.section-account {
  margin: 176px 0 100px;
}
.section-account .h2-guests_fs60 {
  margin-bottom: 9.8px;
}
.section-account .span-guests ._p {
  margin: 0 9.8px;
}
.section-account .span-guests ._txtblu {
  display: inline-block;
}
.section-account ._flex-account {
  margin-top: 46.2px;
  display: flex;
  flex-wrap: wrap;
  gap: 53px;
}
.section-account .msgaround {
  margin-top: 50px;
}
@media (max-width: 750px) {
  .section-account .msgaround {
    padding: 23px 31px;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 750px) {
  .section-account .msgaround ._wcusermsg {
    padding-right: 0;
    margin-bottom: 20px;
  }
}