._mv-places {
  transition: none;
}

.cont-h2 .h2-guests {
  margin: 27px 0;
}

.btn_circle_flecha {
  margin: -12px;
}

._10toigd {
  display: none;
}

._btnsmleft {
  gap: 0;
  display: block;
}

._btnsmleft span::before {
  bottom: 0;
}

._wpwi48 {
  padding: 0 35px;
}
@media (max-width: 743px) {
  ._wpwi48 {
    padding: 0 24px;
  }
}

@media screen and (max-width: 1800px) {
  body .container_popup_ntpve .pd_anhost-modal .modal_content-anhost {
    max-width: 568px;
  }
  body .container_ci_nw_cs .pd_anhost-modal .modal_content-anhost {
    max-width: 780px;
  }
  body .container_ci_nw_cs .pd_anhost-modal .modal_content-anhost ._zjunba {
    padding: 16px 35px 28px;
  }
  body .container_ci_nw_cs .pd_anhost-modal .modal_content-anhost .mr-t16 {
    margin-top: 0;
  }
  body .container_ci_nw_cs .pd_anhost-modal .modal_content-anhost .gp25 {
    gap: 24px;
  }
  body .container_ci_nw_cs .pd_anhost-modal .modal_content-anhost .gp7 {
    gap: 0;
  }
  body .container_ci_nw_cs .pd_anhost-modal .modal_content-anhost .gp21, body .container_ci_nw_cs .pd_anhost-modal .modal_content-anhost .gp13 {
    gap: 10px;
  }
  body .modal_content-anhost .close span {
    padding: 0 !important;
    width: 36px !important;
    height: 36px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 16px !important;
    padding-bottom: 3px !important;
  }
  body .modal_content-anhost .h2_publish {
    font-size: 24px;
  }
  body ._zgc1p6 {
    margin-top: auto;
    padding: 16px 24px;
    border-top: 1px solid #E3EDF3;
  }
  body ._numcard {
    padding: 12px !important;
    font-size: 16px !important;
    line-height: 20px !important;
  }
  body ._txtec {
    font-size: 18px;
  }
  body ._txteh {
    font-size: 18px;
  }
  body ._txtblu16 {
    font-size: 16px;
  }
  body .btn-celest {
    padding: 14px 24px;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    border-radius: 8px;
  }
  body .menu .menu_home-content-items {
    border: 1px solid #E3EDF3;
    width: 210px;
  }
  body .menu .menu_home-content-items ul li {
    padding: 10px 10px 10px 16px;
    font-size: 14px;
  }
  body .menu .menu_home-content-items ul li a {
    font-size: 14px;
  }
  body ._flex-js ._flex i {
    font-size: 12px;
  }
  body ._flex-js ._flex .icon_red {
    font-size: 18px;
  }
  body ._flex-js ._flex span {
    font-size: 14px;
  }
  body ._puntos3 ._menu-m.is-active {
    top: 40px;
  }
  body ._menu-m {
    right: -145px;
  }
  body ._menu-options-items {
    min-width: 230px;
    width: auto;
  }
  body ._menu-options-items ._txtec {
    font-size: 14px;
  }
  body ._menu-options-items ul li ._b-flex {
    padding: 10px 10px 10px 16px;
    align-items: center;
  }
  body ._menu-options-items ul li ._b-flex svg {
    width: 14px;
  }
  body ._menu-options-items ul li ._b-flex i {
    font-size: 14px;
  }
  body .pd-130-0-50 {
    padding: 110px 0 30px;
  }
  body .pd-145-0-50 {
    padding: 110px 0 30px;
  }
  body ._txtec, body ._txtblu {
    font-size: 16px;
    line-height: 1.375em;
  }
  body ._txtec16 {
    font-size: 14px;
    line-height: inherit;
  }
  body ._txtboldff14, body ._txt-white14 {
    font-size: 12px;
  }
  body ._bkgrsdoll {
    font-size: 16px;
  }
  body ._txteh {
    font-size: 16px;
  }
  body ._txtblu16 {
    font-size: 14px;
  }
  body .h2-guests {
    line-height: inherit;
    font-size: 23px;
  }
  body ._txtbold7d14 {
    font-size: 12px;
  }
  body .h2_publish {
    font-size: 33px;
    line-height: inherit;
  }
  body .selected-modal select {
    padding: 12.5px 32px 12.5px 12px;
    font-size: 16px;
  }
  body .selected-modal svg {
    right: 12px;
    width: 12px;
  }
  body .selected-modal i {
    font-size: 14px;
    right: 12px;
  }
  body .btn-white {
    padding: 14px 18px;
    border-radius: 8px;
  }
  body .cont-h2 .h2-guests {
    margin: 24px 0;
  }
  body ._cont-l-img ._ad-list_img {
    width: 70px;
    height: 60px;
  }
  body ._badsdoller img {
    width: 18px;
  }
  body .check_click input:checked + .bg_check_click {
    box-shadow: #00B5DD 0px 0px 0px 2px inset;
  }
  body .bg_check_click {
    box-shadow: #E3EDF3 0 0 0 1px inset;
  }
  body .bk-icon-des_fbas.gp10 {
    gap: 8px;
  }
  body .bk-icon-des_fbas ._i-red22 {
    font-size: 20px;
  }
  body ._fleft-tb svg {
    width: 9px;
  }
  body ._fright-tb svg {
    width: 9px;
  }
  body .txt-check-in {
    font-size: 12px;
    border-left: 2px solid #00B5DD;
    padding-left: 12px;
  }
  body .hr:not(:last-child) {
    border-bottom: 1px solid #E3EDF3;
  }
  body ._btnsmleft {
    font-size: 16px;
    line-height: 20px;
  }
  body ._btnsmleft img {
    width: 5.5px;
  }
  body .section_calendar_indv_admin .thead .th {
    padding: 12px 0;
  }
  body .section_calendar_indv_admin .h2_publish {
    font-size: 26px;
    line-height: 30px;
  }
  body .section_calendar_indv_admin .font25-select select {
    font-size: 26px !important;
    padding-right: 24px !important;
  }
  body .section_calendar_indv_admin .font25-select svg {
    width: 12px;
    right: 0;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv {
    flex: 0 0 354px;
    width: 354px;
    min-width: 354px;
    border: 1px solid #E3EDF3;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv ._bkgris {
    padding: 24px;
    border-radius: 8px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv ._bkgris.txt-center {
    text-align: left;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv ._bkgris ._txteh {
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 20px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv ._bkgris ._txtec {
    line-height: 20px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv ._txteh {
    font-size: 18px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv .pd50 {
    padding: 24px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv .pd50 .mr-b76 {
    margin-bottom: 48px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv .pd23 {
    padding: 24px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv .gp24 {
    gap: 15px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv .desc ._txtec14, body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv .desc ._txtehlinear14 {
    font-size: 12px;
    line-height: 16px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv .prt.pd23 {
    padding-top: 32px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv .prt .gp24 {
    gap: 32px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv .prt .desc.mr-t24 {
    margin-top: 48px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv ._kr7m4r {
    border-top: 1px solid #E3EDF3;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv ._kr7m4r.pd23 {
    padding: 16px 24px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv .mr-t24 {
    margin-top: 8px;
  }
  body .section_calendar_admin .medio_calendar_admin ._header-btns4 {
    margin-bottom: 13px;
  }
  body .section_calendar_admin .medio_calendar_admin ._fleft-tb {
    margin-bottom: 1.6rem;
  }
  body .section_calendar_admin .medio_calendar_admin ._main-list-fech ._fright-tb {
    margin-bottom: 1.6rem;
  }
  body .section_calendar_admin .medio_calendar_admin .right_bk_show {
    border: 1px solid #E3EDF3 !important;
  }
  body .section_calendar_admin .medio_calendar_admin .right_bk_show.active-info {
    flex: 372px !important;
    width: 372px !important;
    min-width: 372px !important;
  }
  body .block-pd-cl ._txtblu16 {
    font-size: 14px;
    line-height: 18px;
  }
  body .block-pd-cl ._txtblu16:hover {
    color: #0096B7;
    text-decoration: underline;
  }
  body .block-pd-cl:not(:last-child) {
    border-bottom: 1px solid #E3EDF3 !important;
  }
  body .block-pd-cl .gp21 {
    gap: 18px;
  }
  body .block-pd-cl ._bkgris {
    border-radius: 8px !important;
    padding: 12px 29px !important;
  }
  body .block-pd-cl.rs {
    padding: 0 30px 20px !important;
  }
  body .block-pd-cl.sw-pf {
    padding: 21px 30px 29px !important;
  }
  body .block-pd-cl.sw-pf ._pf-msg {
    max-width: 54px;
    min-width: 54px;
    height: 54px;
    border: 2px solid #E3EDF3;
  }
  body .block-pd-cl.checks {
    padding: 21px 30px 19px !important;
  }
}
@media screen and (max-width: 1439px) {
  body .section_calendar_indv_admin table tbody ._bkgrequestcld, body .section_calendar_indv_admin table tbody ._bkgcurrentlycld {
    left: 8px;
    right: 8px;
    bottom: 8px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .hd-cont ._kr7m4r {
    flex-direction: column;
  }
  body .section_calendar_indv_admin .medio-cl-indv .hd-cont ._kr7m4r.fx-ai-c {
    align-items: flex-start;
  }
  body .section_calendar_indv_admin .medio-cl-indv .hd-cont ._kr7m4r.gp16 {
    gap: 24px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .sc-cont.mr-t26 {
    margin-top: 24px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-left-indv {
    padding: 24px;
    border-radius: 8px 0 0 8px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-left-indv ._5q6vv {
    padding: 12px;
  }
}
@media (max-width: 1127px) {
  body .section_calendar_admin .contCalendarVvoFlex {
    margin: 0 24px;
  }
  body .section_calendar_admin .fc .fc-view-harness {
    height: calc(100vh - 198px) !important;
  }
  body .content_icon-leng {
    display: none;
  }
  body .container-medio {
    width: 100%;
  }
}
@media screen and (max-width: 1125px) {
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv {
    position: fixed;
    inset: 0;
    z-index: 99;
    top: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    flex: none;
    width: auto;
    min-width: auto;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-right-indv ._10toigd {
    display: block;
    padding: 24px 24px 0;
  }
  body .section_calendar_indv_admin.is-main-info-open .medio-cl-indv .calend-right-indv {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 900px) {
  body ._10toigd {
    display: block;
  }
  body .is-calendar-open .left_calendar_admin {
    flex: 0 1 0%;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
  body .is-calendar-open .medio_calendar_admin {
    flex: 1 1 0%;
    opacity: 1;
  }
  body .pd-130-0-50, body .pd-145-0-50 {
    padding: 0;
    padding-bottom: 4rem;
  }
  body .container-medio {
    width: 100%;
  }
  body footer {
    display: none;
  }
  body .cont-h2 {
    padding: 24px 0 0 20px;
  }
  body .cont-h2 .h2-guests {
    margin-right: 20px;
  }
  body .cont-h2 .search_content {
    margin-right: 20px;
  }
  body .left_calendar_admin .section-listing {
    padding: 0 20px 20px 0;
    margin-bottom: 0;
  }
  body .left_calendar_admin .section-listing::-webkit-scrollbar {
    display: none;
  }
  body .h2-guests {
    font-size: 25px;
  }
  body .h2_publish {
    font-size: 35px;
  }
  body .cont-h2 .h2-guests {
    margin-top: 0;
  }
  body .left_calendar_admin .pd-t10 {
    padding-top: 0;
  }
  body .section_calendar_indv_admin table tbody ._bkgcurrentlycld, body .section_calendar_indv_admin table tbody ._bkgrequestcld {
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    padding: 6.6px 8px;
  }
  body .section_calendar_indv_admin .medio-cl-indv {
    padding: 24px;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-left-indv {
    padding: 0;
  }
  body .section_calendar_indv_admin .medio-cl-indv .calend-left-indv ._5q6vv {
    padding: 6px;
  }
  body .section_calendar_admin .medio_calendar_admin ._main-list-fech {
    padding-top: 24px;
  }
  body .section_calendar_admin .medio_calendar_admin .tbody-list-doller {
    margin-bottom: 20px;
  }
}
@media (max-width: 743px) {
  body .container_ci_nw_cs .pd_anhost-modal .modal_content-anhost ._zjunba {
    padding: 16px 24px 38px;
  }
}

.selected-modal {
  width: fit-content;
  margin: 0;
}

._txteh {
  margin: 0;
}

._txtblu, ._txtblu16 {
  margin: 0;
  line-height: inherit;
}

.pd-130-0-50 {
  padding: 130px 0 50px;
}

.pd-145-0-50 {
  padding: 145px 0 50px;
}

.pd-r30 {
  padding-right: 30px;
}

._ck2ag {
  position: absolute;
  top: 9px;
  right: 8px;
}

._tb-reservations tbody tr:not(:last-child) {
  border-bottom: none;
}
._tb-reservations tbody td {
  padding: 0;
}

._cont-l-img ._ad-list_img {
  width: 75px;
  height: 65px;
}

.check_click {
  width: 100%;
}
.check_click input:checked + .bg_check_click {
  box-shadow: #00B5DD 0px 0px 0px 2px inset;
}

.bg_check_click {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 9px 8px;
  display: flex;
  align-items: center;
  gap: 11px;
  box-shadow: #E3EDF3 0px 0px 0px 1px inset;
  position: relative;
}
.bg_check_click ._f-t {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.left_calendar_admin {
  flex: 0 0 400px;
  transition: all 0.5s ease;
}
@media (max-width: 900px) {
  .left_calendar_admin {
    flex: 1 1 0%;
    padding: 0;
  }
}

.medio_calendar_admin {
  flex: 1 1 0%;
  transition: all 0.5s ease;
}
@media (max-width: 900px) {
  .medio_calendar_admin {
    flex: 0 1 0%;
  }
}

.section_calendar_indv_admin .thead {
  margin: -1px;
  position: sticky;
  top: 0;
  z-index: 9;
}
.section_calendar_indv_admin .thead .th {
  background-color: #FF5A5F;
  padding: 15.5px 0;
  min-width: 8px;
  min-height: 38px;
  width: 14.285%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_calendar_indv_admin .thead .th:not(:last-child) {
  border-right: 1px solid #FFFFFF;
}
.section_calendar_indv_admin table tbody ._17oofu3:disabled {
  cursor: not-allowed;
  box-shadow: none;
}
.section_calendar_indv_admin table tbody ._17oofu3:disabled ._bkgrsdoll {
  opacity: 0.3;
}
.section_calendar_indv_admin table tbody ._bkgrsdoll, .section_calendar_indv_admin table tbody ._bkgcurrentlycld {
  margin-top: auto;
}
.section_calendar_indv_admin table tbody ._bkgcurrentlycld, .section_calendar_indv_admin table tbody ._bkgrequestcld {
  position: absolute;
  bottom: 12px;
  left: 11px;
  right: 11px;
}
.section_calendar_indv_admin table tbody ._pf-msg {
  max-width: 29px;
  min-width: 29px;
  height: 29px;
  border: 1px solid #E3EDF3;
}
.section_calendar_indv_admin table tbody tr:hover {
  background-color: transparent;
}
.section_calendar_indv_admin table tbody tr td {
  min-width: 8px;
  min-height: 68px;
  width: 14.285%;
  position: relative;
  background-color: #FFFFFF;
}
.section_calendar_indv_admin table tbody tr td:not(:last-child) {
  border-right: 1px solid #FFFFFF;
}
.section_calendar_indv_admin .medio-cl-indv .calend-left-indv {
  flex: 1 1 0%;
  border-radius: 10px 0 0 10px;
  padding: 31px 43px;
}
.section_calendar_indv_admin .medio-cl-indv .calend-right-indv {
  flex: 0 0 414px;
  width: 414px;
  min-width: 414px;
  border: 2px solid #E3EDF3;
}
.section_calendar_indv_admin .medio-cl-indv .calend-right-indv .pd50 {
  padding: 50px 32px 26px;
}
.section_calendar_indv_admin .medio-cl-indv .calend-right-indv .pd23 {
  padding: 23px 32px;
}
.section_calendar_indv_admin .medio-cl-indv .calend-right-indv ._bkgris {
  border-radius: 10px;
  background-color: rgba(227, 237, 243, 0.3);
  padding: 14px 30px;
}

.section_calendar_admin {
  /* border del contenido */
  /* thead dias */
  /* sear listings left */
  /* dollar con icono */
  /* reservaciones */
  /* height dolar div */
  /* calendar general */
  /* .section_calendar_admin {
      margin-top: 110px;
  } */
  /* / vacio td */
}
.section_calendar_admin .calendar_scroll::-webkit-scrollbar {
  background-color: #fafafa;
  width: 15px;
  height: 15px;
}
.section_calendar_admin .calendar_scroll::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px solid #fafafa;
  border-radius: 12px;
}
.section_calendar_admin .medio_calendar_admin ._header-btns4 {
  margin-bottom: 16px;
}
.section_calendar_admin .medio_calendar_admin ._fleft-tb {
  margin: 0 14.6px 1.8rem 11.6px;
  cursor: pointer;
}
.section_calendar_admin .medio_calendar_admin ._fright-tb {
  margin-left: 14.6px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.section_calendar_admin .medio_calendar_admin ._bkgris {
  border-radius: 10px;
  background-color: rgba(227, 237, 243, 0.3);
  padding: 14px 31px;
}
.section_calendar_admin .medio_calendar_admin ._tb-reservations thead tr {
  border-bottom: 0;
}
.section_calendar_admin .medio_calendar_admin ._tb-reservations thead th {
  cursor: pointer;
  padding: 6.5px;
  width: 80px;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: #E3EDF3 0px 0px 0px 1px inset;
}
.section_calendar_admin .medio_calendar_admin ._tb-reservations thead .active_blue_tb {
  background-color: #00B5DD;
}
.section_calendar_admin .medio_calendar_admin ._tb-reservations thead .active_blue_tb ._txtbold7d14 {
  color: #FFFFFF;
}
.section_calendar_admin .medio_calendar_admin ._tb-reservations tbody tr {
  position: relative;
}
.section_calendar_admin .medio_calendar_admin ._tb-reservations tbody tr::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}
.section_calendar_admin .medio_calendar_admin ._tb-reservations tbody .active_br_blue_table::before {
  box-shadow: #00B5DD 0 0 0 2px inset;
}
.section_calendar_admin .medio_calendar_admin ._tb-reservations tbody td {
  padding: 6.5px;
  width: 80px;
  height: 78px;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: #E3EDF3 0px 0px 0px 1px inset;
  position: relative;
  overflow: hidden;
}
.section_calendar_admin .medio_calendar_admin ._tb-reservations tbody .not-linetb {
  position: absolute;
  top: -12px;
  left: 50%;
  right: 50%;
  transform: rotate(45deg);
  width: 2px;
  height: 132%;
  background-color: #E3EDF3;
}
.section_calendar_admin .medio_calendar_admin ._tb-reservations tbody ._ctly-htg-ver {
  background-color: #E3EDF3;
}
.section_calendar_admin .medio_calendar_admin ._main-list-fech {
  padding-top: 25px;
  padding-right: 68.6px;
}
.section_calendar_admin .medio_calendar_admin ._main-list-fech ._scrolltable {
  padding-bottom: 15px;
  overflow: overlay;
}
.section_calendar_admin .medio_calendar_admin ._main-list-fech ._tb-reservations {
  min-width: max-content;
}
.section_calendar_admin .medio_calendar_admin ._main-list-fech ._fright-tb {
  margin-bottom: 1.8rem;
}
.section_calendar_admin .medio_calendar_admin .tbody-list-doller {
  margin: 0 0 25px 35px;
  background-color: #FFFFFF;
}
.section_calendar_admin .medio_calendar_admin .tbody-list-doller ._scrolltable {
  height: 100%;
  overflow: auto;
}
.section_calendar_admin .medio_calendar_admin .tbody-list-doller ._scrolltable::-webkit-scrollbar:horizontal {
  display: none;
}
.section_calendar_admin .medio_calendar_admin .right_bk_show {
  flex: 93px;
  width: 93px;
  min-width: 93px;
  max-width: 100%;
  background-color: #FFFFFF;
  border: 2px solid #E3EDF3;
  box-shadow: -30px 0 40px 0 rgba(0, 0, 0, 0.29);
  transition: all 0.3s ease;
  z-index: 1;
}
.section_calendar_admin .medio_calendar_admin .right_bk_show .ow-a {
  overflow: hidden;
}
.section_calendar_admin .medio_calendar_admin .right_bk_show.active-info {
  flex: 414px;
  width: 414px;
  min-width: 414px;
}
.section_calendar_admin .medio_calendar_admin .right_bk_show.active-info .ow-a {
  overflow: auto;
}
.section_calendar_admin .medio_calendar_admin .right_bk_show.active-info .show-inf-details-calendar {
  opacity: 1;
  visibility: visible;
}
.section_calendar_admin .medio_calendar_admin .right_bk_show.active-info .object {
  padding-right: 12rem;
}
.section_calendar_admin .medio_calendar_admin .right_bk_show.active-info ._fright-tb {
  transform: rotate(180deg);
}
.section_calendar_admin .medio_calendar_admin .right_bk_show .block-pd-cl:not(:last-child) {
  border-bottom: 2px solid #E3EDF3;
}
.section_calendar_admin .medio_calendar_admin .right_bk_show .block-pd-cl.rs {
  padding: 0 32px 22px;
}
.section_calendar_admin .medio_calendar_admin .right_bk_show .block-pd-cl.sw-pf {
  padding: 23px 32px 31px;
}
.section_calendar_admin .medio_calendar_admin .right_bk_show .block-pd-cl.checks {
  padding: 23px 32px 21px;
}
.section_calendar_admin .medio_calendar_admin .right_bk_show .show-inf-details-calendar {
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.section_calendar_admin .fc .fc-view-harness-active > .fc-view {
  right: 92px !important;
}
.section_calendar_admin .fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 13px;
}
.section_calendar_admin .fc .fc-toolbar-title {
  font-size: 23px;
  color: #2A2A2A;
}
.section_calendar_admin .fc .fc-button-primary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.section_calendar_admin .fc-button-group {
  gap: 8px;
}
.section_calendar_admin .fc .fc-button {
  font-size: 16px;
  line-height: 20px;
  padding: 12px;
  border-radius: 8px !important;
  border: none;
  box-shadow: 0 0 0 1px #E3EDF3 inset !important;
}
.section_calendar_admin .fc .fc-button-primary {
  background-color: white !important;
  box-shadow: 0 0 0 2px #7D7D7D inset;
  color: #7D7D7D !important;
}
.section_calendar_admin .fc .fc-cell-shaded, .section_calendar_admin .fc .fc-day-disabled {
  background-color: rgba(227, 237, 243, 0.3);
}
.section_calendar_admin .fc .fc-button-primary:hover {
  background-color: rgba(227, 237, 243, 0.3) !important;
}
.section_calendar_admin .fc .fc-button-primary:active {
  transform: scale(0.96);
  background-color: rgba(227, 237, 243, 0.3);
}
.section_calendar_admin .fc .fc-button:focus {
  box-shadow: 0 0 0 2px #7D7D7D inset !important;
}
.section_calendar_admin .fc .fc-button .fc-icon {
  font-size: 20px !important;
  color: #00B5DD;
}
.section_calendar_admin .fc-theme-standard .fc-scrollgrid {
  border: none;
}
.section_calendar_admin .fc-theme-standard td, .section_calendar_admin .fc-theme-standard th {
  border: 1px solid #E3EDF3;
}
.section_calendar_admin .fc .fc-scrollgrid-section > * {
  border-top-width: 0;
  border-left-width: 0;
}
.section_calendar_admin .fc .fc-scrollgrid, .section_calendar_admin .fc .fc-scrollgrid-section-footer > *, .section_calendar_admin .fc .fc-scrollgrid-section-header > * {
  border-bottom-width: 0;
}
.section_calendar_admin .fc-direction-ltr .fc-timeline-slot {
  width: 80px !important;
}
.section_calendar_admin thead .fc-scroller {
  padding-bottom: 9px;
}
.section_calendar_admin .fc th {
  background-color: white;
}
.section_calendar_admin .fc .fc-timeline-slot-cushion {
  padding: 6.5px;
  font-size: 12px;
  color: #7D7D7D;
  font-weight: bold;
}
.section_calendar_admin .fc-scrollgrid-sync-table {
  border: 1px !important;
}
.section_calendar_admin tbody .fc-scrollgrid-section td:nth-child(1) {
  border: 0;
}
.section_calendar_admin tbody .fc-scrollgrid-section td:nth-child(3) {
  border: 1px solid #E3EDF3;
}
.section_calendar_admin td.fc-timeline-lane.fc-resource {
  /* border: 1px solid #E3EDF3 !important; */
  border-top-width: 0 !important;
  border-right-width: 0 !important;
  border-left-width: 0 !important;
  box-shadow: 0 1px 0 0 #E3EDF3;
}
.section_calendar_admin .fc .fc-datagrid-cell-cushion {
  padding: 0;
  height: 100%;
}
.section_calendar_admin table.fc-datagrid-body.fc-scrollgrid-sync-table tbody tr td, .section_calendar_admin th.fc-datagrid-cell {
  border: 0;
}
.section_calendar_admin table.fc-datagrid-body.fc-scrollgrid-sync-table tbody tr td .fc-datagrid-cell-frame {
  height: 148px !important;
}
.section_calendar_admin .fc .fc-datagrid-header .fc-datagrid-cell-frame {
  margin-right: 30px;
}
.section_calendar_admin .fc-datagrid-cell-frame :not(:first-child) {
  min-height: auto !important;
}
.section_calendar_admin .fc-datagrid-cell-main .checkbox-item_img {
  padding-right: 30px;
  height: 100%;
}
.section_calendar_admin .fc-datagrid-cell-main .checkbox-item_img .check_click {
  height: 100%;
  overflow: hidden;
}
.section_calendar_admin .bg_check_click ._f-t {
  min-height: auto !important;
}
.section_calendar_admin .bg_check_click:hover {
  background-color: rgba(227, 237, 243, 0.3);
}
.section_calendar_admin .fc-direction-ltr .fc-timeline-event:not(.fc-event-start):before, .section_calendar_admin .fc-direction-rtl .fc-timeline-event:not(.fc-event-end):after {
  display: none;
}
.section_calendar_admin .fc-timeline-slot ._badsdoller {
  /* position: absolute; */
  width: 100%;
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 1px #E3EDF3;
}
.section_calendar_admin .fc-h-event {
  border: 0;
  background-color: white;
}
.section_calendar_admin .fc-timeline-event {
  padding: 0;
  border-radius: 5px;
}
.section_calendar_admin .fc-timeline-event .fc-event-time, .section_calendar_admin .fc-timeline-event .fc-event-title {
  padding: 0 4px;
}
.section_calendar_admin .fc-h-event .fc-event-title {
  font-size: 12px;
  color: white;
  font-weight: bold;
}
.section_calendar_admin .fc-h-event .fc-event-main {
  height: 100%;
}
.section_calendar_admin .fc-event-main > div {
  width: 100%;
  height: 100%;
}
.section_calendar_admin .fc-license-message {
  display: none;
}
.section_calendar_admin .reservationTripCalendar {
  width: 100%;
  height: 100%;
  padding: 4px 13px;
  border-radius: 5px;
}
.section_calendar_admin .reservationTripCalendar svg {
  margin-right: 3px;
  min-width: 13px;
  width: 13px;
}
.section_calendar_admin .reservationTripCalendar > div {
  gap: 5px;
}
.section_calendar_admin .reservationTripCalendar ._txtboldff14 {
  white-space: nowrap;
}
.section_calendar_admin .reservationTripCalendar.red {
  background-color: #FF5A5F !important;
}
.section_calendar_admin .reservationTripCalendar.green {
  background-color: #2DDAB4 !important;
}
.section_calendar_admin .reservationTripCalendar.plomo {
  background-color: #7D7D7D !important;
}
.section_calendar_admin .hidlsfx {
  width: 100%;
  height: 148px;
  /* heighy: 170px;  alex*/
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 1px #E3EDF3;
}
.section_calendar_admin .hidlsfx span {
  font-size: 12px;
  font-weight: bold;
  color: #7D7D7D;
}
.section_calendar_admin table.fc-datagrid-header.fc-scrollgrid-sync-table {
  width: 355px;
}
.section_calendar_admin .contCalendarVvoFlex {
  overflow: hidden;
  position: relative;
  display: flex;
}
.section_calendar_admin .contCalendarVvoFlex #calendar {
  flex: 100%;
}
.section_calendar_admin #calendar {
  max-width: none !important;
  margin: 0 !important;
}
.section_calendar_admin .rgtContMrCal {
  /* padding-top: 8rem; */
  position: absolute;
  top: 4.1rem;
  right: 0;
  z-index: 2;
  bottom: 0;
  box-shadow: -30px 0 40px 0 rgba(0, 0, 0, 0.29);
  background-color: white;
}
.section_calendar_admin .right_bk_show {
  flex: 93px;
  width: 93px;
  min-width: 93px;
  transition: all 0.3s ease;
  /* animacion info */
}
.section_calendar_admin .right_bk_show ._fright-tb {
  transition: transform 0.3s ease;
}
.section_calendar_admin .right_bk_show .show-inf-details-calendar {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.section_calendar_admin .right_bk_show .borderCont {
  box-shadow: 0 0 0 1px #E3EDF3 inset;
}
.section_calendar_admin .right_bk_show .block-pd-cl .gp21 {
  gap: 15px;
}
.section_calendar_admin .right_bk_show .block-pd-cl.rs {
  padding: 0 30px 20px !important;
}
.section_calendar_admin .right_bk_show .block-pd-cl.checks {
  padding: 21px 30px 19px !important;
}
.section_calendar_admin .right_bk_show .block-pd-cl.sw-pf {
  padding: 21px 30px 29px !important;
}
.section_calendar_admin .right_bk_show .block-pd-cl:not(:last-child) {
  border-bottom: 1px solid #E3EDF3 !important;
}
.section_calendar_admin .right_bk_show ._kr7m4r {
  margin-top: auto;
  border-top: 1px solid #E3EDF3;
  padding: 16px 30px;
}
.section_calendar_admin .right_bk_show .contCheckDetails .iconFlecha {
  transition: all 0.3s ease;
}
.section_calendar_admin .right_bk_show.active-info {
  flex: 372px;
  width: 372px;
  min-width: 372px;
}
.section_calendar_admin .right_bk_show.active-info .iconFlecha {
  transform: rotate(180deg);
}
.section_calendar_admin .right_bk_show.active-info .show-inf-details-calendar {
  opacity: 1;
  visibility: visible;
}
.section_calendar_admin .right_bk_show ._bkgris {
  padding: 12px 29px;
  border-radius: 8px;
  background-color: rgba(227, 237, 243, 0.3);
}
.section_calendar_admin .contNotLine {
  position: relative;
  width: 100%;
  height: 148px;
  box-shadow: 0 0 0 1px #e3edf3;
}
.section_calendar_admin .contNotLine .transf {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section_calendar_admin .contNotLine .not-linetb {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  transform: rotate(27deg);
  width: 1px;
  background-color: #E3EDF3;
}

/* calendar individual select */
.sectionCalendarIndSelect .fc th {
  background-color: #FF5A5F;
}
.sectionCalendarIndSelect .fc .fc-col-header-cell-cushion {
  padding: 12px 4px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}
.sectionCalendarIndSelect .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 6.9em;
}
.sectionCalendarIndSelect .fc .fc-scrollgrid-section > * {
  border-top-width: thin;
  border-left-width: thin;
}
.sectionCalendarIndSelect .fc .fc-daygrid-day-top {
  flex-direction: initial;
}
.sectionCalendarIndSelect .fc .fc-daygrid-day-number {
  font-size: 12px;
  line-height: 16px;
  color: #7D7D7D;
}
.sectionCalendarIndSelect .fc .fc-day-other ._badsdoller {
  opacity: 0.3;
}
.sectionCalendarIndSelect tbody .fc-scrollgrid-section td:nth-child(1) {
  border: 1px solid #E3EDF3;
}
.sectionCalendarIndSelect thead .fc-scroller {
  padding-bottom: 0;
}
.sectionCalendarIndSelect ._badsdoller {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: inherit;
  padding: 8px;
}
.sectionCalendarIndSelect ._badsdoller ._bkgrsdoll {
  margin-top: auto;
}
.sectionCalendarIndSelect .fc-daygrid-event {
  white-space: normal;
}
.sectionCalendarIndSelect .contCalendarVvoFlex {
  gap: 24px;
}
.sectionCalendarIndSelect .rgtContMrCal {
  position: relative;
  top: 0;
  box-shadow: none;
  height: 700px;
  display: flex;
  flex-direction: column;
}
.sectionCalendarIndSelect .rgtContMrCal.right_bk_show {
  flex: 354px;
  width: 354px;
  min-width: 354px;
}
.sectionCalendarIndSelect .rgtContMrCal.active-info .hideInfoSlectDays {
  display: none;
}
.sectionCalendarIndSelect .sltNrlCont {
  flex: 48%;
}
.sectionCalendarIndSelect .sltNrlCont .vvo-btn-select {
  width: 100%;
}