.dates-location {
  padding: 100px 60px 0;
}

@media (max-width: 1023px) {
  .content_dates-local {
    text-align: center;
  }
}
.content_dates-local h3 {
  color: #333333;
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
}
.content_dates-local .card_items .card_info h3 {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  font-weight: 400;
}
.content_dates-local .card_items {
  width: auto;
}
.content_dates-local .owl-carousel .owl-nav button {
  position: absolute;
  background: white;
  top: 0;
  bottom: 0;
  transform: translateY(0%);
  font-size: 60px !important;
  color: #00B5DD !important;
}
.content_dates-local .owl-carousel .owl-nav button.owl-prev {
  left: -33px;
}
.content_dates-local .owl-carousel .owl-nav button.owl-next {
  right: -33px;
}
.content_dates-local .star {
  padding: 6px 14.6px;
}
.content_dates-local .star .content-star i {
  color: #00B5DD;
}
.content_dates-local .block_a {
  margin-top: 38px;
  display: flex;
  justify-content: center;
}
.content_dates-local .block_a button {
  outline: none;
  border-style: none;
  cursor: pointer;
  padding: 16px 50px;
  border-radius: 10px;
  background-color: #00B5DD;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
}