._location-he ._mv-places ._remove {
  display: none;
}

header {
  position: absolute;
  padding: 20px 0;
  z-index: 30;
  transition: all 0.5s ease;
}
header.fixed {
  background-color: #283646;
  position: fixed;
  animation: fixHeader 0.5s ease;
}
@keyframes fixHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
header .medio, header .container-medio {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .book-form {
  position: relative;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}
@media (max-width: 1450px) {
  header .book-form {
    display: none;
  }
}
header .book-form form {
  gap: 40px;
  padding: 0;
}
header .book-form form ._flex-js {
  gap: 5px;
}
header .book-form form ._flex-js .inputBox {
  margin: 0 5px;
}
header .book-form form ._flex-js .inputBox:not(:last-child) {
  border-right: none;
}
header .book-form form ._flex-js .inputBox:nth-child(1) {
  display: none;
}
header .book-form form ._flex-js .inputBox label {
  width: 128px;
  margin-right: 10px;
}
header .book-form form ._flex-js .inputBox span {
  color: #FFFFFF;
}
header .book-form form ._flex-js .inputBox .place_select i {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
header .book-form form ._flex-js .inputBox .place_select i span {
  color: #FFFFFF;
}
header .book-form form ._flex-js .inputBox .place_select i input {
  width: 100%;
  color: #FFFFFF;
}
header .book-form form ._flex-js .inputBox .place_select i input::placeholder {
  color: #FFFFFF;
}
header .book-form form ._flex-js .inputBox .place_select i i {
  color: #FFFFFF;
  margin-top: 0;
}
header .book-form form .btn {
  flex: none;
  border-radius: 10px;
}
header .book-form ._bef-places {
  margin-top: 31px;
}
@media (max-width: 1400px) {
  header {
    min-height: 80px;
  }
}

._mv-places {
  transition: all 0.3s ease;
}

._header-menu.is-active .menu_home-content {
  top: 85px;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1400px) {
  ._header-menu.is-active .menu_home-content {
    top: 75px;
  }
}

.menu__text-link {
  display: inline-block;
  font-size: 18px !important;
  color: #7D7D7D !important;
  display: flex;
  white-space: nowrap;
  width: 100%;
  font-weight: normal;
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: inherit;
  padding: 16px 20px;
}
.menu__text-link:hover {
  background-color: rgba(237, 237, 243, 0.5);
}
@media (max-width: 1400px) {
  .menu__text-link {
    padding: 12px 16px !important;
    font-size: 14px !important;
    line-height: 18px !important;
  }
}

.wf10a {
  flex: 1 0 auto;
}

.bold__menu-text-link {
  color: #2A2A2A !important;
}

.not__ics-circle {
  display: inline-block;
  width: 6px;
  height: 6px;
  top: -2px;
  vertical-align: top;
  background-color: #FF5A5F;
  border-radius: 50%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_items {
  margin-right: 50px;
}
.menu_items img,
.menu_items i {
  margin-right: 10px;
}
.menu a, .menu span {
  color: white;
  font-size: 18px;
}
@media (max-width: 1100px) {
  .menu a, .menu span {
    font-size: 16px;
  }
}
.menu a {
  display: flex;
  align-items: center;
}
.menu_perfil {
  cursor: pointer;
  margin-right: 20px;
}
.menu_perfil span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_perfil span img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #FF5A5F;
  margin-right: 5px;
}
@media (max-width: 1100px) {
  .menu_perfil span img {
    width: 40px;
    height: 40px;
  }
}
.menu .menu_home-content {
  position: absolute;
  top: 95px;
  right: -10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  border: 2px solid #E3EDF3;
}
@media (max-width: 1400px) {
  .menu .menu_home-content {
    border: 1px solid #E3EDF3;
  }
}
.menu .menu_home-content.active {
  top: 95px;
  visibility: visible;
  opacity: 1;
}
.menu .menu_home-content .menu__triang-ics {
  top: -6px;
  right: 10px;
  bottom: 0;
}
.menu .menu_home-content-items {
  position: relative;
  padding: 8px 0;
  width: 270px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
@media (max-width: 1400px) {
  .menu .menu_home-content-items {
    width: 240px;
  }
}
.menu .menu_home-content-items .br-line {
  margin: 8px 0;
  height: 1px;
  background-color: #E3EDF3;
}
.menu .menu_home-content-items .cl_7d-menu li,
.menu .menu_home-content-items .cl_7d-menu a {
  color: #7d7d7d;
}
.menu .menu_home-content-items ul li {
  cursor: pointer;
  display: block;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 10px 10px 16px;
}
.menu .menu_home-content-items ul li a {
  font-size: 16px;
  color: #333333;
  transition: all 0.3s ease;
}
.menu i.fa-bars {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.mnconfx {
  display: flex;
  align-items: center;
}

@media (max-width: 1100px) {
  .logo-menu img {
    width: 185px;
  }

  header {
    position: fixed;
  }
}
@media (max-width: 1000px) {
  .logo-menu img {
    width: 172px;
  }
}
@media (max-width: 890px) {
  .logo-menu img {
    width: 162px;
  }
}
@media (max-width: 68px) {
  .menu > a {
    display: none;
  }
}
@media (max-width: 743px) {
  .page__home header .menu_items.active i {
    font-weight: 500;
    color: #FF5A5F;
  }
  .page__home header .menu_items.active a,
.page__home header .menu_items.active span,
.page__home header .menu_items.active .sub {
    color: #333;
    font-weight: 600;
  }

  body header {
    margin: 0;
    height: 65px;
    display: contents !important;
  }
  body header .mnconfx {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }
  body header .mnconfx > a,
body header .mnconfx .menu_items {
    max-width: 24%;
    flex: 1 1 0;
  }
  body header .medio {
    justify-content: center;
  }
  body header .logo-menu {
    display: none;
  }
  body header ._mv-places {
    transition: none;
  }
  body header .menu {
    position: fixed;
    bottom: 0;
    padding: 12px 0;
    background-color: #FFFFFF;
    left: 0;
    right: 0;
    border-top: 1px solid #E3EDF3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 30;
  }
  body header .menu a,
body header .menu .menu span,
body header .menu .menu_items .sub {
    color: #7D7D7D;
    font-size: 10px !important;
    line-height: 12px;
  }
  body header .menu ._menu-bars {
    display: none;
  }
  body header .menu .hmen {
    max-width: 430px;
    width: 90%;
  }
  body header .menu .menu_items {
    display: flex;
    width: fit-content;
    margin: 0;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-align: center;
  }
  body header .menu .menu_items i {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    color: #b0b0b0;
  }
  body header .menu .menu_home-content {
    display: none;
  }
  body header .menu .menu__triang-ics {
    display: none;
  }
  body header .menu .menu_home-content-items {
    display: none;
  }
}