._location-he ._mv-places ._remove {
  display: none;
}

header {
  position: absolute;
  padding: 20px 0;
  z-index: 30;
  transition: all 0.5s ease;
}
header.fixed {
  background-color: #283646;
  position: fixed;
  animation: fixHeader 0.5s ease;
}
@keyframes fixHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
header .medio, header .container-medio {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .book-form {
  position: relative;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}
@media (max-width: 1450px) {
  header .book-form {
    display: none;
  }
}
header .book-form form {
  gap: 40px;
  padding: 0;
}
header .book-form form ._flex-js {
  gap: 5px;
}
header .book-form form ._flex-js .inputBox {
  margin: 0 5px;
}
header .book-form form ._flex-js .inputBox:not(:last-child) {
  border-right: none;
}
header .book-form form ._flex-js .inputBox:nth-child(1) {
  display: none;
}
header .book-form form ._flex-js .inputBox label {
  width: 128px;
  margin-right: 10px;
}
header .book-form form ._flex-js .inputBox span {
  color: #FFFFFF;
}
header .book-form form ._flex-js .inputBox .place_select i {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
header .book-form form ._flex-js .inputBox .place_select i span {
  color: #FFFFFF;
}
header .book-form form ._flex-js .inputBox .place_select i input {
  width: 100%;
  color: #FFFFFF;
}
header .book-form form ._flex-js .inputBox .place_select i input::placeholder {
  color: #FFFFFF;
}
header .book-form form ._flex-js .inputBox .place_select i i {
  color: #FFFFFF;
  margin-top: 0;
}
header .book-form form .btn {
  flex: none;
  border-radius: 10px;
}
header .book-form ._bef-places {
  margin-top: 31px;
}
@media (max-width: 1400px) {
  header {
    min-height: 80px;
    height: 80px;
  }
}

._mv-places {
  transition: all 0.3s ease;
}

._header-menu.is-active .menu_home-content {
  top: 67px;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1400px) {
  ._header-menu.is-active .menu_home-content {
    top: 50px;
  }
}

.menu__text-link {
  display: inline-block;
  font-size: 18px !important;
  color: #7D7D7D !important;
  display: flex;
  white-space: nowrap;
  width: 100%;
  font-weight: normal;
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: inherit;
  padding: 16px 20px;
}
.menu__text-link:hover {
  background-color: rgba(237, 237, 243, 0.5);
}
@media (max-width: 1400px) {
  .menu__text-link {
    padding: 12px 16px !important;
    font-size: 14px !important;
    line-height: 18px !important;
  }
}

.wf10a {
  flex: 1 0 auto;
}

.bold__menu-text-link {
  color: #2A2A2A !important;
}

.not__ics-circle {
  display: inline-block;
  width: 6px;
  height: 6px;
  top: -2px;
  vertical-align: top;
  background-color: #FF5A5F;
  border-radius: 50%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_items {
  margin-right: 50px;
}
.menu_items img,
.menu_items i {
  margin-right: 10px;
}
.menu a, .menu span {
  color: white;
  font-size: 18px;
}
@media (max-width: 1100px) {
  .menu a, .menu span {
    font-size: 16px;
  }
}
.menu a {
  display: flex;
  align-items: center;
}
.menu_perfil {
  margin-right: 20px;
}
.menu_perfil span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_perfil span img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #FF5A5F;
  margin-right: 5px;
}
@media (max-width: 1100px) {
  .menu_perfil span img {
    width: 40px;
    height: 40px;
  }
}
.menu .menu_home-content {
  position: absolute;
  top: 95px;
  right: -10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  border: 2px solid #E3EDF3;
}
@media (max-width: 1400px) {
  .menu .menu_home-content {
    border: 1px solid #E3EDF3;
  }
}
.menu .menu_home-content.active {
  top: 95px;
  visibility: visible;
  opacity: 1;
}
.menu .menu_home-content .menu__triang-ics {
  top: -6px;
  right: 10px;
  bottom: 0;
}
.menu .menu_home-content-items {
  position: relative;
  padding: 8px 0;
  width: 270px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
@media (max-width: 1400px) {
  .menu .menu_home-content-items {
    width: 240px;
  }
}
.menu .menu_home-content-items .br-line {
  margin: 8px 0;
  height: 1px;
  background-color: #E3EDF3;
}
.menu .menu_home-content-items .cl_7d-menu li,
.menu .menu_home-content-items .cl_7d-menu a {
  color: #7d7d7d;
}
.menu .menu_home-content-items ul li {
  cursor: pointer;
  display: block;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 10px 10px 16px;
}
.menu .menu_home-content-items ul li a {
  font-size: 16px;
  color: #333333;
  transition: all 0.3s ease;
}
.menu i.fa-bars {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.mnconfx {
  display: flex;
  align-items: center;
}

.page__search header {
  position: absolute;
  top: 0;
  z-index: 30;
}
.page__search .content_location {
  padding: 145px 0 30px;
}
.page__search .content_location .flex_local-dates {
  height: 100%;
  justify-content: space-between;
}
.page__search .content_location .flex_local-dates .content_location-width {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.page__search .content_location .flex_local-dates .content_location-width .contact-map {
  height: 100%;
}
.page__search .content_location .flex_local-dates .content_view {
  height: 100%;
  overflow: auto;
}
.page__search .content_location .flex_local-dates .content_view .hidden_galerias {
  height: 100% !important;
  height: 100% !important;
}
.page__search .content_location .hidden_galerias {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.page__search .content_location .hidden_galerias .content_galerias {
  margin-bottom: 0;
}
.page__search .content_location .pagination {
  margin: 2.5rem 0 15px;
}
.page__search .footer {
  margin-top: 53px;
}

.page__wishlist_interno header {
  position: absolute;
  top: 0;
  z-index: 30;
}
.page__wishlist_interno .content_location .flex_local-dates {
  padding: 145px 0 30px;
}
.page__wishlist_interno .content_location .content_view {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page__wishlist_interno .content_location .content_view .hidden_galerias {
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow: auto;
}
.page__wishlist_interno .footer {
  margin-top: 53px;
}

@media (max-width: 1400px) {
  .page__search .content_location {
    padding: 104px 0 22px;
  }

  .page__wishlist_interno .content_location .flex_local-dates {
    padding: 104px 0 22px;
  }

  .page__account_user header {
    margin-bottom: 0;
  }
  .page__account_user .section__perfil_interno.entero {
    display: block;
  }
  .page__account_user .section__perfil_interno .medio {
    margin: auto;
    padding: 0 16px;
    margin: 48px auto 32px;
    max-width: 1064px;
    width: 100%;
  }
  .page__account_user .section__perfil_interno .content-aside_about {
    width: 33.33%;
    max-width: 308px;
    top: auto !important;
    border-radius: 12px;
    border: 1px solid #E3EDF3;
  }
  .page__account_user .section__perfil_interno .content-aside_about .view_port {
    border-radius: 12px 12px 0 0;
    height: 137px;
  }
  .page__account_user .section__perfil_interno .content-aside_about .joind-span {
    font-size: 14px;
    line-height: 18px;
    bottom: 7px;
    right: 7px;
  }
  .page__account_user .section__perfil_interno .content-aside_about .h2-guests {
    font-size: 22px;
    line-height: 26px;
  }
  .page__account_user .section__perfil_interno .content-aside_about .block_perf {
    padding: 0 24px 32px;
    margin-bottom: 24px;
  }
  .page__account_user .section__perfil_interno .content-aside_about .block_perf .content-user-perf {
    margin-top: 24px;
  }
  .page__account_user .section__perfil_interno .content-aside_about .block_perf ._fw .s-usr_icons ._suis {
    min-width: 16px;
  }
  .page__account_user .section__perfil_interno .content-aside_about .block_perf ._fw .s-usr_icons ._suisinfo {
    margin-left: 8px;
  }
  .page__account_user .section__perfil_interno .interna-publish {
    width: 66.66% !important;
    max-width: 648px;
  }
}
@media (max-width: 1100px) {
  .logo-menu img {
    width: 185px;
  }

  header {
    position: fixed;
  }
}
@media (max-width: 1000px) {
  .logo-menu img {
    width: 172px;
  }
}
@media (max-width: 890px) {
  .logo-menu img {
    width: 162px;
  }
}
@media (max-width: 743px) {
  .page__home header .menu_items.icon_explore i {
    font-weight: 500;
    color: #FF5A5F;
  }
  .page__home header .menu_items.icon_explore a,
.page__home header .menu_items.icon_explore span,
.page__home header .menu_items.icon_explore .sub {
    color: #333;
    font-weight: 600;
  }

  .page__search .content_location {
    padding: 0;
  }

  .page__wishlist_interno header .menu_items.icon_wishlists i {
    font-weight: 500;
    color: #FF5A5F;
  }
  .page__wishlist_interno header .menu_items.icon_wishlists a,
.page__wishlist_interno header .menu_items.icon_wishlists span,
.page__wishlist_interno header .menu_items.icon_wishlists .sub {
    color: #333;
    font-weight: 600;
  }
  .page__wishlist_interno .content_location .flex_local-dates {
    padding: 0;
    height: auto;
  }
  .page__wishlist_interno .content_location .content_location-width:nth-child(2) {
    display: none;
  }
  .page__wishlist_interno footer {
    display: none;
  }

  .page__wishlist header .menu_items.icon_wishlists i {
    font-weight: 500;
    color: #FF5A5F;
  }
  .page__wishlist header .menu_items.icon_wishlists a,
.page__wishlist header .menu_items.icon_wishlists span,
.page__wishlist header .menu_items.icon_wishlists .sub {
    color: #333;
    font-weight: 600;
  }
  .page__wishlist footer {
    display: none;
  }

  .page__account_user header .menu_items.icon_profile i {
    font-weight: 500;
    color: #FF5A5F;
  }
  .page__account_user header .menu_items.icon_profile a,
.page__account_user header .menu_items.icon_profile span,
.page__account_user header .menu_items.icon_profile .sub {
    color: #333;
    font-weight: 600;
  }
  .page__account_user footer {
    display: none;
  }

  .page__messages_user.is-message-open-nav header .menu {
    bottom: -64px;
  }
  .page__messages_user header .menu_items.icon_inbox i {
    font-weight: 500;
    color: #FF5A5F;
  }
  .page__messages_user header .menu_items.icon_inbox a,
.page__messages_user header .menu_items.icon_inbox span,
.page__messages_user header .menu_items.icon_inbox .sub {
    color: #333;
    font-weight: 600;
  }
  .page__messages_user .left_msg_user {
    margin-bottom: 3.9rem;
  }

  body header {
    margin: 0;
    height: 65px;
    display: contents !important;
  }
  body header .mnconfx {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }
  body header .mnconfx > a,
body header .mnconfx .menu_items {
    max-width: 20%;
    flex: 1 1 0;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    min-width: 0px;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
            hyphens: auto;
    padding: 0 2px;
  }
  body header .medio {
    justify-content: center;
  }
  body header .logo-menu {
    display: none;
  }
  body header ._mv-places {
    transition: none;
  }
  body header .menu {
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 30;
    transition: bottom 0.3s ease;
  }
  body header .menu a,
body header .menu .menu span,
body header .menu .menu_items .sub {
    color: #7D7D7D;
    font-size: 10.5px !important;
    line-height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
  }
  body header .menu .vvo_hambur {
    display: none;
  }
  body header .menu .hmen {
    max-width: 560px;
    width: 100%;
  }
  body header .menu .menu_items {
    display: flex;
    width: fit-content;
    margin: 0;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-align: center;
  }
  body header .menu .menu_items.menu_perfil {
    display: none;
  }
  body header .menu .menu_items i {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    color: #b0b0b0;
  }
  body header .menu .menu_items .i {
    color: #b0b0b0;
  }
  body header .menu .menu_home-content {
    display: none;
  }
  body header .menu .menu__triang-ics {
    display: none;
  }
  body header .menu .menu_home-content-items {
    display: none;
  }
}