*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1600px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.home {
  width: 100%;
  height: 850px;
  background-image: url("../img/pano-home.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
.home .content_icons {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
}
.home .content_icons-block a {
  margin: 120.4px 0 119.6px 17px;
}
.home_full-screen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .block_content {
  max-width: 45%;
  z-index: 1;
  margin-right: 20px;
}
.home .cards_content {
  position: relative;
  max-width: 900px;
  width: 50%;
}
.home .cards_content .card_items.card_items_active {
  max-width: 280px;
  height: 465px;
  z-index: 2;
  border: 5px solid #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.home .content_leng {
  position: fixed;
  cursor: pointer;
  top: 105px;
  right: 0;
  background-color: #FF5A5F;
  border-radius: 10px 0 0 10px;
  padding: 7px 11px 7px 12px;
  z-index: 20;
}

.owl-carousel.owl-drag .owl-item {
  max-width: 280px;
}

.owl-stage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-nav.disabled {
  display: block !important;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px !important;
  left: -30px;
  color: white !important;
}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px !important;
  right: -30px;
  color: white !important;
}

.home-text {
  margin: 100px 0;
}
.home-text .medio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-text .medio img {
  margin-right: 80px;
}

.home-text_group p {
  margin-bottom: 30px;
}
.home-text_group p:last-child {
  margin-bottom: 0;
}

.tabs {
  margin-bottom: 40px;
}
.tabs .medio {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.tabs .content-scroll-local {
  display: flex;
  margin: 0 22px 0 0;
  max-width: 100%;
  overflow-x: scroll;
}
.tabs .btn-right-scroll {
  display: none;
}
@media (max-width: 1700px) {
  .tabs .btn-right-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.tabs ::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1700px) {
  .tabs_items_group {
    overflow-x: scroll;
    justify-content: flex-start;
  }

  .tabs_items {
    flex: none;
  }

  .tabs_items:before {
    height: 4px;
  }
}
@media screen and (max-width: 1023px) {
  .home_full-screen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home .block_content {
    flex: auto;
    max-width: initial;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .home .cards_content {
    min-height: auto;
    flex: auto;
    width: 100%;
    max-width: 585px;
  }

  h1.h1 br {
    display: none;
  }

  h1.h1 {
    font-size: 50px;
    line-height: initial;
  }

  .home .block_a {
    display: none;
  }

  .home .cards_content .slideshow-container {
    height: 300px;
    width: 30%;
    flex: auto;
    margin: 10px;
  }
  .home .cards_content .slideshow-container.active {
    height: 300px;
  }

  .home .block_content {
    margin-right: 0;
  }
}
@media screen and (max-width: 900px) {
  .home-text {
    margin: 50px 0;
  }
  .home-text .medio {
    flex-direction: column;
  }
  .home-text .medio img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 800px) {
  .tabs_select {
    grid-gap: 15px;
  }
  .tabs_select select {
    padding: 15px;
  }

  .tabs_items {
    padding: 15px;
  }
}
@media screen and (max-width: 700px) {
  .home {
    height: auto;
    padding: 100px 0;
  }
  .home .content_icons {
    display: none;
  }

  .h2-pano {
    font-size: 20px;
  }

  h1.h1 {
    font-size: 30px;
  }

  .tabs_select {
    width: 100%;
  }

  .tabs_select select {
    flex: auto;
  }
}
@media screen and (max-width: 682px) {
  .home .cards_content {
    width: 280px;
  }

  .tabs .medio {
    flex-direction: column;
  }

  .tabs_items_group {
    width: 100%;
  }

  .content-scroll-local {
    margin: 0 0 15px 0 !important;
  }

  .tabs_select .custom-anytime select {
    padding: 16px 34px 16px 31px;
  }
}
@media (max-width: 743px) {
  .tabs .con_flex {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .vvo-select {
    width: 100% !important;
  }

  .tabs_select {
    flex-direction: column;
  }

  .tabs_select .custom-anytime {
    width: 100%;
  }
  .tabs_select .custom-anytime select {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: -3px;
  }

  .owl-carousel .owl-nav button.owl-next {
    right: -3px;
  }
}