*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1600px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.fxohm {
  display: flex;
  overflow: hidden;
  margin: 0 2rem;
}

.home {
  position: relative;
  width: 100%;
  height: 850px;
  background-image: url("../img/pano-home.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.home .h2-pano {
  width: fit-content;
  margin-bottom: 12px;
}
.home .owl-dots {
  display: none;
}
.home .content_icons {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
}
.home .content_icons-block {
  display: flex;
  flex-direction: column;
  grid-row-gap: 119px;
  margin-left: 17px;
}
.home .content_icons-block i {
  font-size: 20px;
  color: #FFFFFF;
}
.home_full-screen {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 560px;
}
@media (max-width: 1400px) {
  .home_full-screen {
    height: 500px;
  }
}
.home_full-screen .vvo_carousel_nav .btn-prev,
.home_full-screen .vvo_carousel_nav .btn-next {
  position: absolute;
  top: 50%;
  z-index: 2;
}
.home_full-screen .vvo_carousel_nav .btn-prev i,
.home_full-screen .vvo_carousel_nav .btn-next i {
  color: #FFFFFF;
  font-size: 22px;
}
.home_full-screen .vvo_carousel_nav .btn-prev {
  left: 0;
}
.home_full-screen .vvo_carousel_nav .btn-next {
  right: 0;
}
.home .block_content {
  z-index: 1;
  margin-right: 44px;
}
@media (max-width: 1400px) {
  .home .block_content {
    margin-right: 20px;
  }
}
.home .cards_content {
  max-width: 900px;
  width: 50%;
  position: relative;
  height: inherit;
}
.home .cards_content .features-slides {
  display: none;
  width: 100%;
  height: 100%;
}
.home .cards_content .card_items_active {
  position: absolute;
  width: 280px;
  min-width: 280px;
  height: 465px;
  border: 5px solid #FFFFFF;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: 0.3s ease;
  cursor: pointer;
  background-color: #bababa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 6;
}
@media (max-width: 1400px) {
  .home .cards_content .card_items_active {
    width: 240px;
    min-width: 140px;
    height: 425px;
    border: 3px solid #FFFFFF;
  }
}
.home .cards_content .slider-left-1,
.home .cards_content .slider-left-2,
.home .cards_content .slider-right-1,
.home .cards_content .slider-right-2 {
  position: absolute;
  width: 280px;
  min-width: 280px;
  height: 400px;
  top: 50%;
  transform: translate(0, -50%);
  visibility: visible;
  transition: 0.3s ease;
}
@media (max-width: 1400px) {
  .home .cards_content .slider-left-1,
.home .cards_content .slider-left-2,
.home .cards_content .slider-right-1,
.home .cards_content .slider-right-2 {
    width: 240px;
    min-width: 240px;
    height: 360px;
  }
}
.home .cards_content .slider-left-1 {
  left: 80rem;
  z-index: 2;
  color: #fff;
}
.home .cards_content .slider-left-2 {
  left: 60rem;
  z-index: 1;
}
.home .cards_content .slider-right-1 {
  left: 315px;
  z-index: 2;
}
@media (max-width: 1400px) {
  .home .cards_content .slider-right-1 {
    left: 270px;
  }
}
.home .cards_content .slider-right-2 {
  left: 630px;
  z-index: 1;
}
@media (max-width: 1400px) {
  .home .cards_content .slider-right-2 {
    left: 540px;
  }
}
.home .cards_content .slider-hide {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.home .cards_content .features-slide_navs {
  z-index: 5;
}
.home .cards_content .features-slide_navs .features-slide_nav__next,
.home .cards_content .features-slide_navs .features-slide_nav__prev {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}
.home .cards_content .features-slide_navs .features-slide_nav__next i,
.home .cards_content .features-slide_navs .features-slide_nav__prev i {
  position: relative;
  color: #FFFFFF;
  font-size: 21px;
}
@media (max-width: 1400px) {
  .home .cards_content .features-slide_navs .features-slide_nav__next,
.home .cards_content .features-slide_navs .features-slide_nav__prev {
    width: 40px;
    height: 40px;
  }
  .home .cards_content .features-slide_navs .features-slide_nav__next i,
.home .cards_content .features-slide_navs .features-slide_nav__prev i {
    font-size: 20px;
  }
}
.home .cards_content .features-slide_navs .features-slide_nav__next::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 400px;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.6));
  border-radius: 0px 10px 10px 0px;
}
@media (max-width: 1400px) {
  .home .cards_content .features-slide_navs .features-slide_nav__next::before {
    height: 360px;
  }
}
.home .cards_content .features-slide_nav__next {
  right: -84px;
}
@media (max-width: 1740px) {
  .home .cards_content .features-slide_nav__next {
    right: -4vw;
  }
}
@media (max-width: 1400px) {
  .home .cards_content .features-slide_nav__next {
    right: -2.4vw;
  }
}
@media (max-width: 743px) {
  .home .cards_content .features-slide_nav__next {
    right: -12.4vw;
  }
}
@media (max-width: 500px) {
  .home .cards_content .features-slide_nav__next {
    right: -21.4vw;
  }
}
@media (max-width: 425px) {
  .home .cards_content .features-slide_nav__next {
    right: -16.4vw;
  }
}
@media (max-width: 360px) {
  .home .cards_content .features-slide_nav__next {
    right: -11.4vw;
  }
}
.home .cards_content .features-slide_nav__prev {
  left: -3rem;
}
.home .content_leng {
  position: fixed;
  cursor: pointer;
  top: 105px;
  right: 0;
  background-color: #FF5A5F;
  border-radius: 10px 0 0 10px;
  padding: 7px 11px 7px 12px;
  z-index: 20;
  transition: 0.3s ease;
}
.home .content_leng:hover {
  background-color: #DC383D;
}
@media (max-width: 1400px) {
  .home .content_leng {
    top: 90px;
    padding: 5px 9px 5px 10px;
  }
  .home .content_leng img {
    width: 28px;
  }
}
@media (max-width: 743px) {
  .home .content_leng {
    display: none;
  }
}

.owl-carousel.owl-drag .owl-item {
  max-width: 280px;
}

.owl-stage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-nav.disabled {
  display: block !important;
}

.owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px !important;
  color: white !important;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -30px;
}

.owl-carousel .owl-nav button.owl-next {
  right: -30px;
}

.home-text {
  margin: 100px 0;
}
.home-text .medio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-text .medio img {
  margin-right: 80px;
}

.home-text_group p {
  margin-bottom: 30px;
}
.home-text_group p:last-child {
  margin-bottom: 0;
}

.tabs {
  margin-bottom: 40px;
}
.tabs .medio {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.tabs .content-scroll-local {
  display: flex;
  margin: 0 22px 0 0;
  max-width: 100%;
  overflow-x: scroll;
}
.tabs .btn-right-scroll {
  display: none;
}
@media (max-width: 1700px) {
  .tabs .btn-right-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.tabs ::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1700px) {
  .tabs_items_group {
    overflow-x: scroll;
    justify-content: flex-start;
  }

  .tabs_items {
    flex: none;
  }

  .tabs_items:before {
    height: 4px;
  }
}
@media (max-width: 1400px) {
  .home {
    height: 698px;
  }
  .home .card_items {
    max-width: 240px;
  }
  .home .content_icons-block {
    margin-left: 13px;
    grid-row-gap: 100px;
  }
  .home .content_icons-block i {
    font-size: 18px;
  }
  .home .cards_content {
    width: 50.4%;
  }
  .home .owl-stage-outer {
    margin-right: 1.8rem;
    padding-left: 2px;
  }

  .home-text {
    margin: 80px 0;
  }
  .home-text .medio img {
    width: 275px;
    margin-right: 52px;
  }

  .owl-carousel .owl-nav button.owl-prev {
    left: -29px;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: 0;
  }
}
@media (max-width: 1100px) {
  .home .content_icons {
    display: none;
  }
}
@media (max-width: 900px) {
  .home .cards_content {
    width: 270px;
  }
}
@media (max-width: 800px) {
  .tabs_select select {
    padding: 15px;
  }

  .tabs_items {
    padding: 15px;
  }
}
@media (max-width: 743px) {
  .tabs .con_flex {
    flex-direction: column;
  }

  .home {
    height: 793px;
  }

  .home-text {
    margin: 50px 0;
  }
  .home-text .medio {
    flex-direction: column;
  }
  .home-text .medio img {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .home_full-screen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
    height: 620px;
  }

  .home .block_content {
    flex: auto;
    max-width: initial;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .home .cards_content {
    min-height: auto;
    flex: auto;
    width: 75%;
    max-width: 571px;
  }

  h1.h1 br {
    display: none;
  }

  h1.h1 {
    font-size: 50px;
    line-height: initial;
  }

  .home .block_a {
    display: none;
  }

  .home .cards_content .slideshow-container {
    height: 300px;
    width: 30%;
    flex: auto;
    margin: 10px;
  }
  .home .cards_content .slideshow-container.active {
    height: 300px;
  }

  .home .block_content {
    margin-right: 0;
    margin-bottom: 0;
    flex: none;
  }

  .home .owl-stage-outer {
    margin: 0 2.5rem;
  }

  .owl-carousel .owl-nav button.owl-prev {
    left: 0;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: 0;
  }
}
@media (max-width: 500px) {
  .home .cards_content {
    max-width: 240px;
  }

  .vvo-select {
    width: 100% !important;
  }

  .tabs_select {
    flex-wrap: wrap;
  }
  .tabs_select .vvo-select {
    flex: 1;
  }

  .tabs_select .custom-anytime {
    width: 100%;
  }
  .tabs_select .custom-anytime select {
    width: 100%;
  }
}
@media (max-width: 415px) {
  .h2-pano {
    font-size: 20px;
  }

  h1.h1 {
    font-size: 30px;
  }

  .tabs_select {
    width: 100%;
  }

  .tabs_select select {
    flex: auto;
  }
}
@media (max-width: 400px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: -3px;
  }

  .owl-carousel .owl-nav button.owl-next {
    right: -3px;
  }
}
@media (max-width: 332px) {
  .home .cards_content {
    width: 280px;
  }

  .tabs .medio {
    flex-direction: column;
  }

  .tabs_items_group {
    width: 100%;
  }

  .content-scroll-local {
    margin: 0 0 15px 0 !important;
  }

  .tabs_select .custom-anytime select {
    padding: 16px 34px 16px 31px;
  }
}