.location {
  padding-top: 140px;
}

.content_location .content-scroll-local {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
}
.content_location .content_links {
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 890px) {
  .content_location .content_links {
    flex-direction: column;
    margin-bottom: 18px;
    padding: 0 30px;
  }
}
@media (max-width: 730px) {
  .content_location .content_links {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.content_location .content_links .tabs_select {
  grid-gap: 9px;
}
.content_location .content_links .tabs_select .sl_price select {
  padding: 16px 46px 16px 30px;
}
.content_location .content_links .tabs_select .sl_typlace select {
  padding: 16px 47px 16px 23px;
}
.content_location .content_links .tabs_select .sl_filters select {
  text-align: center;
  padding: 16px 30px 16px 30px;
}
.content_location .content_links .tabs_items_group {
  flex: initial;
  margin: 0 22px;
  justify-content: flex-start;
  overflow-x: scroll;
}
@media (max-width: 890px) {
  .content_location .content_links .tabs_items_group {
    margin: 12px 0;
    max-width: 100%;
  }
}
.content_location .content_links .tabs_items_group .tabs_items {
  padding: 16px 22px;
}
.content_location .content_links .tabs_items_group .tabs_items:before {
  height: 4px;
}
.content_location .content_links ::-webkit-scrollbar {
  display: none;
}
.content_location .content_links .btn-right-scroll {
  display: none;
  margin-right: 22px;
}
@media (max-width: 1940px) {
  .content_location .content_links .btn-right-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 890px) {
  .content_location .content_links .btn-right-scroll {
    margin-left: 22px;
    margin-right: 0;
  }
}
.content_location .flex_local-dates {
  display: flex;
}
@media (max-width: 1300px) {
  .content_location .flex_local-dates {
    flex-direction: column;
  }
}
.content_location .flex_local-dates .content_location-width {
  padding-left: 60px;
}
@media (max-width: 1650px) {
  .content_location .flex_local-dates .content_location-width {
    width: 840px;
  }
}
@media (max-width: 1300px) {
  .content_location .flex_local-dates .content_location-width {
    width: 100%;
    padding-right: 60px;
  }
}
@media (max-width: 890px) {
  .content_location .flex_local-dates .content_location-width {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.content_location .flex_local-dates .content_location-width .contact-map {
  width: 100%;
  height: 95%;
}
@media (max-width: 1300px) {
  .content_location .flex_local-dates .content_location-width .contact-map {
    height: 631px;
  }
}
.content_location .flex_local-dates .content_location-width .contact-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}
.content_location .flex_local-dates .content_location-width .desc-location {
  margin: 18px 0 28px 0;
  display: flex;
  justify-content: space-between;
}
.content_location .flex_local-dates .content_location-width .desc-location h5 {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #7D7D7D;
}
.content_location .flex_local-dates .content_location-width .content_view .hidden_galerias {
  width: 637px;
  height: 1071px;
  overflow: overlay;
}
.content_location .flex_local-dates .content_location-width .content_view .hidden_galerias::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1650px) {
  .content_location .flex_local-dates .content_location-width .content_view .hidden_galerias {
    width: 100%;
  }
}
@media (max-width: 730px) {
  .content_location .flex_local-dates .content_location-width .content_view .hidden_galerias {
    height: 100%;
  }
}
@media (max-width: 730px) {
  .content_location .flex_local-dates .content_location-width .content_view .hidden_galerias .content_galerias {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 730px) {
  .content_location .flex_local-dates .content_location-width .content_view .hidden_galerias .content_galerias .slideshow-container {
    max-width: 100%;
    height: 402px;
  }
}
@media (max-width: 730px) {
  .content_location .flex_local-dates .content_location-width .content_view .hidden_galerias .content_galerias .flex_info {
    width: 100%;
    padding-top: 16px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 10px;
  }
}
.content_location .flex_local-dates .content_location-width .pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 15px 0;
  -webkit-user-select: none;
          user-select: none;
}
.content_location .flex_local-dates .content_location-width .pagination li {
  display: inline-block;
  margin: 5px;
}
.content_location .flex_local-dates .content_location-width .pagination li a {
  color: #7D7D7D;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
}
.content_location .flex_local-dates .content_location-width .pagination .previous-page, .content_location .flex_local-dates .content_location-width .pagination .next-page {
  color: #00B5DD;
  width: 40px;
  font-size: 25px;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}
.content_location .flex_local-dates .content_location-width .pagination .previous-page:hover {
  transform: translateX(-5px);
}
.content_location .flex_local-dates .content_location-width .pagination .next-page:hover {
  transform: translateX(5px);
}
.content_location .flex_local-dates .content_location-width .pagination .current-page, .content_location .flex_local-dates .content_location-width .pagination .dots {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.content_location .flex_local-dates .content_location-width .pagination .current-page.active {
  background-color: #FF5A5F;
}
.content_location .flex_local-dates .content_location-width .pagination .current-page.active a {
  color: #fff;
}
.content_location .flex_local-dates .content_location-width .pagination .disable {
  color: #ccc;
}
.content_location .flex_local-dates .content_location-width .cantidad_location-center {
  margin-top: 27px;
  text-align: center;
}
.content_location .flex_local-dates .content_location-width .cantidad_location-center small {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #7D7D7D;
}
.content_location .flex_local-dates .content_location-width .cantidad_location-center p {
  margin-top: 11px;
  color: #7D7D7D;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}
.content_location .flex_local-dates .content_location-width:nth-child(2) {
  width: 100%;
  margin-left: 30px;
  padding-left: 0;
}
@media (max-width: 1650px) {
  .content_location .flex_local-dates .content_location-width:nth-child(2) {
    width: 50%;
  }
}
@media (max-width: 1300px) {
  .content_location .flex_local-dates .content_location-width:nth-child(2) {
    margin-top: 20px;
    margin-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
.content_location .flex_local-dates .content_location-width:nth-child(2) h5 {
  margin-left: 90px;
}
@media (max-width: 1650px) {
  .content_location .flex_local-dates .content_location-width:nth-child(2) h5 {
    margin-left: 0;
    padding-right: 60px;
  }
}
@media (max-width: 1300px) {
  .content_location .flex_local-dates .content_location-width:nth-child(2) h5 {
    padding-left: 60px;
  }
}
@media (max-width: 890px) {
  .content_location .flex_local-dates .content_location-width:nth-child(2) h5 {
    padding-right: 30px;
    padding-left: 30px;
  }
}