*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1600px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.section-perfil_info {
  display: flex;
  justify-content: space-between;
  gap: 87px;
}
.section-perfil_info ._btnsm {
  margin-top: 0;
}
@media (max-width: 1050px) {
  .section-perfil_info {
    flex-direction: column;
  }
}
.section-perfil_info-main {
  width: 100%;
}
.section-perfil_info-main ._flex-right16 {
  padding-left: 49px;
}
@media (max-width: 768px) {
  .section-perfil_info-main ._flex-right16 {
    padding-left: 25px;
  }
}
.section-perfil_info-main .h2-guests_bold35 {
  padding-left: 49px;
  margin: 16px 0 8px;
}
@media (max-width: 768px) {
  .section-perfil_info-main .h2-guests_bold35 {
    padding-left: 25px;
  }
}
.section-perfil_info-aside {
  padding-right: 49px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 53px;
}
@media (max-width: 1050px) {
  .section-perfil_info-aside {
    padding-right: 25px;
    padding-left: 25px;
    flex-direction: row;
    gap: 30px;
  }
}
@media (max-width: 580px) {
  .section-perfil_info-aside {
    flex-direction: column;
  }
}
@media (max-width: 510px) {
  .section-perfil_info-aside ._cont-account {
    width: 100%;
    padding: 18px 25px;
  }
}