.header-fixed {
  display: none;
}

header {
  position: sticky;
  top: 0;
  margin-bottom: 80px;
  background-color: #283646;
}

header.fixed {
  position: sticky;
  animation: none;
}

header .book-form {
  animation: none;
  visibility: visible;
  width: auto;
  visibility: visible;
  opacity: 1;
}