._location-he ._mv-places ._remove {
  display: none;
}

header {
  position: absolute;
  padding: 20px 0;
  z-index: 30;
  transition: all 0.5s ease;
}
header.fixed {
  background-color: #283646;
  position: fixed;
  animation: fixHeader 0.5s ease;
}
@keyframes fixHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
header .medio {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .book-form {
  position: relative;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}
@media (max-width: 1450px) {
  header .book-form {
    display: none;
  }
}
header .book-form form {
  gap: 40px;
  padding: 0;
}
header .book-form form ._flex-js {
  gap: 5px;
}
header .book-form form ._flex-js .inputBox {
  margin: 0 5px;
}
header .book-form form ._flex-js .inputBox:not(:last-child) {
  border-right: none;
}
header .book-form form ._flex-js .inputBox:nth-child(1) {
  display: none;
}
header .book-form form ._flex-js .inputBox label {
  width: 128px;
  margin-right: 10px;
}
header .book-form form ._flex-js .inputBox span {
  color: #FFFFFF;
}
header .book-form form ._flex-js .inputBox .place_select i {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
header .book-form form ._flex-js .inputBox .place_select i span {
  color: #FFFFFF;
}
header .book-form form ._flex-js .inputBox .place_select i input {
  width: 100%;
  color: #FFFFFF;
}
header .book-form form ._flex-js .inputBox .place_select i input::placeholder {
  color: #FFFFFF;
}
header .book-form form ._flex-js .inputBox .place_select i i {
  color: #FFFFFF;
  margin-top: 0;
}
header .book-form form .btn {
  flex: none;
  border-radius: 10px;
}
header .book-form ._bef-places {
  margin-top: 31px;
}

._mv-places {
  transition: all 0.3s ease;
}

._header-menu.is-active .menu_home-content {
  top: 85px;
  opacity: 1;
  visibility: visible;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_items {
  margin-right: 50px;
}
.menu_items img {
  margin-right: 10px;
}
.menu a, .menu span {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.menu a {
  display: flex;
  align-items: center;
}
.menu_perfil {
  cursor: pointer;
  margin-right: 20px;
}
.menu_perfil span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_perfil span img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #FF5A5F;
  margin-right: 5px;
}
.menu .menu_home-content {
  position: absolute;
  top: 95px;
  right: -10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .menu .menu_home-content {
    margin-top: -10px;
    right: -7px;
  }
}
.menu .menu_home-content.active {
  top: 95px;
  visibility: visible;
  opacity: 1;
}
.menu .menu_home-content-items {
  position: relative;
  width: 240px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 2px solid #E3EDF3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.menu .menu_home-content-items ul li {
  display: block;
  margin: 0 0 1px;
}
.menu .menu_home-content-items ul li a {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 10px 10px 16px;
  transition: all 0.3s ease;
}
.menu .menu_home-content-items .br-line {
  margin: 4px 0;
  border: 1px solid #E3EDF3;
}
.menu .menu_home-content-items:before {
  content: "";
  position: absolute;
  top: -17px;
  left: 93%;
  transform: translateX(-50%);
  z-index: 1;
  border: 8px solid;
  border-color: transparent transparent #E3EDF3 transparent;
}
@media (max-width: 768px) {
  .menu .menu_home-content-items:before {
    top: -17px;
    left: 94.5%;
  }
}
.menu i.fa-bars {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu > a {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .logo-menu img {
    width: 150px;
  }

  header {
    position: fixed;
    background-color: #283646;
    border-bottom: 1px solid #ffffff29;
    padding: 10px 0;
  }
}