.bk-icon-des_fbas .easepick-wrapper {
  right: 0;
}

.content_international .content-user_icons {
  justify-content: left;
  grid-column-gap: 12px;
  grid-row-gap: 6px;
}
.content_international .selected-modal {
  margin: 0;
}

.page_interna_edit .content_international .content-info-hosted {
  padding-top: 0;
}

@media (max-width: 1400px) {
  body ._txteh,
body ._txtblu {
    margin-bottom: 0;
    line-height: 20px;
  }
  body .icon_share,
body .icon_favorite {
    font-size: 14px !important;
  }
  body .content_international .text-location_check {
    font-size: 14px;
    text-decoration: underline;
  }
  body .content_international .content-des_internationl {
    margin-top: 9px;
    margin-bottom: 24px;
  }
  body .content_international .content-des_internationl ._fcreverse {
    width: fit-content;
    display: flex;
    height: 28px;
    margin-bottom: 0;
  }
  body .content_international .content-star svg, body .content_international .content-star i {
    margin-right: 4px;
  }
  body .content_international .content-star i {
    width: auto;
    font-size: 16px;
  }
  body .content_international .content-star .num-start {
    font-size: 14px;
  }
  body .content_international .content-star .num-total {
    font-size: 14px !important;
    margin-left: 4px !important;
    text-decoration: underline;
  }
  body .content_international .content-publish_icon .i {
    width: 16px;
    margin-right: 8px;
  }
  body .content_international .content-gallery ._cgprel {
    padding-top: 36.9%;
  }
  body .content_international .content-gallery ._cgprel ._cgprelright {
    margin-left: 8px;
  }
  body .content_international .block_all-photos {
    bottom: 24px;
    right: 24px;
  }
  body .content_international .block_all-photos .btn-red svg {
    display: block;
  }
  body .content_international .content-info-hosted {
    padding-top: 48px;
  }
  body .content_international .content-info-hosted .site-content {
    padding-right: 0;
    width: 58.33%;
  }
  body .content_international .content-info-hosted .site-content .content-user_inf {
    padding-bottom: 24px;
    align-items: center;
  }
  body .content_international .content-info-hosted .site-content .content-user_inf .pf-u {
    max-width: 60px;
    min-width: 60px;
    height: 60px;
  }
  body .content_international .content-info-hosted .site-content .content-user_icons {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  body .content_international .content-info-hosted .site-content .content-user_icons ._txteh {
    margin-bottom: 4px;
  }
  body .content_international .content-info-hosted .site-content .content-user_icons ._txtec {
    font-size: 14px;
  }
  body .content_international .content-info-hosted .site-content .content-user-ictxt {
    padding: 48px 0;
  }
  body .content_international .content-info-hosted .site-content .content-user-ictxt .h2-guests {
    margin-bottom: 24px;
  }
  body .content_international .content-info-hosted .site-content .content-user-ictxt .content-user_icons .s-usr_icons ._suis img {
    width: 24px;
  }
  body .content_international .content-info-hosted .site-content .content-user-cal {
    margin: 48px 0;
  }
  body .content_international .content-info-hosted .site-content .content-user-nvl .block-flex {
    margin-top: 32px;
    flex-wrap: wrap;
    grid-column-gap: 32px;
  }
  body .content_international .content-info-hosted .site-content .content-user-nvl .block-flex .w100 {
    width: 100%;
  }
  body .content_international .content-info-hosted .site-content .content-user-nvl .block-flex .usrscont {
    width: 100%;
    height: 577px;
  }
  body .content_international .content-info-hosted .site-content .content-user-nvl .block-flex .btn-red {
    display: none;
  }
  body .content_international .content-info-hosted .site-content .content-user-if-flex {
    grid-row-gap: 24px;
  }
  body .content_international .content-info-hosted .site-content .content-user-if-flex .block-des-if {
    width: 100%;
    padding: 0;
  }
  body .content_international .content-info-hosted .site-content .content-user-if-flex .block-des-if .content-user_inf .h2-guests {
    font-size: 22px;
  }
  body .content_international .content-info-hosted .site-content .content-user-if-flex .block-des-if .content-user_inf ol ._txtec {
    font-size: 14px;
  }
  body .content_international .content-info-hosted .site-content .content-user-if-flex .block-des-if ._pf-msg {
    max-width: 64px;
    min-width: 64px;
    height: 64px;
    border: 2px solid #E3EDF3;
  }
  body .content_international .content-info-hosted .site-content .content-user-if-flex .block-cth .f-cth {
    justify-content: inherit;
  }
  body .content_international .content-info-hosted .site-content .content-user-if-flex .block-cth .f-cth ._txteh {
    width: auto;
    padding-right: 2px;
  }
  body .content_international .content-info-hosted .site-content .content-user-if-flex .block-cth .f-cth ._txtec {
    width: auto;
  }
  body .content_international .content-info-hosted .site-content .content-user-if-flex .block-cth .block-a {
    justify-content: flex-start;
  }
  body .content_international .content-info-hosted .site-content .content-user-ics .h2-guests {
    font-size: 22px;
  }
  body .content_international .content-info-hosted .site-content .content-user-ics .content-user-ics-rules ._txtblu {
    margin-bottom: 12px;
  }
  body .content_international .content-info-hosted .content-aside_prec {
    width: 33.33%;
    margin-left: 8.3%;
    top: 128px;
  }
  body .content_international .content-info-hosted .content-aside_prec .block_prec-res {
    padding: 7px 14px;
    border-radius: 8px;
    font-size: 22px;
  }
  body .content_international .content-info-hosted .content-aside_prec .block_prec-res .txt_night {
    font-size: 16px;
  }
  body .content_international .content-info-hosted .content-aside_prec .content_prec {
    margin-bottom: 24px;
  }
  body .content_international .content-info-hosted .content-aside_prec form .block-a .btn-celest {
    width: 100%;
  }
  body .container_gallerys .pd_galls-modal .modal_content-galls .nv_galls {
    padding: 0;
    flex: 0 0 48px;
    border-right: 0;
  }
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont {
    gap: 8px;
  }
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item {
    border-radius: 8px;
  }

  .page_interna_edit .ctadpcedit img {
    height: 220px;
    border-radius: 12px 12px 0 0;
  }
  .page_interna_edit .ctadpcedit .ctinf {
    padding: 24px;
  }
  .page_interna_edit .ctadpcedit .ctinf .gp30 {
    gap: 10px;
  }
  .page_interna_edit .content_international .content-info-hosted .site-content .content-user_inf {
    padding-bottom: 40px;
  }
}
@media (max-width: 10px) {
  body .content_international .content-info-hosted .content-aside_prec form ._flfpc .block_date {
    width: 100%;
  }
  body .content_international .content-info-hosted .content-aside_prec form ._cns .f-cth {
    margin: 8px -12px;
  }
  body .content_international .content-info-hosted .content-aside_prec form .f-cthdes {
    margin: 8px -12px;
  }
  body .content_international .content-info-hosted .content-aside_prec form .t-cth {
    margin: 8px -12px;
    margin-bottom: 0;
  }
}
@media (max-width: 880px) {
  body .content_international .content-des_internationl {
    flex-direction: inherit;
  }
}
@media (max-width: 743px) {
  .sc-interna_body header {
    display: none;
  }
  .sc-interna_body .content_international {
    position: relative;
    padding-top: 84px;
  }
  .sc-interna_body .content_international .content-des_internationl ._15xhfd45 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;
    z-index: 30;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .sc-interna_body .content_international .content-des_internationl ._15xhfd45 .content-publish_icon ._1e5q4qoz {
    border-radius: 50%;
  }
  .sc-interna_body .content_international .content-des_internationl ._15xhfd45 .content-publish_icon .i {
    margin-right: 0;
  }
  .sc-interna_body .content_international .content-des_internationl ._15xhfd45 .content-publish_icon .share_icon {
    margin-right: 12px;
  }
  .sc-interna_body .content_international .content-des_internationl ._15xhfd45 .content-publish_icon .icon_share,
.sc-interna_body .content_international .content-des_internationl ._15xhfd45 .content-publish_icon .icon_favorite {
    display: none;
  }
  .sc-interna_body .content_international .content-des_internationl ._fcreverse {
    max-width: 1600px;
    width: 92%;
  }
  .sc-interna_body .content_international .content-info-hosted .site-content {
    width: 100%;
  }

  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls {
    max-width: 100%;
    width: auto;
  }
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont {
    grid-auto-rows: 223.5px;
  }
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item {
    border-radius: 0;
  }

  .page_interna_edit .content_international .content-info-hosted .site-content {
    width: 100%;
  }
  .page_interna_edit .content_international .content-info-hosted .content-aside_prec {
    display: none;
  }
}
@media screen and (min-width: 743px) {
  body .container_gallerys .pd_galls-modal .modal_content-galls .nv_galls {
    flex-basis: 60px;
  }
  body .container_gallerys .pd_galls-modal .modal_block .content_hidden-galls {
    padding-top: 40px;
  }
}
@media (max-width: 1428px) {
  .content_international .h2_publish {
    font-size: 24px;
    line-height: normal;
  }
}
.content_international .content-des_internationl {
  margin-top: 21.5px;
  margin-bottom: 36px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
}
@media (max-width: 880px) {
  .content_international .content-des_internationl {
    flex-direction: column-reverse;
  }
}
.content_international .content-des_internationl .cstar .num-total {
  margin-right: 0;
}
@media (max-width: 880px) {
  .content_international .content-des_internationl ._fcreverse {
    width: 100%;
    margin-bottom: 21.5px;
  }
}
.content_international .content-gallery {
  overflow: hidden;
  margin-bottom: 0;
}
.content_international .content-gallery ._cgprel {
  padding-top: 37.27%;
  position: relative;
}
@media (max-width: 900px) {
  .content_international .content-gallery ._cgprel {
    padding-top: 75% !important;
  }
}
.content_international .content-gallery ._cgprel ._cgprelleft {
  height: 100%;
  width: 84.48%;
  left: 0px;
  top: 0px;
  position: absolute;
}
@media (max-width: 900px) {
  .content_international .content-gallery ._cgprel ._cgprelleft {
    width: 100%;
    height: 75.48%;
  }
}
@media (max-width: 600px) {
  .content_international .content-gallery ._cgprel ._cgprelleft {
    height: 69%;
  }
}
.content_international .content-gallery ._cgprel ._whg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
@media (max-width: 10px) {
  .content_international .content-gallery ._cgprel ._whg {
    flex-direction: row;
  }
}
.content_international .content-gallery ._cgprel ._whg::-webkit-scrollbar {
  display: none;
}
.content_international .content-gallery ._cgprel .scroll_n {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.content_international .content-gallery ._cgprel .scroll_n::-webkit-scrollbar {
  display: none;
}
.content_international .content-gallery ._cgprel ._w {
  margin-top: -13px;
  position: absolute;
  transition: transform 0.5s ease;
}
@media (max-width: 1400px) {
  .content_international .content-gallery ._cgprel ._w {
    margin-top: -9px;
  }
}
@media (max-width: 900px) {
  .content_international .content-gallery ._cgprel ._w {
    margin-top: 0;
    flex-direction: initial;
    margin-left: -9px;
    height: 100% !important;
    max-width: fit-content;
  }
}
@media (max-width: 10px) {
  .content_international .content-gallery ._cgprel ._w {
    width: 168%;
  }
}
@media (max-width: 720px) {
  .content_international .content-gallery ._cgprel ._w {
    width: 253%;
  }
}
.content_international .content-gallery ._cgprel ._block-gallery-mg {
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.content_international .content-gallery ._cgprel ._link-img {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}
.content_international .content-gallery ._cgprel ._bgcont {
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
  width: 100%;
}
.content_international .content-gallery ._cgprel ._img-wh {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.content_international .content-gallery ._cgprel ._cgprelright {
  height: 100%;
  margin-left: 20px;
  left: 84.48%;
  right: 0;
  top: 0;
  position: absolute;
}
@media (max-width: 900px) {
  .content_international .content-gallery ._cgprel ._cgprelright {
    width: 100%;
    height: auto;
    margin-left: 0 !important;
    top: 75.48%;
    left: 0;
    bottom: 0;
    margin-top: 8px;
  }
}
@media (max-width: 600px) {
  .content_international .content-gallery ._cgprel ._cgprelright {
    top: 69%;
  }
}
@media (max-width: 10px) {
  .content_international .content-gallery ._cgprel ._cgprelright ._cbtnbottom {
    top: 0;
    left: auto;
  }
}
@media (max-width: 10px) {
  .content_international .content-gallery ._cgprel ._cgprelright ._cbtnbottom ._sbtn {
    width: 85px;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.6));
  }
}
@media (max-width: 10px) {
  .content_international .content-gallery ._cgprel ._cgprelright ._cbtnbottom ._sbtn:focus > ._c9ajsd {
    left: 75%;
  }
}
@media (max-width: 10px) {
  .content_international .content-gallery ._cgprel ._cgprelright ._cbtnbottom ._sbtn ._c9ajsd {
    left: 68%;
    top: 45%;
    transform: rotate(0deg);
    transition: left 0.2s ease;
  }
}
.content_international .content-gallery ._cgprel ._pbkgallery {
  height: 25.6%;
  min-height: 25.6%;
  padding-top: 13px;
}
@media (max-width: 1400px) {
  .content_international .content-gallery ._cgprel ._pbkgallery {
    height: 124.427px;
    padding-top: 10px;
  }
}
@media (max-width: 1010px) {
  .content_international .content-gallery ._cgprel ._pbkgallery {
    padding-top: 8px;
  }
}
@media (max-width: 900px) {
  .content_international .content-gallery ._cgprel ._pbkgallery {
    padding-top: 0;
    padding-left: 8px;
    min-width: 34%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .content_international .content-gallery ._cgprel ._pbkgallery {
    min-width: 50%;
  }
}
.content_international .block_all-photos {
  bottom: 21px;
  right: 17px;
  position: absolute;
  z-index: 2;
}
.content_international .block_all-photos .btn-red svg {
  display: none;
}
.content_international .content-info-hosted {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content_international .content-info-hosted .site-content {
  padding-right: 60px;
  width: 63%;
}
@media (max-width: 1080px) {
  .content_international .content-info-hosted .site-content {
    width: 55%;
  }
}
@media (max-width: 10px) {
  .content_international .content-info-hosted .site-content {
    width: 100%;
    padding-right: 0;
  }
}
.content_international .content-info-hosted .site-content .content-user_inf {
  display: flex;
  align-items: center;
  padding-bottom: 51px;
}
@media (max-width: 530px) {
  .content_international .content-info-hosted .site-content .content-user_inf .pf-u {
    max-width: 55px;
    height: 55px;
  }
}
.content_international .content-info-hosted .site-content .content-user_inf ._w .h2-guests {
  line-height: normal;
}
.content_international .content-info-hosted .site-content .content-user-slider_img .h2-guests {
  margin-bottom: 19px;
}
@media (max-width: 1400px) {
  .content_international .content-info-hosted .site-content .content-user-slider_img .h2-guests {
    margin-bottom: 24px;
  }
}
.content_international .content-info-hosted .site-content .content-user-ictxt {
  padding: 45px 0 52px;
}
.content_international .content-info-hosted .site-content .content-user-ictxt .h2-guests {
  margin-bottom: 47px;
}
.content_international .content-info-hosted .site-content .content-user-cal {
  margin: 42px 0 51px;
}
.content_international .content-info-hosted .site-content .content-user-cal .h2-guests {
  margin-bottom: 8px;
}
.content_international .content-info-hosted .site-content .content-user-cal .lightpick__footer .lightpick__apply-action {
  display: none;
}
.content_international .content-info-hosted .site-content .content-user-nvl {
  padding: 48px 0;
}
.content_international .content-info-hosted .site-content .content-user-nvl .block-flex {
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
}
.content_international .content-info-hosted .site-content .content-user-nvl .block-flex .usrscont {
  width: 529px;
  height: 674px;
  overflow: overlay;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
@media (max-width: 1180px) {
  .content_international .content-info-hosted .site-content .content-user-nvl .block-flex .usrscont {
    width: 100%;
  }
}
.content_international .content-info-hosted .site-content .content-user-nvl .block-flex .usrscont::-webkit-scrollbar {
  display: none;
}
.content_international .content-info-hosted .site-content .content-user-lclmp {
  padding: 48px 0;
}
.content_international .content-info-hosted .site-content .content-user-lclmp .h2-guests {
  margin-bottom: 24px;
}
.content_international .content-info-hosted .site-content .content-user-lclmp .contact-map {
  width: 100% !important;
  height: 550px;
}
.content_international .content-info-hosted .site-content .content-user-lclmp .contact-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.content_international .content-info-hosted .site-content .content-user-lclmp .s-usr_icons {
  display: flex;
  margin: 32px 0;
}
.content_international .content-info-hosted .site-content .content-user-lclmp .s-usr_icons ._suis {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  min-width: 26px;
}
.content_international .content-info-hosted .site-content .content-user-lclmp .s-usr_icons ._suis img {
  max-width: unset;
}
.content_international .content-info-hosted .site-content .content-user-lclmp .s-usr_icons ._suisinfo {
  margin-left: 26px;
}
@media (max-width: 1400px) {
  .content_international .content-info-hosted .site-content .content-user-lclmp .s-usr_icons ._suisinfo {
    margin-left: 16px;
  }
}
.content_international .content-info-hosted .site-content .content-user-lclmp .s-usr_icons ._suisinfo ._winf {
  width: 730px;
}
.content_international .content-info-hosted .site-content .content-user-lclmp .s-usr_icons ._suisinfo ._winf ._txtec {
  line-height: 24px;
}
@media (max-width: 1400px) {
  .content_international .content-info-hosted .site-content .content-user-lclmp .s-usr_icons ._suisinfo ._winf {
    width: 100%;
  }
}
.content_international .content-info-hosted .site-content .content-user-if-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 48px 0;
  grid-row-gap: 53px;
}
.content_international .content-info-hosted .site-content .content-user-if-flex .block-des-if {
  width: 536px;
  padding-right: 40px;
}
@media (max-width: 1157px) {
  .content_international .content-info-hosted .site-content .content-user-if-flex .block-des-if {
    width: 100%;
    padding-right: 0;
  }
}
@media (max-width: 500px) {
  .content_international .content-info-hosted .site-content .content-user-if-flex .block-des-if .flex_alg {
    gap: 13px;
  }
}
@media (max-width: 500px) {
  .content_international .content-info-hosted .site-content .content-user-if-flex .block-des-if .flex_alg .content-star {
    flex: 0 0 46%;
    max-width: 46%;
  }
}
.content_international .content-info-hosted .site-content .content-user-ics {
  padding: 48px 0 0;
}
.content_international .content-info-hosted .site-content .content-user-ics .content-user-ics-rules {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 41px;
}
.content_international .content-info-hosted .site-content .content-user-ics .content-user-ics-rules ._txtblu {
  margin-bottom: 16px;
}
@media (max-width: 1017px) {
  .content_international .content-info-hosted .site-content .content-user-ics .content-user-ics-rules {
    gap: 53px;
  }
}
@media (max-width: 1400px) {
  .content_international .content-info-hosted .site-content .msgaround {
    padding: 23px 42px;
  }
}
@media (max-width: 1080px) {
  .content_international .content-info-hosted .site-content .msgaround {
    padding: 23px 31px;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 10px) {
  .content_international .content-info-hosted .site-content .msgaround {
    padding: 23px 43px;
    flex-direction: row;
    text-align: left;
  }
}
@media (max-width: 760px) {
  .content_international .content-info-hosted .site-content .msgaround {
    padding: 23px 31px;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 1400px) {
  .content_international .content-info-hosted .site-content .msgaround ._wcusermsg {
    width: auto;
  }
}
@media (max-width: 1080px) {
  .content_international .content-info-hosted .site-content .msgaround ._wcusermsg {
    padding-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 10px) {
  .content_international .content-info-hosted .site-content .msgaround ._wcusermsg {
    padding-right: 20px;
    margin-bottom: 0;
    width: 100%;
  }
}
@media (max-width: 760px) {
  .content_international .content-info-hosted .site-content .msgaround ._wcusermsg {
    padding-right: 0;
    margin-bottom: 20px;
  }
}
.content_international .content-info-hosted .content-aside_prec {
  position: sticky;
  top: 152px;
}
@media (max-width: 743px) {
  .content_international .content-info-hosted .content-aside_prec {
    display: none;
    position: absolute;
    inset: 0;
    z-index: 999;
    max-width: none;
    border-radius: 0;
  }
}
.content_international .content-info-hosted .content-aside_prec .content_prec {
  margin-bottom: 34px;
}
.content_international .content-info-hosted .content-aside_prec .flex {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
}
.content_international .content-info-hosted .content-aside_prec .flex .num-total {
  font-size: 16px;
  margin-left: 1px;
  margin-right: 0;
}
.content_international .content-star {
  display: flex;
  align-items: center;
}
.content_international .content-star svg {
  margin-right: 4px;
}
.content_international .content-star .num-start {
  font-size: 18px;
  color: #333333;
}
.content_international .content-star .num-total {
  margin-left: 5px;
  margin-right: 28.6px;
  font-size: 18px;
  opacity: 0.5;
  color: #333333;
}

@media (max-width: 743px) {
  .inter-footer .copyright {
    padding: 72px 0 84px;
  }
}