.container_leng_region .nav__links-txt {
  width: auto !important;
}
.container_leng_region .vvo_nav_flech {
  display: none !important;
}
.container_leng_region .fxfbwhmhbrzi {
  max-width: 1300px;
  max-height: 936px;
  height: 100%;
}
@media (max-width: 1440px) {
  .container_leng_region .fxfbwhmhbrzi {
    max-width: 1032px;
  }
}
@media (max-width: 743px) {
  .container_leng_region .fxfbwhmhbrzi {
    max-height: initial;
  }
}
.container_leng_region .h2-guests {
  font-size: 35px;
}
.container_leng_region .cont_fxtl {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container_leng_region .content_hidden {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container_leng_region .popup_leng_modal .content_leng {
  overflow: hidden;
}
@media (max-width: 1400px) {
  .container_leng_region .content_hidden {
    margin-top: 24px;
  }
}