.content_location .content-scroll-local {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
}
.content_location .content_links {
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  .content_location .content_links {
    padding: 0 14px;
  }
}
@media (max-width: 890px) {
  .content_location .content_links {
    flex-direction: column;
    margin-bottom: 10px;
  }
}
@media (max-width: 640px) {
  .content_location .content_links .con_flex {
    flex-direction: column-reverse;
  }
  .content_location .content_links .con_flex .tabs_select {
    width: 100%;
  }
  .content_location .content_links .con_flex .tabs_select .vvo-select {
    flex: 1;
  }
}
.content_location .content_links .navcont__flech-fx {
  flex: 1;
}
.content_location .content_links ::-webkit-scrollbar {
  display: none;
}
.content_location .content_links .btn-right-scroll {
  display: none;
  margin-right: 22px;
}
@media (max-width: 1940px) {
  .content_location .content_links .btn-right-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 890px) {
  .content_location .content_links .btn-right-scroll {
    margin-left: 22px;
    margin-right: 0;
  }
}
.content_location .flex_local-dates {
  display: flex;
}
@media (max-width: 1300px) {
  .content_location .flex_local-dates {
    flex-direction: column;
  }
}
.content_location .flex_local-dates .content_location-width {
  padding-left: 60px;
}
@media (max-width: 1650px) {
  .content_location .flex_local-dates .content_location-width {
    width: 840px;
  }
}
@media (max-width: 1400px) {
  .content_location .flex_local-dates .content_location-width {
    padding-left: 14px;
  }
}
@media (max-width: 1300px) {
  .content_location .flex_local-dates .content_location-width {
    width: 100%;
  }
}
@media (max-width: 743px) {
  .content_location .flex_local-dates .content_location-width {
    padding-right: 14px;
  }
}
.content_location .flex_local-dates .content_location-width .contact-map {
  width: 100%;
  height: 95%;
}
.content_location .flex_local-dates .content_location-width .contact-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}
@media (max-width: 1300px) {
  .content_location .flex_local-dates .content_location-width .contact-map {
    height: 537px;
  }
  .content_location .flex_local-dates .content_location-width .contact-map iframe {
    border-radius: 0;
  }
}
.content_location .flex_local-dates .content_location-width .desc-location {
  margin: 18px 0 28px 0;
  display: flex;
  justify-content: space-between;
}
.content_location .flex_local-dates .content_location-width .content_view .hidden_galerias {
  width: 637px;
  height: 1071px;
  overflow: overlay;
}
.content_location .flex_local-dates .content_location-width .content_view .hidden_galerias::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1650px) {
  .content_location .flex_local-dates .content_location-width .content_view .hidden_galerias {
    width: 100%;
  }
}
@media (max-width: 743px) {
  .content_location .flex_local-dates .content_location-width .content_view .hidden_galerias {
    height: 100%;
  }
}
@media (max-width: 743px) {
  .content_location .flex_local-dates .content_location-width .content_view .hidden_galerias .content_galerias {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 743px) {
  .content_location .flex_local-dates .content_location-width .content_view .hidden_galerias .content_galerias .slideshow-container {
    max-width: 100%;
    height: 302px;
  }
}
@media (max-width: 743px) {
  .content_location .flex_local-dates .content_location-width .content_view .hidden_galerias .content_galerias .flex_info {
    width: 100%;
    padding-top: 16px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 10px;
  }
}
.content_location .flex_local-dates .content_location-width .cantidad_location-center {
  margin-top: 27px;
  text-align: center;
}
.content_location .flex_local-dates .content_location-width .cantidad_location-center small {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #7D7D7D;
}
.content_location .flex_local-dates .content_location-width .cantidad_location-center p {
  margin-top: 11px;
  color: #7D7D7D;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}
.content_location .flex_local-dates .content_location-width:nth-child(2) {
  width: 100%;
  margin-left: 30px;
  padding-left: 0;
}
@media (max-width: 1650px) {
  .content_location .flex_local-dates .content_location-width:nth-child(2) {
    width: 50%;
  }
}
@media (max-width: 1300px) {
  .content_location .flex_local-dates .content_location-width:nth-child(2) {
    margin-top: 20px;
    margin-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
.content_location .flex_local-dates .content_location-width:nth-child(2) h5 {
  margin-left: 90px;
}
@media (max-width: 1650px) {
  .content_location .flex_local-dates .content_location-width:nth-child(2) h5 {
    margin-left: 0;
    padding-right: 60px;
  }
}
@media (max-width: 1300px) {
  .content_location .flex_local-dates .content_location-width:nth-child(2) h5 {
    padding-left: 60px;
  }
}
@media (max-width: 890px) {
  .content_location .flex_local-dates .content_location-width:nth-child(2) h5 {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 320px) {
  .content_location .contbtnselect {
    width: 100%;
  }
  .content_location .vvo-select {
    width: 100%;
  }
  .content_location .btn-celest {
    width: 100%;
  }
}