.container_admin-host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.container_admin-host .modal-anhost {
  position: absolute;
  z-index: 999;
  inset: 0px;
  background: rgba(40, 54, 70, 0.95);
}
.container_admin-host .pd_anhost-modal {
  display: flex;
  padding: 40px;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  position: absolute;
  max-height: 100vh;
  inset: 0px;
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal {
    padding: 10px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  width: 100%;
  height: auto;
  max-width: 796px;
  max-height: -webkit-fill-available;
  border-radius: 10px;
  z-index: 999;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .close {
  display: flex;
  justify-content: end;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .close span {
  cursor: pointer;
  color: white;
  font-size: 18px;
  padding: 13px 19.2px;
  background: #FF5A5F;
  border-radius: 0px 10px 0px 10px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block {
  display: flex;
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
}
@media (max-width: 790px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block {
    padding-left: 32px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost {
  margin-bottom: 30px;
  overflow: auto;
  width: 100%;
}
@media (max-width: 790px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost {
    padding-right: 32px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content {
  padding-bottom: 28px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-jsb {
  padding: 0 30px 42px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
  flex-wrap: wrap;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._flex_users {
  padding: 34px 30px 34px 50px;
  align-items: flex-start;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._flex_users ._b {
  padding-top: 5px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._flex_users ._b .h5_red {
  font-weight: normal;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._txtblu {
  display: inline-block;
  margin-bottom: 0;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._txteh {
  margin-bottom: 0;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about {
  padding: 34px 30px 22px 50px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about ._fbas-guintxt {
  gap: 8px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about ._fbas-guintxt .red_guion {
  width: 15px;
  text-align: center;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about ._flex {
  display: flex;
  justify-content: space-between;
  gap: 21px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about ._flex ._dfgap10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about ._flex ._fbtn-br {
  display: flex;
  gap: 14px;
  height: max-content;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-booking {
  padding: 34px 30px 31px 50px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-uestpaid {
  padding: 30px 30px 34px 50px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-privatenote {
  padding: 26px 30px 34px 50px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-privatenote ._fbas-details {
  align-items: end;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-support {
  padding: 27px 30px 32px 50px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-support ._flex {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._desurl {
  padding: 34px 30px 33px 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._desurl ._txtec {
  line-height: 26px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-commquest {
  padding: 27px 30px 10px 50px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-commquest ._gap {
  gap: 24px;
}