._txtblu {
  display: inline-block;
  margin-bottom: 0;
}

._txteh {
  margin-bottom: 0;
}

body .container_user_f_p {
  display: none;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost {
  max-width: 687px;
  overflow: hidden;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost .block-lb {
  width: 100%;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost ._txta-modls {
  display: none;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost ._txta-modls::placeholder {
  color: #E3EDF3;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost ._nmcfd {
  display: flex;
  flex-direction: column;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost ._nmcfd ._jro6to {
  padding: 34px 0;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost ._nmcfd ._jro6to:not(:last-child) {
  border-bottom: 1px solid #E3EDF3;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost .close span {
  border-radius: 0 0 0 10px;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost .close span:hover {
  background-color: #DC383D;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost ._cont_mrg {
  margin-top: 2%;
  margin-bottom: 10px;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost {
  margin-bottom: 0;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost ._pdleftright35 {
  padding: 0 35px 35px;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost .btn-celest {
  border-radius: 8px;
}
body .container_user_f_p .pd_anhost-modal .modal_content-anhost ._fxbtn {
  justify-content: end;
  display: flex;
  border-top: 2px solid #E3EDF3;
  padding: 27px 35px;
}

.container_admin-host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.container_admin-host .modal-anhost {
  position: absolute;
  z-index: 999;
  inset: 0px;
  background: rgba(40, 54, 70, 0.95);
}
.container_admin-host .pd_anhost-modal {
  display: flex;
  padding: 40px;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  position: absolute;
  max-height: 100vh;
  inset: 0px;
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal {
    padding: 10px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  width: 100%;
  height: auto;
  max-width: 796px;
  max-height: -webkit-fill-available;
  border-radius: 10px;
  z-index: 999;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .close {
  display: flex;
  justify-content: end;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .close span {
  cursor: pointer;
  color: white;
  font-size: 18px;
  padding: 13px 19.2px;
  background: #FF5A5F;
  border-radius: 0px 10px 0px 10px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block {
  display: flex;
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost {
  margin-bottom: 30px;
  overflow: auto;
  width: 100%;
}
@media (max-width: 600px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost ._pdleftright32 {
    padding: 0 32px !important;
  }
}
@media (max-width: 450px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost ._pdleftright32 {
    padding: 0 22px !important;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .reservation-details-cont ._block-jsb {
  padding-top: 0;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content {
  padding-bottom: 28px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-jsb {
  padding: 0 50px 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
  flex-wrap: wrap;
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-jsb {
    padding: 21px 18px;
    gap: 10px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._flex_users {
  padding: 34px 50px 34px;
  align-items: flex-start;
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._flex_users {
    padding: 21px 18px 24px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._flex_users ._bgpadd-f {
  padding: 17px 31px;
  border-radius: 10px;
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._flex_users ._bgpadd-f {
    padding: 12px 18px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._flex_users ._b {
  padding-top: 5px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._flex_users ._b .h5_red {
  font-weight: normal;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about {
  padding: 34px 50px 22px;
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about {
    padding: 21px 18px 22px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about ._fbas-guintxt {
  gap: 8px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about ._fbas-guintxt .red_guion {
  width: 15px;
  text-align: center;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about ._flex {
  display: flex;
  justify-content: space-between;
  gap: 21px;
}
@media (max-width: 618px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about ._flex {
    flex-direction: column;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about ._flex ._dfgap10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about ._flex ._fbtn-br {
  display: flex;
  gap: 14px;
  height: max-content;
}
@media (max-width: 618px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-about ._flex ._fbtn-br {
    justify-content: center;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-chan_listing {
  padding: 34px 50px 22px;
}
@media (max-width: 650px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-chan_listing {
    padding: 34px 30px 22px;
  }
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-chan_listing {
    padding: 21px 18px 22px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-chan_listing .search_content {
  margin: 0;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-chan_listing .content_change_gallery {
  height: 486px;
  overflow: auto;
  margin: 40px 0 37px;
  gap: 24px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-chan_listing .content_change_gallery .check_click {
  gap: 15px;
  max-width: 458px;
  width: 100%;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-booking {
  padding: 34px 50px 31px;
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-booking {
    padding: 24px 18px 21px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-uestpaid {
  padding: 30px 50px 34px;
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-uestpaid {
    padding: 20px 18px 24px;
  }
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-uestpaid .h2-guests {
    margin-top: 0 !important;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-link {
  padding: 31px 50px 31px;
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-link {
    padding: 21px 18px 21px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-privatenote {
  padding: 26px 50px 34px;
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-privatenote {
    padding: 16px 18px 24px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-privatenote ._fbas-details {
  align-items: end;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-support {
  padding: 27px 50px 32px;
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-support {
    padding: 17px 18px 22px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-support ._flex {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._desurl {
  padding: 34px 50px 33px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._desurl {
    padding: 24px 18px 23px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._desurl ._txtec {
  line-height: 26px;
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-commquest {
  padding: 27px 50px;
}
@media (max-width: 536px) {
  .container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-commquest {
    padding: 17px 18px;
  }
}
.container_admin-host .pd_anhost-modal .modal_content-anhost .modal_block .content_hidden-anhost .site-content ._block-commquest ._gap {
  gap: 24px;
}