body .container_user-host {
  display: none;
  z-index: 9999;
}
@media (max-width: 1400px) {
  body .container_user-host .h2_publish {
    font-size: 26px;
    line-height: 30px;
  }
  body .container_user-host .h2-guests {
    font-size: 22px;
    line-height: inherit;
  }
}
body .modal_content-wishlists {
  display: flex;
  background: #FFFFFF;
  width: 100%;
  height: auto;
  max-width: 660px;
  max-height: 100%;
  border-radius: 10px;
  z-index: 999;
  position: relative;
  overflow: hidden;
}
body .modal_content-wishlists .content_width {
  display: flex;
  width: 100%;
  border-radius: 10px;
}
body .modal_content-wishlists .content_width .content_hidden-wishlists {
  padding: 16px 25px 32px;
  overflow-x: auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
}
body .container_tsugpp {
  display: none;
}
body .container_tsugpp .pd_anhost-modal .modal_content-anhost {
  max-width: 1760px;
  overflow: hidden;
}
body .container_tsugpp .pd_anhost-modal .modal_content-anhost .modal_block {
  overflow-y: hidden;
}
body .container_tsugpp .pd_anhost-modal .modal_content-anhost .left_trips_popup_cont {
  flex: 0 0 570px;
  overflow: auto;
  margin-top: 50px;
}
body .container_tsugpp .pd_anhost-modal .modal_content-anhost .right_trips_popup_cont {
  flex: 1 1 0%;
  transition: all 0.5s ease;
  width: 100%;
}
body .container_tsugpp .pd_anhost-modal .modal_content-anhost .contact-map {
  width: 100%;
  height: 100%;
}
body .container_tsugpp .pd_anhost-modal .modal_content-anhost .contact-map iframe {
  width: 100%;
  height: 100%;
}
body .container_tsugpp .pd_anhost-modal .modal_content-anhost .bk-icon-des {
  gap: 19px;
}
body .container_tsugpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf {
  padding: 17px 35px 23px 35px;
}
body .container_tsugpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf:not(:last-child) {
  border-bottom: 2px solid #E3EDF3;
}
body .container_tsugpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf .show_profile {
  margin-top: 5px;
  gap: 8px;
}
body .container_tsugpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf:nth-child(1) {
  padding: 0 35px 23px 35px;
}
body .container_tsugpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf:nth-child(2) {
  padding: 33px 35px 20px 35px;
}
body .container_tsugpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf:nth-child(3) {
  padding: 23px 35px;
}
@media (max-width: 1400px) {
  body .container_tsugpp .pd_anhost-modal .modal_content-anhost .left_trips_popup_cont {
    flex: 0 0 490px;
    margin-top: 24px;
  }
  body .container_tsugpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf {
    padding: 22px 24px !important;
  }
  body .container_tsugpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf:nth-child(1) {
    padding-top: 0 !important;
  }
  body .container_tsugpp .pd_anhost-modal .modal_content-anhost .bk-icon-des {
    gap: 10px;
  }
}
@media (max-width: 900px) {
  body .container_tsugpp .pd_anhost-modal .modal_content-anhost .left_trips_popup_cont {
    flex: 0 0 330px;
  }
  body .container_tsugpp .pd_anhost-modal .modal_content-anhost .mnw-p47 {
    min-width: 100%;
  }
}
@media (max-width: 743px) {
  body .container_tsugpp .pd_anhost-modal .modal_content-anhost .left_trips_popup_cont {
    flex: 1 1 0%;
    margin-top: 0;
  }
  body .container_tsugpp .pd_anhost-modal .modal_content-anhost .right_trips_popup_cont {
    flex: 0 1 0;
  }
  body .container_tsugpp .pd_anhost-modal .modal_content-anhost .mnw-p47 {
    min-width: 48%;
  }
}
@media (max-width: 470px) {
  body .container_tsugpp .pd_anhost-modal .modal_content-anhost .mnw-p47 {
    min-width: 100%;
  }
  body .container_tsugpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf:nth-child(2) .mnw-p47 {
    min-width: 48%;
  }
}
body .pd-b13 {
  padding-bottom: 13px;
}
body .container_tsptpp {
  display: none;
}
body .container_tsptpp .pd_anhost-modal .modal_content-anhost {
  max-width: 580px;
  overflow: hidden;
}
body .container_tsptpp .pd_anhost-modal .modal_content-anhost .bk-icon-des {
  gap: 19px;
}
body .container_tsptpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf {
  padding: 17px 35px 23px 35px;
}
body .container_tsptpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf.pd-t0 {
  padding-top: 0 !important;
}
body .container_tsptpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf:not(:last-child) {
  border-bottom: 2px solid #E3EDF3;
}
body .container_tsptpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf .show_profile {
  margin-top: 5px;
  gap: 8px;
}
body .container_tsptpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf:nth-child(3) {
  padding: 23px 35px;
}
@media (max-width: 1400px) {
  body .container_tsptpp .pd_anhost-modal .modal_content-anhost {
    max-width: 480px;
  }
  body .container_tsptpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf {
    padding: 16px 24px !important;
  }
  body .container_tsptpp .pd_anhost-modal .modal_content-anhost .show_profile {
    margin-top: 3px;
    gap: 6px;
  }
  body .container_tsptpp .pd_anhost-modal .modal_content-anhost .bk-icon-des {
    gap: 10px;
  }
}
@media (max-width: 743px) {
  body .container_tsptpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf {
    padding: 22px 24px !important;
  }
  body .container_tsptpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf.pd-t0 {
    padding-top: 16px !important;
  }
  body .container_tsptpp .pd_anhost-modal .modal_content-anhost .mnw-p47 {
    min-width: 48%;
  }
}
@media (max-width: 470px) {
  body .container_tsptpp .pd_anhost-modal .modal_content-anhost .mnw-p47 {
    min-width: 100%;
  }
  body .container_tsptpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf:nth-child(2) .mnw-p47 {
    min-width: 48%;
  }
}
body .container_tsptpp1 {
  display: none;
}
body .container_tscdpp {
  display: none;
}
body .container_tscdpp .pd_anhost-modal .modal_content-anhost {
  max-width: 580px;
  overflow: hidden;
}
body .container_tscdpp .pd_anhost-modal .modal_content-anhost .bk-icon-des {
  gap: 19px;
}
body .container_tscdpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf {
  padding: 23px 35px;
}
body .container_tscdpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf.pd-t0 {
  padding-top: 0 !important;
}
body .container_tscdpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf:not(:last-child) {
  border-bottom: 2px solid #E3EDF3;
}
body .container_tscdpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf .show_profile {
  margin-top: 5px;
  gap: 8px;
}
@media (max-width: 1400px) {
  body .container_tscdpp .pd_anhost-modal .modal_content-anhost {
    max-width: 480px;
  }
  body .container_tscdpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf {
    padding: 22px 24px !important;
  }
  body .container_tscdpp .pd_anhost-modal .modal_content-anhost .bk-icon-des {
    gap: 10px;
  }
  body .container_tscdpp .pd_anhost-modal .modal_content-anhost .gp15 {
    gap: 8px;
  }
  body .container_tscdpp .pd_anhost-modal .modal_content-anhost .gp24 {
    gap: 18px;
  }
  body .container_tscdpp .pd_anhost-modal .modal_content-anhost .gp8 {
    gap: 5px;
  }
  body .container_tscdpp .pd_anhost-modal .modal_content-anhost .gp21 {
    gap: 14px;
  }
  body .container_tscdpp .pd_anhost-modal .modal_content-anhost .mnw45px {
    min-width: 38px;
    width: 38px;
  }
}
@media (max-width: 743px) {
  body .container_tscdpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf {
    padding: 16px 24px !important;
  }
  body .container_tscdpp .pd_anhost-modal .modal_content-anhost .trips_upcoming_inf.pd-t0 {
    padding-top: 16px !important;
  }
  body .container_tscdpp .pd_anhost-modal .modal_content-anhost .mnw-p47 {
    min-width: 48%;
  }
}
@media (max-width: 470px) {
  body .container_tscdpp .pd_anhost-modal .modal_content-anhost .mnw-p47 {
    min-width: 100%;
  }
}
body .container_adpsplot2 {
  display: none;
}
body .container_adpsplot2 .pd_anhost-modal {
  align-items: inherit;
}
body .container_adpsplot2 .pd_anhost-modal .modal_content-anhost {
  max-width: 1300px;
  overflow: hidden;
}
@media (max-width: 1400px) {
  body .container_adpsplot2 .pd_anhost-modal .modal_content-anhost {
    max-width: 800px;
  }
  body .container_adpsplot2 .pd_anhost-modal .modal_content-anhost .mr-t54 {
    margin-top: 42px;
  }
}
body .container_adpsplot2 .pd_anhost-modal .modal_content-anhost ._zjunba {
  padding: 30px 50px;
}
@media (max-width: 1400px) {
  body .container_adpsplot2 .pd_anhost-modal .modal_content-anhost ._zjunba .gp17 {
    gap: 8px;
  }
}
body .container_adpsplot21 {
  display: none;
}
body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost {
  max-width: 1300px;
  overflow: hidden;
}
body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .mxw882 {
  max-width: 882px;
  width: 100%;
}
body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .mxw259 {
  max-width: 259px;
  width: 100%;
}
body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .pdbgsubmit {
  padding: 34px 0;
}
body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .flex0-329 {
  flex: 0 0 329px;
}
body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .gp52-18 {
  gap: 18px;
  grid-column-gap: 52px;
}
body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .gp51-11 {
  gap: 11px;
  grid-column-gap: 51px;
}
body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .gp33-18 {
  gap: 18px;
  grid-column-gap: 33px;
}
body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .gp30-11 {
  gap: 11px;
  grid-column-gap: 30px;
}
body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .w259 {
  width: 259px;
}
@media (max-width: 1400px) {
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost {
    max-width: 800px;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .pdbgsubmit {
    padding: 28px 0;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .gp51-11 {
    grid-column-gap: 28px;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .gp32 {
    gap: 23px;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .gp25 {
    gap: 23px;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .gp17 {
    gap: 15px;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .gp11 {
    gap: 6px;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .gp52-18,
body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .gp33-18,
body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .gp30-11 {
    gap: 11px;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost ._dggtcgcggrg {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 16px;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .blimgApples {
    max-width: 108px;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .binfApples {
    padding: 26px 17px;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .mr-t12 {
    margin-top: 10px;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .mr-t19 {
    margin-top: 16px;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .gp19 {
    gap: 17px;
  }
}
@media (max-width: 813px) {
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost .flex0-329 {
    flex: 100%;
  }
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost ._dggtcgcggrg {
    grid-template-columns: 1fr;
  }
}
body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost ._zjunba {
  padding: 30px 50px;
}
@media (max-width: 1400px) {
  body .container_adpsplot21 .pd_anhost-modal .modal_content-anhost ._zjunba .gp17 {
    gap: 8px;
  }
}
body .container_adpsplot24 {
  display: none;
}
body .container_adpsplot24 .pd_anhost-modal {
  align-items: inherit;
}
body .container_adpsplot24 .pd_anhost-modal .modal_content-anhost {
  max-width: 1300px;
  overflow: hidden;
}
body .container_adpsplot24 .pd_anhost-modal .modal_content-anhost .flex0-520 {
  flex: 0 0 520px;
}
@media (max-width: 1400px) {
  body .container_adpsplot24 .pd_anhost-modal .modal_content-anhost {
    max-width: 800px;
  }
  body .container_adpsplot24 .pd_anhost-modal .modal_content-anhost .gp43 {
    gap: 33px;
  }
  body .container_adpsplot24 .pd_anhost-modal .modal_content-anhost .mr-t50 {
    margin-top: 42px;
  }
  body .container_adpsplot24 .pd_anhost-modal .modal_content-anhost .flex0-520 {
    flex: 0 0 100%;
  }
  body .container_adpsplot24 .pd_anhost-modal .modal_content-anhost .gp8 {
    gap: 6px;
  }
  body .container_adpsplot24 .pd_anhost-modal .modal_content-anhost .wics {
    width: 40px;
  }
}
body .container_adpsplot24 .pd_anhost-modal .modal_content-anhost ._zjunba {
  padding: 30px 50px;
}
@media (max-width: 1400px) {
  body .container_adpsplot24 .pd_anhost-modal .modal_content-anhost ._zjunba .gp17 {
    gap: 8px;
  }
}
body .container_adpsbktrot2 {
  display: none;
}
body .container_adpsbktrot2 .pd_anhost-modal {
  align-items: inherit;
}
body .container_adpsbktrot2 .pd_anhost-modal .modal_content-anhost {
  max-width: 1300px;
  overflow: hidden;
}
body .container_adpsbktrot2 .pd_anhost-modal .modal_content-anhost .txt-check-in {
  padding-left: 11px;
}
body .container_adpsbktrot2 .pd_anhost-modal .modal_content-anhost .mxw300 {
  max-width: 300px;
}
@media (max-width: 1400px) {
  body .container_adpsbktrot2 .pd_anhost-modal .modal_content-anhost {
    max-width: 800px;
  }
  body .container_adpsbktrot2 .pd_anhost-modal .modal_content-anhost .gp25 {
    gap: 20px;
  }
  body .container_adpsbktrot2 .pd_anhost-modal .modal_content-anhost .gp76 {
    gap: 56px;
  }
  body .container_adpsbktrot2 .pd_anhost-modal .modal_content-anhost .gp9 {
    gap: 5px;
  }
}
@media (max-width: 743px) {
  body .container_adpsbktrot2 .pd_anhost-modal .modal_content-anhost .mxw300 {
    max-width: 100%;
  }
}
body .container_adpsbktrot2 .pd_anhost-modal .modal_content-anhost ._zjunba {
  padding: 30px 50px;
}
@media (max-width: 1400px) {
  body .container_adpsbktrot2 .pd_anhost-modal .modal_content-anhost ._zjunba .gp17 {
    gap: 8px;
  }
}
body .container_adpsbktrot24 {
  display: none;
}
body .container_adpsbktrot24 .pd_anhost-modal {
  align-items: inherit;
}
body .container_adpsbktrot24 .pd_anhost-modal .modal_content-anhost {
  max-width: 1300px;
  overflow: hidden;
}
body .container_adpsbktrot24 .pd_anhost-modal .modal_content-anhost .flex0-520 {
  flex: 0 0 520px;
}
@media (max-width: 1400px) {
  body .container_adpsbktrot24 .pd_anhost-modal .modal_content-anhost {
    max-width: 800px;
  }
  body .container_adpsbktrot24 .pd_anhost-modal .modal_content-anhost .gp43 {
    gap: 33px;
  }
  body .container_adpsbktrot24 .pd_anhost-modal .modal_content-anhost .mr-t50 {
    margin-top: 42px;
  }
  body .container_adpsbktrot24 .pd_anhost-modal .modal_content-anhost .flex0-520 {
    flex: 0 0 100%;
  }
  body .container_adpsbktrot24 .pd_anhost-modal .modal_content-anhost .gp8 {
    gap: 6px;
  }
  body .container_adpsbktrot24 .pd_anhost-modal .modal_content-anhost .wics {
    width: 40px;
  }
}
body .container_adpsbktrot24 .pd_anhost-modal .modal_content-anhost ._zjunba {
  padding: 30px 50px;
}
@media (max-width: 1400px) {
  body .container_adpsbktrot24 .pd_anhost-modal .modal_content-anhost ._zjunba .gp17 {
    gap: 8px;
  }
}
body .container_adpsprot24 {
  display: none;
}
body .container_adpsprot24 .pd_anhost-modal {
  align-items: inherit;
}
body .container_adpsprot24 .pd_anhost-modal .modal_content-anhost {
  max-width: 1300px;
  overflow: hidden;
}
body .container_adpsprot24 .pd_anhost-modal .modal_content-anhost .flex0-520 {
  flex: 0 0 520px;
}
@media (max-width: 1400px) {
  body .container_adpsprot24 .pd_anhost-modal .modal_content-anhost {
    max-width: 800px;
  }
  body .container_adpsprot24 .pd_anhost-modal .modal_content-anhost .gp43 {
    gap: 33px;
  }
  body .container_adpsprot24 .pd_anhost-modal .modal_content-anhost .mr-t50 {
    margin-top: 42px;
  }
  body .container_adpsprot24 .pd_anhost-modal .modal_content-anhost .flex0-520 {
    flex: 0 0 100%;
  }
  body .container_adpsprot24 .pd_anhost-modal .modal_content-anhost .gp8 {
    gap: 6px;
  }
  body .container_adpsprot24 .pd_anhost-modal .modal_content-anhost .wics {
    width: 40px;
  }
}
body .container_adpsprot24 .pd_anhost-modal .modal_content-anhost ._zjunba {
  padding: 30px 50px;
}
@media (max-width: 1400px) {
  body .container_adpsprot24 .pd_anhost-modal .modal_content-anhost ._zjunba .gp17 {
    gap: 8px;
  }
}
body .container_adpsprot2 {
  display: none;
}
body .container_adpsprot2 .pd_anhost-modal {
  align-items: inherit;
}
body .container_adpsprot2 .pd_anhost-modal .modal_content-anhost {
  max-width: 1300px;
  overflow: hidden;
}
@media (max-width: 1400px) {
  body .container_adpsprot2 .pd_anhost-modal .modal_content-anhost {
    max-width: 800px;
  }
  body .container_adpsprot2 .pd_anhost-modal .modal_content-anhost .mr-t54 {
    margin-top: 42px;
  }
}
body .container_adpsprot2 .pd_anhost-modal .modal_content-anhost ._zjunba {
  padding: 30px 50px;
}
@media (max-width: 1400px) {
  body .container_adpsprot2 .pd_anhost-modal .modal_content-anhost ._zjunba .gp17 {
    gap: 8px;
  }
}
body .container-languages-speak .fxfbwhmhbrzi {
  max-width: 798px;
}
@media (max-width: 1400px) {
  body .container-languages-speak .fxfbwhmhbrzi {
    max-width: 568px;
  }
}
body .container-gallerys-share,
body .container-wishlists-share,
body .container-wishlists-create,
body .container-gallerys-create,
body .container-wishlists,
body .container-wishlists-view,
body .container-gallery-wishlists {
  display: none;
}
body .container-gallerys-share .fxfbwhmhbrzi,
body .container-wishlists-share .fxfbwhmhbrzi,
body .container-wishlists-create .fxfbwhmhbrzi,
body .container-gallerys-create .fxfbwhmhbrzi,
body .container-wishlists .fxfbwhmhbrzi,
body .container-wishlists-view .fxfbwhmhbrzi,
body .container-gallery-wishlists .fxfbwhmhbrzi {
  max-width: 660px;
}
@media (max-width: 1400px) {
  body .container-gallerys-share .fxfbwhmhbrzi,
body .container-wishlists-share .fxfbwhmhbrzi,
body .container-wishlists-create .fxfbwhmhbrzi,
body .container-gallerys-create .fxfbwhmhbrzi,
body .container-wishlists .fxfbwhmhbrzi,
body .container-wishlists-view .fxfbwhmhbrzi,
body .container-gallery-wishlists .fxfbwhmhbrzi {
    max-width: 568px;
  }
}
body .container-gallerys-share .poyxwh,
body .container-wishlists-share .poyxwh,
body .container-wishlists-create .poyxwh,
body .container-gallerys-create .poyxwh,
body .container-wishlists .poyxwh,
body .container-wishlists-view .poyxwh,
body .container-gallery-wishlists .poyxwh {
  padding-bottom: 80px;
}
body .container-gallerys-share .nv_btnfooter,
body .container-wishlists-share .nv_btnfooter,
body .container-wishlists-create .nv_btnfooter,
body .container-gallerys-create .nv_btnfooter,
body .container-wishlists .nv_btnfooter,
body .container-wishlists-view .nv_btnfooter,
body .container-gallery-wishlists .nv_btnfooter {
  padding: 13px 24px 80px;
}
@media (max-width: 1400px) {
  body .container-gallerys-share .nv_btnfooter,
body .container-wishlists-share .nv_btnfooter,
body .container-wishlists-create .nv_btnfooter,
body .container-gallerys-create .nv_btnfooter,
body .container-wishlists .nv_btnfooter,
body .container-wishlists-view .nv_btnfooter,
body .container-gallery-wishlists .nv_btnfooter {
    padding: 13px 24px 60px;
  }
}
@media (max-width: 743px) {
  body .container-gallerys-share .nv_btnfooter,
body .container-wishlists-share .nv_btnfooter,
body .container-wishlists-create .nv_btnfooter,
body .container-gallerys-create .nv_btnfooter,
body .container-wishlists .nv_btnfooter,
body .container-wishlists-view .nv_btnfooter,
body .container-gallery-wishlists .nv_btnfooter {
    padding: 16px 24px;
    border-top: 1px solid #E3EDF3;
  }
  body .container-gallerys-share .nv_btnfooter .btn-celest,
body .container-wishlists-share .nv_btnfooter .btn-celest,
body .container-wishlists-create .nv_btnfooter .btn-celest,
body .container-gallerys-create .nv_btnfooter .btn-celest,
body .container-wishlists .nv_btnfooter .btn-celest,
body .container-wishlists-view .nv_btnfooter .btn-celest,
body .container-gallery-wishlists .nv_btnfooter .btn-celest {
    width: 100%;
  }
}
body .container-gallerys-share .popup_share ._block-share,
body .container-wishlists-share .popup_share ._block-share,
body .container-wishlists-create .popup_share ._block-share,
body .container-gallerys-create .popup_share ._block-share,
body .container-wishlists .popup_share ._block-share,
body .container-wishlists-view .popup_share ._block-share,
body .container-gallery-wishlists .popup_share ._block-share {
  margin: 48px 0 30px;
  display: flex;
  align-items: center;
  gap: 29px;
}
@media (max-width: 1400px) {
  body .container-gallerys-share .popup_share ._block-share,
body .container-wishlists-share .popup_share ._block-share,
body .container-wishlists-create .popup_share ._block-share,
body .container-gallerys-create .popup_share ._block-share,
body .container-wishlists .popup_share ._block-share,
body .container-wishlists-view .popup_share ._block-share,
body .container-gallery-wishlists .popup_share ._block-share {
    margin: 24px 0;
    gap: 16px;
  }
}
body .container-gallerys-share .popup_share ._block-share .flex-img,
body .container-wishlists-share .popup_share ._block-share .flex-img,
body .container-wishlists-create .popup_share ._block-share .flex-img,
body .container-gallerys-create .popup_share ._block-share .flex-img,
body .container-wishlists .popup_share ._block-share .flex-img,
body .container-wishlists-view .popup_share ._block-share .flex-img,
body .container-gallery-wishlists .popup_share ._block-share .flex-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
}
@media (max-width: 1400px) {
  body .container-gallerys-share .popup_share ._block-share .flex-img,
body .container-wishlists-share .popup_share ._block-share .flex-img,
body .container-wishlists-create .popup_share ._block-share .flex-img,
body .container-gallerys-create .popup_share ._block-share .flex-img,
body .container-wishlists .popup_share ._block-share .flex-img,
body .container-wishlists-view .popup_share ._block-share .flex-img,
body .container-gallery-wishlists .popup_share ._block-share .flex-img {
    width: 64px;
    min-width: 64px;
    height: 64px;
    border-radius: 8px;
  }
}
body .container-gallerys-share .popup_share ._block-share .flex-img img,
body .container-wishlists-share .popup_share ._block-share .flex-img img,
body .container-wishlists-create .popup_share ._block-share .flex-img img,
body .container-gallerys-create .popup_share ._block-share .flex-img img,
body .container-wishlists .popup_share ._block-share .flex-img img,
body .container-wishlists-view .popup_share ._block-share .flex-img img,
body .container-gallery-wishlists .popup_share ._block-share .flex-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .container-gallerys-share .popup-favorite .h2_publish,
body .container-wishlists-share .popup-favorite .h2_publish,
body .container-wishlists-create .popup-favorite .h2_publish,
body .container-gallerys-create .popup-favorite .h2_publish,
body .container-wishlists .popup-favorite .h2_publish,
body .container-wishlists-view .popup-favorite .h2_publish,
body .container-gallery-wishlists .popup-favorite .h2_publish {
  text-align: center;
  margin-bottom: 58px;
}
body .container-gallerys-share .popup-favorite ._f-g,
body .container-wishlists-share .popup-favorite ._f-g,
body .container-wishlists-create .popup-favorite ._f-g,
body .container-gallerys-create .popup-favorite ._f-g,
body .container-wishlists .popup-favorite ._f-g,
body .container-wishlists-view .popup-favorite ._f-g,
body .container-gallery-wishlists .popup-favorite ._f-g {
  display: flex;
  flex-direction: column;
  margin-top: 73px;
  gap: 28px;
}
@media (max-width: 1400px) {
  body .container-gallerys-share .popup-favorite .h2_publish,
body .container-wishlists-share .popup-favorite .h2_publish,
body .container-wishlists-create .popup-favorite .h2_publish,
body .container-gallerys-create .popup-favorite .h2_publish,
body .container-wishlists .popup-favorite .h2_publish,
body .container-wishlists-view .popup-favorite .h2_publish,
body .container-gallery-wishlists .popup-favorite .h2_publish {
    font-size: 24px;
    margin-bottom: 38px;
  }
  body .container-gallerys-share .popup-favorite ._f-g,
body .container-wishlists-share .popup-favorite ._f-g,
body .container-wishlists-create .popup-favorite ._f-g,
body .container-gallerys-create .popup-favorite ._f-g,
body .container-wishlists .popup-favorite ._f-g,
body .container-wishlists-view .popup-favorite ._f-g,
body .container-gallery-wishlists .popup-favorite ._f-g {
    gap: 16px;
    margin-top: 0;
  }
}
body .container-gallerys-share .popup-faborite-1 .h2_publish,
body .container-wishlists-share .popup-faborite-1 .h2_publish,
body .container-wishlists-create .popup-faborite-1 .h2_publish,
body .container-gallerys-create .popup-faborite-1 .h2_publish,
body .container-wishlists .popup-faborite-1 .h2_publish,
body .container-wishlists-view .popup-faborite-1 .h2_publish,
body .container-gallery-wishlists .popup-faborite-1 .h2_publish {
  text-align: center;
  margin-bottom: 58px;
}
@media (max-width: 1400px) {
  body .container-gallerys-share .popup-faborite-1 .h2_publish,
body .container-wishlists-share .popup-faborite-1 .h2_publish,
body .container-wishlists-create .popup-faborite-1 .h2_publish,
body .container-gallerys-create .popup-faborite-1 .h2_publish,
body .container-wishlists .popup-faborite-1 .h2_publish,
body .container-wishlists-view .popup-faborite-1 .h2_publish,
body .container-gallery-wishlists .popup-faborite-1 .h2_publish {
    margin-bottom: 38px;
  }
  body .container-gallerys-share .popup-faborite-1 ._input-mod,
body .container-wishlists-share .popup-faborite-1 ._input-mod,
body .container-wishlists-create .popup-faborite-1 ._input-mod,
body .container-gallerys-create .popup-faborite-1 ._input-mod,
body .container-wishlists .popup-faborite-1 ._input-mod,
body .container-wishlists-view .popup-faborite-1 ._input-mod,
body .container-gallery-wishlists .popup-faborite-1 ._input-mod {
    margin: 0;
  }
  body .container-gallerys-share .popup-faborite-1 .span-guests,
body .container-wishlists-share .popup-faborite-1 .span-guests,
body .container-wishlists-create .popup-faborite-1 .span-guests,
body .container-gallerys-create .popup-faborite-1 .span-guests,
body .container-wishlists .popup-faborite-1 .span-guests,
body .container-wishlists-view .popup-faborite-1 .span-guests,
body .container-gallery-wishlists .popup-faborite-1 .span-guests {
    padding-top: 8px;
    font-size: 12px;
    line-height: 16px;
  }
}
body .container_gallerys {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  z-index: 999;
}
body .container_gallerys .pd_galls-modal {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  position: absolute;
  max-height: 100vh;
  inset: 0px;
}
body .container_gallerys .pd_galls-modal .modal_content-galls {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 999;
}
body .container_gallerys .pd_galls-modal .modal_content-galls .nv_galls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  border-right: 19px solid transparent;
  padding: 50px 0;
  z-index: 12;
}
body .container_gallerys .pd_galls-modal .modal_content-galls .nv_galls .content_galls {
  max-width: 1610px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow-x: auto;
}
body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls {
  max-width: 1610px;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont {
  padding-bottom: 51px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 30px;
  grid-auto-flow: row dense;
}
@media (max-width: 1080px) {
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 390px) {
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont {
    grid-template-columns: 1fr;
    grid-auto-rows: auto !important;
    grid-auto-flow: auto !important;
  }
}
body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont ._link-galls {
  display: inline-grid;
}
body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item {
  border-radius: 10px;
  overflow: hidden;
}
body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item:nth-child(1) {
  grid-row: 1/3;
}
@media (max-width: 1080px) {
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item:nth-child(1) {
    grid-row: none;
    grid-area: span 2;
  }
}
@media (max-width: 390px) {
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item:nth-child(1) {
    grid-row: auto;
    grid-area: auto;
  }
}
@media (max-width: 743px) {
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item:nth-child(5) {
    grid-column: 2/2;
    grid-row: 5/3;
  }
}
@media (max-width: 390px) {
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item:nth-child(5) {
    grid-column: auto;
    grid-row: auto;
  }
}
@media (max-width: 743px) {
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item:nth-child(7) {
    grid-column: 1/3;
  }
}
@media (max-width: 390px) {
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item:nth-child(7) {
    grid-column: auto;
  }
}
body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item:nth-child(10) {
  grid-column: 3/3;
  grid-row: 3/5;
}
@media (max-width: 1080px) {
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item:nth-child(10) {
    grid-column: none;
    grid-row: none;
    grid-area: span 1;
  }
}
@media (max-width: 390px) {
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item:nth-child(10) {
    grid-column: auto;
    grid-row: auto;
    grid-area: auto;
  }
}
body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item:nth-child(11) {
  grid-area: span 2;
}
@media (max-width: 800px) {
  body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item:nth-child(11) {
    grid-area: auto;
  }
}
body .container_gallerys .pd_galls-modal .modal_content-galls .modal_block .content_hidden-galls .grid-cont .grid-item .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .container_enhanced-clean .fxfbwhmhbrzi {
  max-width: 1300px;
  height: 936px;
}
@media (max-width: 1400px) {
  body .container_enhanced-clean .fxfbwhmhbrzi {
    max-width: 1032px;
    height: auto;
  }
}
@media (max-width: 743px) {
  body .container_enhanced-clean .poyxwh {
    padding-top: 24px !important;
  }
}
body .container_enhanced-clean .img-left {
  width: 50%;
  height: auto;
}
body .container_enhanced-clean .img-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .container_enhanced-clean .content_right {
  width: 50%;
}
body .container_enhanced-clean .content_right .popup-enhanced-clean ._txteh {
  margin-bottom: 0;
}
body .container_enhanced-clean .content_right .popup-enhanced-clean .content-user_icons {
  padding-top: 9.1px;
  padding-bottom: 0;
  display: block;
}
body .container_enhanced-clean .content_right .popup-enhanced-clean .content-user_icons .s-usr_icons {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 25.9px;
  margin-bottom: 0;
}
@media (max-width: 1400px) {
  body .container_enhanced-clean .content_right .popup-enhanced-clean .content-user_icons {
    padding-top: 3px;
  }
  body .container_enhanced-clean .content_right .popup-enhanced-clean .content-user_icons .s-usr_icons {
    margin-top: 21px;
  }
  body .container_enhanced-clean .content_right .popup-enhanced-clean .content-user_icons .s-usr_icons ._suis {
    max-width: 21px;
  }
  body .container_enhanced-clean .content_right .popup-enhanced-clean .content-user_icons .s-usr_icons ._suis img {
    width: 21px;
  }
  body .container_enhanced-clean .content_right .popup-enhanced-clean .content-user_icons .s-usr_icons ._suisinfo {
    margin-left: 12px;
  }
}
body .container_about-space .fxfbwhmhbrzi {
  max-width: 1300px;
}
@media (max-width: 1400px) {
  body .container_about-space .fxfbwhmhbrzi {
    max-width: 780px;
  }
}
body .container_about-space .poyxwh {
  padding: 0 85px 53px;
}
body .container_about-space .bfxgp {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
body .container_about-space .fxtxt {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
body .container_about-space .fxgpul {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
body .container_about-space .popup-aboutspaceinterna .cont-text ._txtblu.fs25 {
  font-size: 25px;
  line-height: normal;
}
body .container_about-space .popup-aboutspaceinterna .cont-text ._txtblu.mr {
  margin-bottom: 34px;
}
body .container_about-space .popup-aboutspaceinterna .cont-text ul li {
  list-style: disc;
}
@media (max-width: 1400px) {
  body .container_about-space .fxgpul {
    gap: 40px;
  }
  body .container_about-space .popup-aboutspaceinterna .cont-text {
    font-size: 16px;
    line-height: 24px;
  }
  body .container_about-space .popup-aboutspaceinterna .cont-text ._txtblu.fs25 {
    font-size: 18px;
    line-height: 22px;
  }
  body .container_about-space .popup-aboutspaceinterna .cont-text ._txtblu.mr {
    margin-bottom: 20px;
  }
}
body .container_all_reviews .fxfbwhmhbrzi {
  max-width: 1300px;
}
@media (max-width: 1400px) {
  body .container_all_reviews .fxfbwhmhbrzi {
    max-width: 1032px;
  }
}
body .container_all_reviews .all_reviews_cont {
  position: relative;
  overflow: auto;
}
body .container_all_reviews .all_reviews_cont .ipt_contsearch {
  width: 100%;
  padding: 0 86px 54px;
}
@media (max-width: 1400px) {
  body .container_all_reviews .all_reviews_cont .ipt_contsearch {
    padding: 16px 24px 24px;
  }
}
body .container_all_reviews .content_hidden {
  padding: 0 86px 60px;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .container_all_reviews .content_hidden .content-user-nvl {
  position: sticky;
  height: 100%;
  top: 0;
}
body .container_all_reviews .content_hidden .content-user-nvl .ciubx {
  margin-top: 31px;
}
@media (max-width: 1400px) {
  body .container_all_reviews .content_hidden .content-user-nvl .ciubx {
    margin-top: 24px;
    width: 100%;
  }
  body .container_all_reviews .content_hidden .content-user-nvl .ciubx ._flex-lvl {
    margin-bottom: 12px;
  }
  body .container_all_reviews .content_hidden .content-user-nvl .ciubx ._flex-lvl ._txtec {
    font-size: 14px;
  }
}
@media (max-width: 1400px) {
  body .container_all_reviews .content_hidden .content-user-nvl {
    width: 33.33%;
    margin-right: 8.3%;
    padding-right: 8px;
  }
  body .container_all_reviews .content_hidden .content-user-nvl .block-a-trad {
    margin-top: 16px;
  }
}
body .container_all_reviews .content_hidden .block-flex {
  width: 648px;
}
@media (max-width: 1400px) {
  body .container_all_reviews .content_hidden .block-flex {
    width: 58.33%;
    padding-left: 8px;
  }
}
@media (max-width: 1400px) {
  body .container_all_reviews .content_hidden {
    padding: 0 24px 40px;
  }
}
@media (max-width: 1127px) {
  body .container_all_reviews .content_hidden {
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    gap: 36px;
  }
  body .container_all_reviews .content_hidden .content-user-nvl {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  body .container_all_reviews .content_hidden .content-user-nvl .ciubx {
    width: calc(100% + 16px);
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 0;
    max-width: none;
  }
  body .container_all_reviews .content_hidden .content-user-nvl .ciubx ._flex-lvl {
    width: 50%;
    padding: 0 8px;
  }
  body .container_all_reviews .content_hidden .block-flex {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 743px) {
  body .container_all_reviews .content_hidden .content-user-nvl .ciubx ._flex-lvl {
    width: 100%;
  }
  body .container_all_reviews .content_hidden .content-starg.grndetxt .fstxt {
    font-size: 26px;
    line-height: 30px;
  }
}
body .container_contact-host .fxfbwhmhbrzi {
  max-width: 1300px;
}
@media (max-width: 1400px) {
  body .container_contact-host .fxfbwhmhbrzi {
    max-width: 780px;
  }
}
body .container_contact-host .poyxwh {
  padding: 0 85px 53px;
}
body .container_contact-host .popup-contact-host .content-user_inf {
  display: flex;
  align-items: center;
}
body .container_contact-host .popup-contact-host .blocgpfx {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body .container_contact-host .popup-contact-host .content-user_icons {
  padding-top: 28px;
  padding-bottom: 0;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
}
body .container_contact-host .popup-contact-host .content-user_icons ._fw {
  flex: 0 0 47%;
  max-width: 47%;
  width: auto;
}
@media (max-width: 840px) {
  body .container_contact-host .popup-contact-host .content-user_icons ._fw {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
body .container_contact-host .popup-contact-host .content-user_icons ._fw .s-usr_icons {
  margin-bottom: 0;
  margin-top: 21px;
  flex: 0 0 auto;
  max-width: none;
  width: 100%;
}
body .container_contact-host .popup-contact-host .content-user_icons ._fw .s-usr_icons ._suisinfo {
  margin-left: 13.9px;
}
body .container_contact-host .popup-contact-host .cont_comm ._txta-modls.mr {
  margin: 15px 0;
}
body .container_contact-host .popup-contact-host ._txtarea {
  margin: 15px 0;
}
@media (max-width: 1400px) {
  body .container_contact-host .popup-contact-host .blocgpfx {
    gap: 32px;
  }
  body .container_contact-host .popup-contact-host .content-user_icons {
    padding-top: 32px;
    grid-row-gap: 32px;
  }
  body .container_contact-host .popup-contact-host .content-user_icons ._fw .s-usr_icons {
    margin-top: 16px;
  }
  body .container_contact-host .popup-contact-host .content-user_icons ._fw .s-usr_icons ._suis {
    min-width: 14px;
  }
  body .container_contact-host .popup-contact-host .content-user_icons ._fw .s-usr_icons ._suis img {
    width: 14px;
  }
  body .container_contact-host .popup-contact-host .content-user_icons ._fw .s-usr_icons ._suisinfo {
    margin-left: 12px;
  }
  body .container_contact-host .popup-contact-host .cont_comm ._txta-modls.mr {
    margin: 24px 0;
  }
}
body .container_house-safety .fxfbwhmhbrzi {
  max-width: 1300px;
}
@media (max-width: 1400px) {
  body .container_house-safety .fxfbwhmhbrzi {
    max-width: 780px;
  }
}
body .container_house-safety .poyxwh {
  padding: 0 85px 53px;
}
body .container_house-safety .popup-house-safety .bfxgp {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
body .container_house-safety .popup-house-safety .cont ._txtblu.fs25 {
  font-size: 25px;
  line-height: normal;
}
body .container_house-safety .popup-house-safety .cont ._txtblu.mr {
  margin-bottom: 34px;
}
@media (max-width: 1400px) {
  body .container_house-safety .popup-house-safety .bfxgp {
    gap: 40px;
  }
  body .container_house-safety .popup-house-safety .h2_publish {
    font-size: 22px;
    line-height: 16px;
  }
  body .container_house-safety .popup-house-safety .cont ._txtblu.fs25 {
    font-size: 18px;
    line-height: 22px;
  }
  body .container_house-safety .popup-house-safety .cont ._txtblu.mr {
    margin-bottom: 20px;
  }
}
body .container_house-rules .fxfbwhmhbrzi {
  max-width: 1300px;
}
@media (max-width: 1400px) {
  body .container_house-rules .fxfbwhmhbrzi {
    max-width: 780px;
  }
}
body .container_house-rules .poyxwh {
  padding: 0 85px 53px;
}
body .container_house-rules .bfxgp {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
body .container_house-rules .fxtxt {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
body .container_house-rules .fxgpul {
  display: flex;
  flex-direction: column;
  gap: 59px;
}
body .container_house-rules .popup-house-rules .cont ._txtblu.fs25 {
  font-size: 25px;
  line-height: normal;
}
body .container_house-rules .popup-house-rules .cont ._txtblu.mr {
  margin-bottom: 34px;
}
body .container_house-rules .popup-house-rules .cont ul li {
  list-style: disc;
}
@media (max-width: 1400px) {
  body .container_house-rules .bfxgp {
    gap: 40px;
  }
  body .container_house-rules .fxtxt {
    gap: 8px;
  }
  body .container_house-rules .fxgpul {
    gap: 40px;
  }
  body .container_house-rules .popup-house-rules .h2_publish {
    font-size: 22px;
    line-height: 16px;
  }
  body .container_house-rules .popup-house-rules .cont ._txtblu.fs25 {
    font-size: 18px;
    line-height: 22px;
  }
  body .container_house-rules .popup-house-rules .cont ._txtblu.mr {
    margin-bottom: 20px;
  }
  body .container_house-rules .popup-house-rules .cont ul {
    line-height: 1.375rem;
  }
}
body .container_reserve-confirm .fxfbwhmhbrzi {
  max-width: 1300px;
}
@media (max-width: 1400px) {
  body .container_reserve-confirm .fxfbwhmhbrzi {
    max-width: 1080px;
  }
}
body .container_reserve-confirm .poyxwh {
  padding: 0 85px 30px;
  height: auto;
}
body .container_reserve-confirm .content-info-hosted {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
body .container_reserve-confirm .content-info-hosted .site-content {
  padding-bottom: 28px;
  width: 50%;
}
body .container_reserve-confirm .content-info-hosted .site-content .content-user_icons {
  padding-top: 20px;
  padding-bottom: 0;
  gap: 24px;
}
body .container_reserve-confirm .content-info-hosted .site-content .content-user_icons .s-usr_icons {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 0;
}
body .container_reserve-confirm .content-info-hosted .site-content .content-user_icons .s-usr_icons ._csuiinfo {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
body .container_reserve-confirm .content-info-hosted .site-content .content-user_icons .s-usr_icons ._csuiinfo ._suiinfo ._txteh {
  line-height: 20px;
}
body .container_reserve-confirm .content-info-hosted .site-content ._cpyf {
  margin: 16px 0 22px;
  position: relative;
  width: 100%;
}
body .container_reserve-confirm .content-info-hosted .site-content ._frever {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
body .container_reserve-confirm .content-info-hosted .site-content ._frever ._imgtarj {
  width: 160px;
  height: 19px;
  display: flex;
  align-items: center;
}
body .container_reserve-confirm .content-info-hosted .site-content ._frever ._imgtarj .imgtarj {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .container_reserve-confirm .content-info-hosted .site-content form ._hiddencreditordebit {
  display: block;
}
body .container_reserve-confirm .content-info-hosted .site-content form ._hiddencreditordebit ._flfpc {
  margin: 21px 0 35px;
}
body .container_reserve-confirm .content-info-hosted .site-content form ._hiddencreditordebit ._flfpc .block_date {
  width: 48.54%;
}
@media (max-width: 536px) {
  body .container_reserve-confirm .content-info-hosted .site-content form ._hiddencreditordebit ._flfpc .block_date {
    width: 100%;
  }
}
body .container_reserve-confirm .content-info-hosted .site-content form ._hiddencreditordebit ._cbadd {
  margin-top: 27px;
}
body .container_reserve-confirm .content-info-hosted .site-content form ._hiddencreditordebit ._cbadd ._numcard {
  padding: 16px;
}
body .container_reserve-confirm .content-info-hosted .site-content form ._showgplay {
  display: none;
}
body .container_reserve-confirm .content-info-hosted .content-aside_prec {
  width: 41.6667%;
  margin-left: 8.33%;
  position: sticky;
  top: 0;
}
@media (max-width: 900px) {
  body .container_reserve-confirm .content-info-hosted {
    flex-direction: column-reverse;
    align-items: initial;
  }
  body .container_reserve-confirm .content-info-hosted .site-content {
    width: 100%;
  }
  body .container_reserve-confirm .content-info-hosted .content-aside_prec {
    width: 100%;
    max-width: none;
    margin-left: 0;
    position: relative;
    padding: 0;
    border: none;
    box-shadow: none;
  }
}
@media (max-width: 1400px) {
  body .container_reserve-confirm .content-info-hosted .site-content {
    padding-bottom: 0;
  }
  body .container_reserve-confirm .content-info-hosted .site-content .content-user_icons {
    padding-top: 24px;
  }
  body .container_reserve-confirm .content-info-hosted .site-content ._cpyf {
    margin: 24px 0 32px;
  }
}
body .container_dates-edit {
  display: none;
}
body .container_dates-edit .fxfbwhmhbrzi {
  max-width: 796px;
}
body .container_dates-edit .lightpick {
  width: 100%;
}
body .container_dates-edit .popup-dates-edit .lightpick__apply-action {
  display: none;
}
@media (max-width: 1400px) {
  body .container_dates-edit .fxfbwhmhbrzi {
    max-width: 700px;
  }
  body .container_dates-edit .h2-guests {
    font-size: 22px;
    line-height: 26px;
  }
  body .container_dates-edit .popup-dates-edit .cont-foot .span-guests {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 743px) {
  body .container_dates-edit .popup-dates-edit .lightpick__footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px 24px;
    background: #FFFFFF;
    border-top: 1px solid #E3EDF3;
  }
}
body .container_calendar_vvo {
  display: none;
}
body .container_calendar_vvo .fxfbwhmhbrzi {
  max-width: 796px;
}
body .container_calendar_vvo .lightpick {
  width: 100%;
}
body .container_calendar_vvo .popup-dates-edit .lightpick__apply-action {
  display: none;
}
@media (max-width: 1400px) {
  body .container_calendar_vvo .fxfbwhmhbrzi {
    max-width: 700px;
  }
  body .container_calendar_vvo .h2-guests {
    font-size: 22px;
    line-height: 26px;
  }
  body .container_calendar_vvo .popup-dates-edit .cont-foot .span-guests {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 743px) {
  body .container_calendar_vvo .popup-dates-edit .lightpick__footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px 24px;
    background: #FFFFFF;
    border-top: 1px solid #E3EDF3;
  }
}
body .container_guests_edit {
  display: none;
}
body .container_guests_edit .fxfbwhmhbrzi {
  max-width: 576px;
}
@media (max-width: 1400px) {
  body .container_guests_edit .fxfbwhmhbrzi {
    max-width: 376px;
  }
}
@media (max-width: 1400px) {
  body .container_guests_edit .pafxtlz {
    top: 23px;
    left: 24px;
  }
  body .container_guests_edit .fpstaltz {
    flex: 0 0 62px;
  }
}
body .container_write_review .fxfbwhmhbrzi,
body .container_write_review1 .fxfbwhmhbrzi,
body .container_write_review2 .fxfbwhmhbrzi,
body .container_write_review3 .fxfbwhmhbrzi {
  max-width: 576px;
}
@media (max-width: 1400px) {
  body .container_write_review .fxfbwhmhbrzi,
body .container_write_review1 .fxfbwhmhbrzi,
body .container_write_review2 .fxfbwhmhbrzi,
body .container_write_review3 .fxfbwhmhbrzi {
    max-width: 476px;
  }
  body .container_write_review .fpstaltz,
body .container_write_review1 .fpstaltz,
body .container_write_review2 .fpstaltz,
body .container_write_review3 .fpstaltz {
    flex: 0 0 62px;
  }
}
body .container_bringing_animal {
  display: none;
}
body .container_bringing_animal .fxfbwhmhbrzi {
  max-width: 768px;
}
@media (max-width: 1400px) {
  body .container_bringing_animal .fxfbwhmhbrzi {
    max-width: 568px;
  }
}
body .container_all_amenitles .fxfbwhmhbrzi {
  max-width: 980px;
}
@media (max-width: 1400px) {
  body .container_all_amenitles .fxfbwhmhbrzi {
    max-width: 780px;
  }
}
body .container_confirmation {
  display: none;
}
body .container_confirmation .fxpaijcpmi {
  padding: 40px !important;
  align-items: center !important;
}
body .container_confirmation .fxfbwhmhbrzi {
  max-width: 345px !important;
  border-radius: 10px !important;
}
body .container_confirmation .poyxwh {
  padding: 24px 32px !important;
}
body .container_confirmation .popup_confirmation {
  text-align: center;
}
body .container_vvo_picker {
  display: none;
}
body .container_vvo_picker .fxfbwhmhbrzi {
  max-width: fit-content !important;
}
body .container_vvo_picker .poyxwh {
  padding: 0 !important;
}
body .container_vvo_picker .popup_vvo_picker .vvo_picker {
  position: initial;
  margin-top: 0;
}
body .container_vvo_picker .popup_vvo_picker .vvo_picker .lightpick__months {
  margin-top: 0 !important;
}
@media (max-width: 743px) {
  body .container_vvo_picker .fxpaijcpmi {
    padding: 40px;
    align-items: center;
  }
  body .container_vvo_picker .fxfbwhmhbrzi {
    border-radius: 10px;
  }
}
body .container_add-payments {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body .container_add-payments .modal-addpymts {
  position: absolute;
  z-index: 999;
  inset: 0px;
  background: rgba(40, 54, 70, 0.95);
}
body .container_add-payments .pd_addpymts-modal {
  display: flex;
  padding: 40px;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  position: absolute;
  max-height: 100vh;
  inset: 0px;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  width: 100%;
  height: auto;
  max-width: 796px;
  max-height: 100%;
  border-radius: 10px;
  z-index: 999;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .close {
  display: flex;
  justify-content: end;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .close span {
  cursor: pointer;
  color: white;
  font-size: 18px;
  padding: 13px 19.2px;
  background: #FF5A5F;
  border-radius: 0px 10px 0px 10px;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .close span:hover {
  background-color: #DC383D;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block {
  display: flex;
  width: 100%;
  padding-left: 85px;
  overflow-x: auto;
  border-radius: 10px;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts {
  margin-bottom: 30px;
  padding-right: 85px;
  padding-top: 12px;
  overflow: auto;
  width: 100%;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content {
  padding-bottom: 28px;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._frever {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._frever ._imgtarj {
  width: 160px;
  height: 19px;
  display: flex;
  align-items: center;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._frever ._imgtarj img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._flfpc {
  margin: 21px 0 27px;
}
@media (max-width: 1415px) {
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._flfpc {
    flex-direction: row;
    gap: inherit;
  }
}
@media (max-width: 735px) {
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._flfpc {
    flex-direction: column;
    gap: 20px;
  }
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._flfpc .block_date {
  width: 48.54%;
}
@media (max-width: 735px) {
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._flfpc .block_date {
    width: 100%;
  }
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._cbadd {
  margin-top: 27px;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._cbadd ._numcard {
  padding: 16px;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._gap {
  margin: 25px 0 45px;
  gap: 25px;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._gap .radio-item_rscrm label {
  padding: 33px 23px;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._gap .radio-item_rscrm label .flex-msg {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._block {
  display: flex;
  align-items: center;
  gap: 22px;
  flex-wrap: wrap;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content .mrg {
  margin: 34px 0 34px;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content .mrg ._border {
  padding: 30px 0;
}
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content .mrg ._border:not(:last-child) {
  border-bottom: 2px solid #E3EDF3;
}
@media (max-width: 1400px) {
  body .container_add-payments .pd_addpymts-modal .close span {
    font-size: 16px;
    padding: 0;
    width: 36px;
    height: 36px;
  }
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block {
    padding-left: 24px;
  }
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts {
    padding-top: 16px;
    padding-right: 24px;
    margin-bottom: 0;
  }
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._frever {
    margin-bottom: 22px;
  }
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content .mrg ._border {
    padding: 24px 0;
  }
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content .mrg ._border:not(:last-child) {
    border-bottom: 1px solid #E3EDF3;
  }
}
@media (max-width: 743px) {
  body .container_add-payments .pd_addpymts-modal {
    padding: 0px;
    align-items: inherit;
  }
  body .container_add-payments .pd_addpymts-modal .close span {
    border-radius: 0 0 0 10px;
  }
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts {
    border-radius: 0;
  }
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block {
    border-radius: 0;
  }
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content {
    padding-bottom: 40px;
    margin-bottom: 32px;
  }
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._hiddencreditordebit {
    padding-bottom: 20px;
  }
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content form ._block {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 16px 24px;
    border-top: 1px solid #E3EDF3;
    background-color: #FFFFFF;
    justify-content: center;
    flex-wrap: initial;
    gap: 10px;
  }
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content form ._block .btn-celest,
body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content form ._block .btn-red {
    width: 50%;
  }
  body .container_add-payments .pd_addpymts-modal .modal_content-addpymts .modal_block .content_hidden-addpymts .site-content ._block-jsb {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 16px 24px;
    border-top: 1px solid #E3EDF3;
    background-color: #FFFFFF;
  }
}