@import "_globals";
@import "_variables";

.section-account {
    .h2 {
        margin-bottom: 9.8px;
    }

    .span-guests {
        ._p {
            margin: 0 9.8px;
        }

        ._txtblu {
            display: inline-block;
        }
    }

    ._flex-account {
        margin-top: 46.2px;
        display: flex;
        flex-wrap: wrap;
        gap: 53px;
    }

    .msgaround {
        padding: 23px 40px;
        margin-top: 50px;

        @include responsive(750px) {
            padding: 23px 31px;
            flex-direction: column;
            text-align: center;
        }

        ._wcusermsg {
            @include responsive(750px) {
                padding-right: 0;
                margin-bottom: 20px;
            }
        }
    }
}