@import "_variables";

footer {
    margin-top: auto;

    // @include responsive(890px) {
    //     padding-bottom: 4rem;
    // }
}

.footer {
    margin-top: 80px;
    background-color: $color-background2;
    padding: 50px 0;
    overflow: hidden;

    .footer-container {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include responsive(1445px) {
            display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 70px;
        }

        @include responsive(1130px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include responsive(800px) {
            grid-template-columns: 1fr 1fr;
        }

        @include responsive(743px) {
            gap: 48px;
            grid-template-columns: 1fr;

            .footer-logo {
                align-items: center;

                .cont__ictxtfootr {
                    align-items: center;
                }

                .footer-icon {
                    align-items: center;
                }

                .footer-social {
                    gap: 8px;
                    justify-content: center;

                    a {
                        margin-right: 15px !important;
                        margin: 0 15px;
                    }
                }
            }

            .footer-links {
				text-align: center;
			}
        }

        .footer-logo {
            display: flex;
            flex-direction: column;
            gap: 28.4px;

            .cont__ictxtfootr {
                display: flex;
                flex-direction: column;
                gap: 27.4px;
            }

            .footer-icon {
                display: flex;
                flex-direction: column;
                gap: 26px;
                color: $color-white;

                ._icrmrg {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }

                p {
                    font-size: 16px;

                    i {
                        font-size: 20px;
                    }
                }
            }

            .footer-social {
                display: flex;
                gap: 25px;

                .link__icon-footer {
                    color: $color-white;

                    i {
                        font-size: 20px;
                    }
                }
            }
        }

        .footer-links {
            strong {
                color: $color-white;
                font-size: 20px;
                font-weight: 600;
            }

            ul {
                margin-top: 28px;
            }

            li {
                margin-bottom: 19px;
            }

            ._txt-white16 {
                display: inline-block;
            }
        }
    }
}

.copyright {
    background-color: $color-background2;
    padding-top: 50px;

    &_content {
        display: flex;
        align-items: center;
        justify-content: center;

        @include responsive(470px) {
            flex-direction: column;
        }

        p {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            color: $color-white;
            opacity: .6;
            font-size: 16px;
            font-weight: normal;

            .ptics {
                margin: 0 19px;
            }

            a {
                color: $color-white;
                font-size: 16px;
            }
        }
    }
}

body {
    @include responsive(1400px) {
        .footer {
            padding: 48px 0 24px;

            .footer-container {
                .footer-logo {
                    gap: 26px;

                    img {
                        width: 150px;
                    }

                    .cont__ictxtfootr {
                        gap: 26px;
                    }

                    .footer-icon {
                        gap: 26px;

                        ._icrmrg {
                            gap: 12px;
                        }

                        p {
                            i {
                                font-size: 18px;
                            }
                        }
                    }

                    .footer-social {
                        .link__icon-footer {
                            i {
                                font-size: 18px;
                            }
                        }
                    }
                }

                .footer-links {
                    strong {
                        font-size: 16px;
                    }

                    ul {
                        margin-top: 16px;
                    }

                    li {
                        margin-bottom: 16px;
                    }
                }
            }
        }

        ._txt-white16 {
            font-size: 14px;
            line-height: 18px;
        }

        .copyright {
            padding-top: 72px;

            p {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}