@import "_variables";

.footer {
    margin-top: 80px; 
    background-color: $color-background2;
    padding: 50px 15px;
    overflow: hidden;

    .footer-container {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include responsive(1445px) {
            display: grid;
			grid-template-columns: 1fr 1fr 1fr;
            gap: 70px;
        }

        @include responsive(1010px) {
            grid-template-columns: 1fr 1fr;
        }

        @include responsive(660px) {
            grid-template-columns: 1fr;

            .footer-logo {
                margin: auto;
                text-align: center;

                .footer-social {
                    justify-content: center;

                    a {
                        margin-right: 15px !important;
                        margin: 0 15px;
                    }
                }
            }

            .footer-links {
				text-align: center;
			}
        }

        .footer-logo {

            .footer-icon {
                color: $color-white;

                p {
                    font-size: 16px;

                    i {
                        font-size: 20px;
                        margin: 28.4px 16px 0 0;
                    }

                    &:nth-child(2) {
                        
                        i {
                            margin-top: 26px;
                        }
                    }
                }
            }

            .footer-social {
                display: flex;
                margin-top: 27.4px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $color-white;
                    margin-right: 25px;

                    i {
                        font-size: 20px;
                    }
                }
            }
        }

        .footer-links strong {
            color: $color-white;
            font-size: 20px;
            font-weight: 600;
        }

        .footer-links ul {
			margin-top: 28px;

            li a {
                display: inline-block;
                color: $color-white;
                margin-bottom: 19px;
                font-weight: 400;
                font-size: 16px;
            }
		}
    }
}

.copyright {
    background-color: $color-background2;
    padding: 0 0 48px;

    &_content {
        display: flex;
        align-items: center;
        justify-content: center;

        @include responsive(470px) {
            flex-direction: column;
        }

        p {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            color: $color-white;
            opacity: .6;
            font-size: 16px;
            font-weight: normal;

            span {
                margin: 0 19px;
            }

            a {
                color: $color-white;
                font-size: 16px;
            }
        }
    }
}