@import "style";
@import "_variables";

.fxohm {
    display: flex;
    overflow: hidden;
    margin: 0 2rem;
}
 
.home {
    position: relative;
    width: 100%;
    height: 850px;  
    background-image: url("../img/pano-home.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
    .h2-pano {
        width: fit-content;
        margin-bottom: 12px;
    }

    .owl-dots {
        display: none;
    }

    .content_icons {
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;

        &-block {
            display: flex;
            flex-direction: column;
            grid-row-gap: 119px;
            margin-left: 17px;

            i {
                font-size: 20px;
                color: $color-white;
            }
        }
    }

    &_full-screen {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 560px;

        @include responsive(1400px) {
            height: 500px;
        }

        .vvo_carousel_nav {
            .btn-prev,
            .btn-next {
                position: absolute;
                top: 50%;
                z-index: 2;

                i {
                    color: $color-white;
                    font-size: 22px;
                }
            }

            .btn-prev {
                left: 0;
            }

            .btn-next {
                right: 0;
            }
        }
    }

    .block_content {
        z-index: 1;
        margin-right: 44px;

        @include responsive(1400px) {
            margin-right: 20px;
        }
    }

    .cards_content{
        // overflow: hidden;
        max-width: 900px;
        width: 50%;
        position: relative;
        height: inherit;

        .features-slides {
            display: none;
            width: 100%;
            height: 100%;
        }

        .card_items_active {
            position: absolute;
            width: 280px;
            min-width: 280px;
            height: 465px;
            border: 5px solid #FFFFFF;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            transition: .3s ease;
            cursor: pointer;
            background-color: #bababa;
            box-shadow: 0 0 20px rgb(0 0 0 / 50%);
            z-index: 6;

            @include responsive(1400px) {
                width: 240px;
                min-width: 140px;
                height: 425px;
                border: 3px solid #FFFFFF;
            }
        }

        .slider-left-1,
        .slider-left-2,
        .slider-right-1,
        .slider-right-2 {
            position: absolute;
            width: 280px;
            min-width: 280px;
            height: 400px;
            top: 50%;
            transform: translate(0, -50%);
            visibility: visible;
            transition: .3s ease;

            @include responsive(1400px) {
                width: 240px;
                min-width: 240px;
                height: 360px;
            }
        }

        .slider-left-1 {
            left: 80rem;
            z-index: 2;
            color: #fff;
        }

        .slider-left-2 {
            left: 60rem;
            z-index: 1;
        }

        .slider-right-1 {
            left: 315px;
            z-index: 2;

            @include responsive(1400px) {
                left: 270px;
            }
        }

        .slider-right-2 {
            left: 630px;
            z-index: 1;

            @include responsive(1400px) {
                left: 540px;
            }
        }

        .slider-hide {
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
            transition: .3s ease;
        }

        // .features-slides {
        //     width: 100%;
        //     height: 100%;
        //     position: relative;
        // }

        // .features-slide {
        //     position: absolute;
        //     width: 280px;
        //     min-width: 280px;
        //     height: 400px;
        //     left: 0;
        //     top: 50%;
        //     margin-left: auto;
        //     margin-right: auto;
        //     transform-origin: 50% 50%;
        //     transform: translateY(-50%);
        //     transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
        //     cursor: pointer;
        //     background-color: #bababa;

        //     &.slide-is-active {
        //         z-index: 4;
        //         height: 465px;
        //         border: 5px solid #FFFFFF;
        //         box-shadow: 0 0 20px rgb(0 0 0 / 50%);
        //     }

        //     &[data-order="0"] {
        //         z-index: 4;
        //         display: block;
        //     }

        //     &[data-order="1"] {
        //         transform: translate(112.5%, -50%);
        //         z-index: 3;
        //         display: block;
        //     }

        //     &[data-order="2"] {
        //         transform: translate(225%, -50%);
        //         z-index: 2;
        //         display: block;
        //     }

        //     @include responsive(1400px) {
        //         width: 240px;
        //         min-width: 240px;
        //         height: 360px;
        //     }
        // }

        .features-slide_navs {
            z-index: 5;

            .features-slide_nav__next,
            .features-slide_nav__prev {
                position: absolute;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                @include flex-centrado;
                top: 50%;
                transform: translateY(-50%);

                i {
                    position: relative;
                    color: $color-white;
                    font-size: 21px;
                }

                @include responsive(1400px) {
                    width: 40px;
                    height: 40px;

                    i {
                        font-size: 20px;
                    }
                }
            }

            .features-slide_nav__next {
                &::before {
                    content: "";
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    width: 100px;
                    height: 400px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.6));
                    border-radius: 0px 10px 10px 0px;

                    @include responsive(1400px) {
                        height: 360px;
                    }
                }
            }
        }

        .features-slide_nav__next {
            right: -84px;

            @include responsive(1740px) {
                right: -4vw;
            }

            @include responsive(1400px) {
                right: -2.4vw;
            }

            @include responsive(743px) {
                right: -12.4vw;
            }

            @include responsive(500px) {
                right: -21.4vw;
            }

            @include responsive(425px) {
                right: -16.4vw;
            }

            @include responsive(360px) {
                right: -11.4vw;
            }
        }

        .features-slide_nav__prev {
            left: -3rem;
        }
    }

    .content_leng {
        position: fixed;
        cursor: pointer;
        top: 105px;
        right: 0;
        background-color: $color-love-red;
        border-radius: 10px 0 0 10px;
        padding: 7px 11px 7px 12px;
        z-index: 20;
        transition: .3s ease;

        &:hover {
            background-color: #DC383D;
        }

        @include responsive(1400px) {
            top: 90px;
            padding: 5px 9px 5px 10px;

            img {
                width: 28px;
            }
        }

        @include responsive(743px) {
            display: none;
        }
    }
}
.owl-carousel.owl-drag .owl-item{
    max-width: 280px;
 }
.owl-stage{
  @include flex-centrado;   
} 
.owl-carousel .owl-nav.disabled{
    display: block !important;  
 
}

.owl-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px !important; 
    color: white !important;
}

.owl-carousel .owl-nav button.owl-prev{ 
    left: -30px;
}

.owl-carousel .owl-nav button.owl-next{ 
    right: -30px;
}

.home-text{
    margin: 100px 0;
    
    .medio{ 
        @include flex-centrado;
        img{
            margin-right: 80px; 
        }
    }
}

.home-text_group{
    p{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0; 
        }
    }
}

.tabs {
    margin-bottom: 40px;

    .medio{
        @include flex-centrado;
        justify-content: space-between;
    }

    .content-scroll-local {
        display: flex;
        margin: 0 22px 0 0;
        max-width: 100%;
        overflow-x: scroll;
    }

    .btn-right-scroll {
        display: none;
        @include responsive(1700px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    ::-webkit-scrollbar {
        display: none; 
    }
}

@media screen and (max-width:1700px) {
    .tabs_items_group{
        overflow-x: scroll; 
        justify-content: flex-start;
    }
    // ::-webkit-scrollbar {
    //     display: none; 
    // }
    .tabs_items{
        flex: none; 
    }

    .tabs_items {

        &:before {
            height: 4px;
        }
    }
}

@include responsive(1400px) {
    .home {
        height: 698px;

        .card_items {
            max-width: 240px;
        }

        .content_icons {
            &-block {
                margin-left: 13px;
                grid-row-gap: 100px;

                i {
                    font-size: 18px;
                }
            }
        }

        .cards_content {
            width: 50.4%;
        }

        .owl-stage-outer {
            margin-right: 1.8rem;
            // padding: 1rem 0 1rem 1.3rem;
            // margin-left: 3px;
            padding-left: 2px;
        }
    }

    .home-text {
        margin: 80px 0;

        .medio {
            img {
                width: 275px;
                margin-right: 52px; 
            }
        }
    } 

    .owl-carousel {
        .owl-nav {
            button {
                &.owl-prev {
                    left: -29px;
                }

                &.owl-next {
                    right: -0;
                }
            }
        }
    }
}

@include responsive(1100px) {
    .home {
        .content_icons{
            display: none; 
        } 
    }
}

@include responsive(900px) {
    .home {
        .cards_content {
            width: 270px;
        }
    }
}

@include responsive(800px) {
    .tabs_select{
        select{
            padding: 15px;

        }
    }

    .tabs_items{
        padding: 15px; 
    }
}

@include responsive(743px) {
    .tabs {
        .con_flex {
            flex-direction: column;
        }
    }

    .home {
        height: 793px;
    }

    .home-text{
        margin: 50px 0;

        .medio{
            flex-direction: column;

            img {
                margin-right: 0; 
                margin-bottom: 2rem; 
            }
        }
    }

    .home_full-screen{
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin-top: -5rem;
        height: 620px;
    }
    .home .block_content{ 
        flex: auto;
        max-width: initial;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .home .cards_content{
        min-height: auto;
        flex: auto; 
        width: 75%;
        max-width: 571px;
    } 
    h1.h1 br {
        display: none;
    }
    h1.h1 {
        font-size: 50px; 
        line-height: initial;
    }
    .home .block_a {
        display: none;
    } 
    .home .cards_content .slideshow-container {
        height: 300px;
        width: 30%;
        flex: auto;
        margin: 10px; 
        &.active{
            height: 300px; 
        }
    } 
    .home .block_content{
        margin-right: 0;
        margin-bottom: 0;
        flex: none;
    }

    .home .owl-stage-outer {
        margin: 0 2.5rem;
    }

    .owl-carousel {
        .owl-nav {
            button {
                &.owl-prev {
                    left: 0;
                }

                &.owl-next {
                    right: 0;
                }
            }
        }
    }
}

@include responsive(500px) {
    .home {
        .cards_content {
            max-width: 240px;
        }
    }

    .vvo-select {
        width: 100% !important;
    }

    .tabs_select{
        flex-wrap: wrap;

        .vvo-select {
            flex: 1;
        }
    }

    .tabs_select .custom-anytime{
        width: 100%;

        select{
            width: 100%; 
        } 
    }
}

@include responsive(415px) {
    .h2-pano {
        font-size: 20px;
    }

    h1.h1 {
        font-size: 30px; 
        
    }

    .tabs_select{
        width: 100%; 
    }

    .tabs_select select{
        flex: auto;
    }
}

@include responsive(400px) {
    .owl-carousel .owl-nav button.owl-prev{
        left: -3px;
    }
    .owl-carousel .owl-nav button.owl-next{
        right: -3px;
    } 
}

@include responsive(332px) { 
    .home .cards_content{
        width: 280px;   
    }

    .tabs .medio{
        flex-direction: column; 
    }

    .tabs_items_group{
        width: 100%;
    }

    .content-scroll-local {
        margin: 0 0 15px 0 !important;
    }

    .tabs_select .custom-anytime select{
        padding: 16px 34px 16px 31px; 
    }
}
  