@import "_globals";
@import "_variables";

// .sc-interna_body {
//     header {
//         position: relative;
//     }
// }

.content_international {
    .content-user_icons {
        justify-content: left;
        grid-column-gap: 12px;
        grid-row-gap: 6px;
    }

    .selected-modal {
        margin: 0;
    }
}

@include responsive(1400px) {
    body {
        ._txteh,
        ._txtblu {
            margin-bottom: 0;
            line-height: 20px;
        }

        .icon_share,
        .icon_favorite {
            font-size: 14px !important;
        }

        .content_international {
            .text-location_check {
                font-size: 14px;
                text-decoration: underline;
            }

            .content-des_internationl {
                margin-top: 9px;
                margin-bottom: 24px;

                ._fcreverse {
                    width: fit-content;
                    display: flex;
                    height: 28px;
                    margin-bottom: 0;
                }
            }

            .content-star {
                svg, i {
                    margin-right: 4px;
                }

                i {
                    width: auto;
                    font-size: 16px;
                }

                .num-start {
                    font-size: 14px;
                }

                .num-total {
                    font-size: 14px !important;
                    margin-left: 4px !important;
                    text-decoration: underline;
                }
            }

            .content-publish_icon {
                .i {
                    width: 16px;
                    margin-right: 8px;
                }
            }

            .content-gallery {
                ._cgprel {
                    padding-top: 36.9%;

                    ._cgprelright {
                        margin-left: 8px;
                    }

                    ._whg {
                        gap: 9px;
                    }
                }
            }

            .block_all-photos {
                bottom: 24px;
                right: 24px;

                .btn-red {
                    svg {
                        display: block;
                    }
                }
            }

            .content-info-hosted {
                padding-top: 48px;

                .site-content {
                    padding-right: 0;
                    width: 58.33%;

                    .content-user_inf {
                        padding-bottom: 24px;

                        .pf-u {
                            max-width: 60px;
                            min-width: 60px;
                            height: 60px;
                        }
                    }

                    .content-user_icons {
                        padding-top: 32px;
                        padding-bottom: 32px;

                        ._txteh {
                            margin-bottom: 4px;
                        }

                        ._txtec {
                            font-size: 14px;
                        }
                    }

                    .content-user-ictxt {
                        padding: 48px 0;
        
                        .h2-guests {
                            margin-bottom: 24px;
                        }

                        .content-user_icons {
                            .s-usr_icons {
                                ._suis {
                                    img {
                                        width: 24px;
                                    }
                                }
                            }
                        }
                    }

                    .content-user-cal {
                        margin: 48px 0;
                    }

                    .content-user-nvl {
                        .block-flex {
                            margin-top: 32px;

                            .w100 {
                                width: 100%;
                            }

                            .usrscont {
                                width: 100%;
                                height: auto;
                                overflow: inherit;
                            }

                            .btn-red {
                                display: none;
                            }
                        }
                    }

                    .content-user-if-flex {
                        grid-row-gap: 24px;

                        .block-des-if {
                            width: 100%;
                            padding: 0;

                            .content-user_inf {
                                .h2-guests {
                                    font-size: 22px;
                                }

                                ol {
                                    ._txtec {
                                        font-size: 14px;
                                    }
                                }
                            }

                            ._pf-msg {
                                max-width: 64px;
                                min-width: 64px;
                                height: 64px;
                                border: 2px solid #E3EDF3;
                            }
                        }

                        .block-cth {
                            .f-cth {
                                justify-content: inherit;

                                ._txteh {
                                    width: auto;
                                    padding-right: 2px;
                                }

                                ._txtec {
                                    width: auto;
                                }
                            }

                            .block-a {
                                justify-content: flex-start;
                            }
                        }
                    }

                    .content-user-ics {
                        .h2-guests {
                            font-size: 22px;
                        }

                        .content-user-ics-rules {
                            ._txtblu {
                                margin-bottom: 12px;
                            }
                        }
                    }
                }

                .content-aside_prec {
                    width: 33.33%;
                    margin-left: 8.3%;

                    top: 128px;

                    .block_prec-res {
                        padding: 7px 14px;
                        border-radius: 8px;
                        font-size: 22px;

                        .txt_night {
                            font-size: 16px;
                        }
                    }

                    .content_prec {
                        margin-bottom: 24px;
                    }

                    form {
                        .block-a {
                            .btn-celest {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .container_gallerys {
            .pd_galls-modal {
                .modal_content-galls {
                    .nv_galls {
                        padding: 0;
                        flex: 0 0 48px;
                        border-right: 0;
                    }

                    .modal_block {
                        .content_hidden-galls {
                            .grid-cont {
                                gap: 8px;

                                .grid-item {
                                    border-radius: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include responsive(1010px) {
    body {
        .content_international {
            .content-info-hosted {
                .content-aside_prec {
                    form {
                        ._flfpc {
                            .block_date {
                                width: 100%;
                            }
                        }

                        ._cns {
                            .f-cth {
                                margin: 8px -12px;
                            }
                        }

                        .f-cthdes {
                            margin: 8px -12px;
                        }

                        .t-cth {
                            margin: 8px -12px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@include responsive(880px) {
    body {
        .content_international {
            .content-des_internationl {
                flex-direction: inherit;
            }
        }
    }
}

// mobil
@include responsive(743px) {
    .sc-interna_body {
        header {
            display: none;
        }

        .content_international {
            position: relative;
            padding-top: 84px;

            .content-des_internationl {
                ._15xhfd45 {
                    position: fixed;
                    top: 0;
                    right: 0;
                    left: 0;
                    height: 64px;
                    z-index: 30;
                    background-color: $color-white;
                    border-bottom: 1px solid #ddd;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .content-publish_icon {
                        ._1e5q4qoz {
                            border-radius: 50%;
                        }

                        .i {
                            margin-right: 0;
                        }

                        .share_icon {
                            margin-right: 12px;
                        }

                        .icon_share,
                        .icon_favorite {
                            display: none;
                        }
                    }
                }

                ._fcreverse {
                    max-width: 1600px;
                    width: 92%;
                }
            }

            .content-info-hosted {
                .site-content {
                    width: 100%;
                }
            }
        }
    }

    body {
        .container_gallerys {
            .pd_galls-modal {
                .modal_content-galls {
                    .modal_block {
                        .content_hidden-galls {
                            max-width: 100%;
                            width: auto;

                            .grid-cont {
                                grid-auto-rows: 223.5px;

                                .grid-item {
                                    border-radius: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 743px) {
    body {
        .container_gallerys {
            .pd_galls-modal {
                .modal_content-galls {
                    .nv_galls {
                        flex-basis: 60px;
                    }
                }

                .modal_block {
                    .content_hidden-galls {
                        padding-top: 40px;
                    }
                }
            }
        }
    }
}



.content_international {
    .h2_publish {
        @include responsive(1428px) {
            font-size: 24px;
            line-height: normal;
        }
    }

    .content-des_internationl {
        margin-top: 21.5px;
        margin-bottom: 36px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 12px;

        @include responsive(880px) {
            flex-direction: column-reverse;
        }

        .cstar {
            .num-total {
                margin-right: 0;
            }
        }

        ._fcreverse {
            @include responsive(880px) {
                width: 100%;
                margin-bottom: 21.5px;
            }
        }
    }

    .content-gallery {
        margin-bottom: 0;

        ._cgprel {
            padding-top: 37.27%;
            position: relative;

            @include responsive(1010px) {
                padding-top: 0 !important;
            }

            ._cgprelleft {
                height: 100%;
                width: 84.48%;
                left: 0px;
                top: 0px;
                position: absolute;

                @include responsive(1010px) {
                    width: auto;
                    position: inherit;
                }
            }

            ._whg {
                overflow: overlay;
                display: flex;
                flex-direction: column;
                gap: 11px;
                height: 100%;
                width: 100%;

                @include responsive(1010px) {
                    flex-direction: row;
                }

                &::-webkit-scrollbar {
                    display: none; 
                }
            }

            .scroll_n {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: overlay;
                border-radius: 10px;

                &::-webkit-scrollbar {
                    display: none; 
                }
            }

            ._w {
                @include responsive(1010px) {
                    width: 168%;
                }

                @include responsive(720px) {
                    width: 253%;
                }
            }

            ._block-gallery-mg {
                height: 100%;
                position: relative;
                width: 100%;
                overflow: hidden;
                border-radius: 10px;
            }

            ._link-img {
                display: block;
                height: 100%;
                position: relative;
                width: 100%;
            }

            ._bgcont {
                display: inline-block;
                vertical-align: bottom;
                height: 100%;
                width: 100%;
            }

            ._img-wh {
                height: 100%;
                width: 100%;
                object-fit: cover;
                vertical-align: bottom;
            }

            ._cgprelright {
                height: 100%;
                margin-left: 20px;
                left: 84.48%;
                right: 0;
                top: 0;
                position: absolute;

                @include responsive(1010px) {
                    margin-top: 6px;
                    margin-left: 0 !important;
                    left: 0;
                    position: inherit;
                }

                ._cbtnbottom {
                    @include responsive(1010px) {
                        top: 0;
                        left: auto;
                    }

                    ._sbtn {
                        @include responsive(1010px) {
                            width: 85px;
                            height: 100%;
                            border-radius: 0 10px 10px 0;
                            background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.6));
                        }

                        &:focus > ._c9ajsd {
                            @include responsive(1010px) {
                                left: 75%;
                            }
                        }

                        ._c9ajsd {
                            @include responsive(1010px) {
                                left: 68%;
                                top: 45%;
                                transform: rotate(0deg);
                                transition: left 0.2s ease;
                            }
                        }
                    }
                }
            }

            ._pbkgallery {
                height: 23.6%;

                @include responsive(1010px) {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .block_all-photos {
        bottom: 21px;
        right: 17px;
        position: absolute;
        z-index: 2;

        .btn-red {
            svg {
                display: none;
            }
        }
    }

    .content-info-hosted {
        padding-top: 96px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        // @include responsive(1590px) {
        //     align-items: center;
        //     flex-direction: column-reverse;
        // }

        .site-content {
            padding-right: 60px;
            width: 63%;

            // @include responsive(1415px) {
            //     width: 63%;
            // }

            @include responsive(1080px) {
                width: 55%;
            }

            @include responsive(1010px) {
                width: 100%;
                padding-right: 0;
            }

            .content-user_inf {
                display: flex;
                align-items: center;
                padding-bottom: 51px;

                .pf-u {
                    @include responsive(530px) {
                        max-width: 55px;
                        height: 55px;
                    }
                }

                ._w {
                    .h2-guests {
                        line-height: normal;
                    }
                }
            }

            .content-user-slider_img {
                .h2-guests {
                    margin-bottom: 19px;

                    @include responsive(1400px) {
                        margin-bottom: 24px;
                    }
                }
            }

            .content-user-ictxt {
                padding: 45px 0 52px;

                .h2-guests {
                    margin-bottom: 47px;
                }

                // .content-user_icons {
                //     padding: 0;

                //     @include responsive(1400px) {
                //         grid-column-gap: 38px;
                //     }

                //     .s-usr_icons {
                //         align-items: center;
                //         flex: 0 0 29.48%;
                //         max-width: 29.48%;

                //         // @include responsive(1645px) {
                //         //     flex: 0 0 48%;
                //         //     max-width: 48%;

                //         //     &:nth-child(9) {
                //         //         display: none;
                //         //     }

                //         //     &:nth-child(12) {
                //         //         margin-top: 0 !important;
                //         //     }
                //         // }

                //         @include responsive(1100px) {
                //             flex: 0 0 100%;
                //             max-width: 100%;
                //         }

                //         @include responsive(1010px) {
                //             flex: 0 0 49%;
                //             max-width: 49%;
                //         }

                //         @include responsive(608px) {
                //             flex: 0 0 100%;
                //             max-width: 100%;
                //         }
                //     }
                // }
            }

            .content-user-cal {
                margin: 42px 0 51px;

                .h2-guests {
                    margin-bottom: 8px;
                }

                .lightpick__footer {
                    .lightpick__apply-action {
                        display: none;
                    }
                }
            }

            .content-user-nvl {
                padding: 48px 0;

                .block-flex {
                    margin-top: 31px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    grid-column-gap: 32px;
                    grid-row-gap: 40px;
                    
                    .usrscont {
                        width: 529px;
                        height: 850px;
                        overflow: overlay;
                        display: flex;
                        flex-direction: column;
                        gap: 22px;

                        @include responsive(1180px) {
                            width: 100%;
                        }

                        &::-webkit-scrollbar {
                            display: none; 
                        }
                    }
                }
            }

            .content-user-lclmp {
                padding: 48px 0;

                .h2-guests {
                    margin-bottom: 24px;
                }

                .contact-map {
                    width: 100%;
                    height: 550px;

                    iframe {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                }

                .s-usr_icons {
                    display: flex;
                    margin: 32px 0;

                    ._suis {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-shrink: 0;
                        min-width: 26px;

                        img {
                            max-width: unset;
                        }
                    }

                    ._suisinfo {
                        margin-left: 26px;

                        @include responsive(1400px) {
                            margin-left: 16px;
                        }

                        ._winf {
                            width: 730px;

                            ._txtec {
                                line-height: 24px;
                            }

                            @include responsive(1400px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .content-user-if-flex {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 48px 0;
                grid-row-gap: 53px;


                .block-des-if {
                    width: 536px;
                    padding-right: 40px;

                    @include responsive(1157px) {
                        width: 100%;
                        padding-right: 0;
                    }

                    .flex_alg {
                        @include responsive(500px) {
                            gap: 13px;
                        }

                        .content-star {
                            @include responsive(500px) {
                                flex: 0 0 46%;
                                max-width: 46%;
                            }
                        }
                    }
                }
            }

            .content-user-ics {
                padding: 48px 0 0;

                .content-user-ics-rules {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 41px;

                    ._txtblu {
                        margin-bottom: 16px;
                    }

                    @include responsive(1017px) {
                        gap: 53px;
                    }
                }
            }

            .msgaround {
                @include responsive(1400px) {
                    padding: 23px 42px;
                }

                @include responsive(1080px) {
                    padding: 23px 31px;
                    flex-direction: column;
                    text-align: center;
                }
                
                @include responsive(1010px) {
                    padding: 23px 43px;
                    flex-direction: row;
                    text-align: left;
                }
                
                @include responsive(760px) {
                    padding: 23px 31px;
                    flex-direction: column;
                    text-align: center;
                }

                ._wcusermsg {
                    @include responsive(1400px) {
                        width: auto;
                    }
                
                    @include responsive(1080px) {
                        padding-right: 0;
                        margin-bottom: 20px;
                    }
                
                    @include responsive(1010px) {
                        padding-right: 20px;
                        margin-bottom: 0;
                        width: 100%;
                    }
                
                    @include responsive(760px) {
                        padding-right: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .content-aside_prec {
            position: sticky;
            top: 152px;

            @include responsive(743px) {
                display: none;
                position: absolute;
                inset: 0;
                z-index: 999;
                max-width: none;
                border-radius: 0;
            }

            .content_prec {
                margin-bottom: 34px;
            }

            .flex {
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 10px;
                display: flex;

                .num-total {
                    font-size: 16px;
                    margin-left: 1px;
                    margin-right: 0;
                }
            } 
        }
    }

    .content-star {
        display: flex;
        align-items: center;

        svg {
            margin-right: 4px;
        }

        .num-start {
            font-size: 18px;
            color: $color-text-submenu;
        }

        .num-total {
            margin-left: 5px;
            margin-right: 28.6px;
            font-size: 18px;
            opacity: .5;
            color: $color-text-submenu;
        }
    }
}

// FOOTER
.inter-footer {
    .copyright {
        @include responsive(743px) {
            padding: 72px 0 84px;
        }
    }
}
