@import "_variables";

.section_login-security {
    display: flex;
    justify-content: space-between;
    gap: 86px;
    padding: 0 49px;

    ._cont-account {
        width: 100%;

        i {
            color: #2DDAB4;
        }
    }

    ._btnsm {
        margin-top: 0;
    }

    &-main {
        width: 100%;

        .h2-guests_bold35 {
            margin: 16px 0 11px;
        }

        .msgaround {
            margin-top: 23px;
            padding: 23px 38px;
            gap: 12px;

            @include responsive(510px) {
                padding: 18px 25px;
            }

            @include responsive(475px) {
                flex-direction: column;
            }

            ._wcusermsg {
                @include responsive(475px) {
                    padding-right: 0;
                    text-align: center;
                }
            }
        }
    }

    &-aside {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 53px;
        width: 50.65%;
    }

    @include responsive(1400px) {
        display: block;
        padding: 0 24px;

        ._btnsm {
            color: #333;
            font-size: 14px;

            &.edit-phone {
                color: #00B5DD;

                span {
                    color: inherit;
                }

                &:hover {
                    color: #0096B7;
                }
            }

            img {
                width: 6px;
                min-width: 6px;
                max-width: 6px;
            }

            &:hover {
                color: #000;
                text-decoration: underline;
            }

            &:active {
                opacity: .8;
            }
        }

        ._gap {
            gap: 0;
        }

        .h2-guests {
            font-size: 22px;
            line-height: 26px;
        }

        &-main {
            width: 58.33%;
            float: left;

            .msgaround {
                padding: 18px 24px;
            }

            ._flex-right16 {
                gap: 16px;

                ._txtec16 {
                    &:hover {
                        text-decoration: underline;
                    }
                }

                i {
                    font-size: 10px;
                }

                ._txtecbold16 {
                    font-size: 14px;
                    line-height: normal;
                }
            }

            .h2-guests_bold35 {
                margin: 12px 0 40px;
            }
        }

        &-aside {
            width: 33.33%;
            float: left;
            margin-left: 8.3%;
            gap: 22px;

            ._cont-account {
                width: 100%;
                box-shadow: none;
                padding: 24px;

                i {
                    font-size: 48px;
                    margin-bottom: 16px;
                }

                ._txteh {
                    margin: 0 !important;
                    line-height: normal !important;
                    font-size: 20px !important;
                }

                .span-guests {
                    margin-top: 16px !important;
                    font-size: 16px !important;
                    line-height: 1.43 !important;
                }
            }
        }
    }

    @include responsive(743px) {
        flex-direction: column;

        &-main {
            width: 100%;
            margin-top: 36px;

            ._flex-right16 {
                display: none;
            }

            .h2-guests_bold35 {
                margin: 0 0 16px;
                font-size: 22px;
                line-height: 26px;
                letter-spacing: -.6px;
            }
        }
        
        &-aside {
            display: none;
        }
    }
}