@import "_variables";


// MODALS OTROS CLASES
body {
    .container_user-host {
        display: none;
        z-index: 9999;

        @include responsive(1400px) {
            .h2_publish {
                font-size: 26px;
                line-height: 30px;
            }

            .h2-guests {
                font-size: 22px;
                line-height: inherit;
            }
        }
    }

    // clase global modal
    .modal_content-wishlists {
        display: flex;
        background: #FFFFFF;
        width: 100%;
        height: auto; // x
        max-width: 660px;
        max-height: 100%; // x
        border-radius: 10px;
        z-index: 999;
        position: relative;
        overflow: hidden;

        .content_width {
            display: flex;
            width: 100%;
            border-radius: 10px;

            .content_hidden-wishlists {
                padding: 16px 25px 32px;
                overflow-x: auto;
                width: 100%;
                display: flex;
                align-items: center;
                margin-top: 48px; // 60px
                margin-bottom: 48px;
            }
        }
    }


    // trips-upcoming-popup.php
    .container_tsugpp {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 1760px;
                overflow: hidden;

                .modal_block {
                    overflow-y: hidden;
                }

                .left_trips_popup_cont {
                    flex: 0 0 570px;
                    overflow: auto;

                    margin-top: 50px;
                }

                .right_trips_popup_cont {
                    flex: 1 1 0%;
                    transition: all .5s ease;

                    width: 100%;
                }

                .contact-map {
                    width: 100%;
                    height: 100%;

                    iframe {
                        width: 100%;
                        height: 100%;
                    }
                }

                .bk-icon-des {
                    gap: 19px;
                }

                .trips_upcoming_inf {
                    padding: 17px 35px 23px 35px;

                    &:not(:last-child) {
                        border-bottom: 2px solid #E3EDF3;
                    }

                    .show_profile {
                        margin-top: 5px;
                        gap: 8px;
                    }

                    &:nth-child(1) {
                        padding: 0 35px 23px 35px;
                    }

                    &:nth-child(2) {
                        padding: 33px 35px 20px 35px;
                    }

                    &:nth-child(3) {
                        padding: 23px 35px;
                    }
                }

                @include responsive(1400px) {
                    .left_trips_popup_cont {
                        flex: 0 0 490px;
                        margin-top: 24px;
                    }

                    .trips_upcoming_inf {
                        padding: 22px 24px !important;

                        &:nth-child(1) {
                            padding-top: 0 !important;
                        }
                    }

                    .bk-icon-des {
                       gap: 10px;
                    }
                }

                @include responsive(900px) {
                    .left_trips_popup_cont {
                        flex: 0 0 330px;
                    }

                    .mnw-p47 {
                        min-width: 100%;
                    }
                }

                @include responsive(743px) {
                    .left_trips_popup_cont {
                        flex: 1 1 0%;
                        margin-top: 0;
                    }

                    .right_trips_popup_cont {
                        flex: 0 1 0;
                    }

                    .mnw-p47 {
                        min-width: 48%;
                    }
                }

                @include responsive(470px) {
                    .mnw-p47 {
                        min-width: 100%;
                    }

                    .trips_upcoming_inf {
                        &:nth-child(2) {
                            .mnw-p47 {
                                min-width: 48%;
                            }
                        }
                    }
                }
            }
        }
    }

    .pd-b13 {
        padding-bottom: 13px;
    }

    // trips-past-popup.php
    .container_tsptpp {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 580px;
                overflow: hidden;

                .bk-icon-des {
                    gap: 19px;
                }

                .trips_upcoming_inf {
                    padding: 17px 35px 23px 35px;

                    &.pd-t0 {
                        padding-top: 0 !important;
                    }

                    &:not(:last-child) {
                        border-bottom: 2px solid #E3EDF3;
                    }

                    .show_profile {
                        margin-top: 5px;
                        gap: 8px;
                    }

                    &:nth-child(3) {
                        padding: 23px 35px;
                    }
                }

                @include responsive(1400px) {
                    max-width: 480px;

                    .trips_upcoming_inf {
                        padding: 16px 24px !important;
                    }

                    .show_profile {
                        margin-top: 3px;
                        gap: 6px;
                    }

                    .bk-icon-des {
                       gap: 10px;
                    }
                }

                @include responsive(743px) {
                    .trips_upcoming_inf {
                        padding: 22px 24px !important;

                        &.pd-t0 {
                            padding-top: 16px !important;
                        }
                    }

                    .mnw-p47 {
                        min-width: 48%;
                    }
                }

                @include responsive(470px) {
                    .mnw-p47 {
                        min-width: 100%;
                    }

                    .trips_upcoming_inf {
                        &:nth-child(2) {
                            .mnw-p47 {
                                min-width: 48%;
                            }
                        }
                    }
                }
            }
        }
    }

    // trips-past-popup1.php
    .container_tsptpp1 {
        display: none;
    }

    // trips-canceled.popup.php
    .container_tscdpp {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 580px;
                overflow: hidden;

                .bk-icon-des {
                    gap: 19px;
                }

                .trips_upcoming_inf {
                    padding: 23px 35px;

                    &.pd-t0 {
                        padding-top: 0 !important;
                    }

                    &:not(:last-child) {
                        border-bottom: 2px solid #E3EDF3;
                    }

                    .show_profile {
                        margin-top: 5px;
                        gap: 8px;
                    }
                }

                @include responsive(1400px) {
                    max-width: 480px;

                    .trips_upcoming_inf {
                        padding: 22px 24px !important;
                    }

                    .bk-icon-des {
                       gap: 10px;
                    }

                    .gp15 {
                        gap: 8px;
                    }

                    .gp24 {
                        gap: 18px;
                    }

                    .gp8 {
                        gap: 5px;
                    }

                    .gp21 {
                        gap: 14px;
                    }

                    .mnw45px {
                        min-width: 38px;
                        width: 38px;
                    }
                }

                @include responsive(743px) {
                    .trips_upcoming_inf {
                        padding: 16px 24px !important;

                        &.pd-t0 {
                            padding-top: 16px !important;
                        }
                    }

                    .mnw-p47 {
                        min-width: 48%;
                    }
                }

                @include responsive(470px) {
                    .mnw-p47 {
                        min-width: 100%;
                    }
                }
            }
        }
    }

    // Payments & payouts = add payments-paypal-opt2
    .container_adpsplot2 {
        display: none;

        .pd_anhost-modal {
            align-items: inherit;

            .modal_content-anhost {
                max-width: 1300px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 800px;

                    .mr-t54 {
                        margin-top: 42px;
                    }
                }

                ._zjunba {
                    padding: 30px 50px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // Payments & payouts = add payments-paypal-opt2 - 1
    .container_adpsplot21 {
        display: none;

        .pd_anhost-modal {
            .modal_content-anhost {
                max-width: 1300px;
                overflow: hidden;

                .mxw882 {
                    max-width: 882px;
                    width: 100%;
                }

                .mxw259 {
                    max-width: 259px;
                    width: 100%;
                }

                .pdbgsubmit {
                    padding: 34px 0;
                }

                .flex0-329 {
                    flex: 0 0 329px;
                }

                .gp52-18 {
                    gap: 18px;
                    grid-column-gap: 52px;
                }

                .gp51-11 {
                    gap: 11px;
                    grid-column-gap: 51px;
                }

                .gp33-18 {
                    gap: 18px;
                    grid-column-gap: 33px;
                }

                .gp30-11 {
                    gap: 11px;
                    grid-column-gap: 30px;
                }

                .w259 {
                    width: 259px;
                }

                @include responsive(1400px) {
                    max-width: 800px;

                    .pdbgsubmit {
                        padding: 28px 0;
                    }

                    .gp51-11 {
                        grid-column-gap: 28px;
                    }

                    .gp32 {
                        gap: 23px;
                    }

                    .gp25 {
                        gap: 23px;
                    }

                    .gp17 {
                        gap: 15px;
                    }

                    .gp11 {
                        gap: 6px;
                    }

                    .gp52-18,
                    .gp33-18,
                    .gp30-11 {
                        gap: 11px;
                    }

                    ._dggtcgcggrg {
                        grid-template-columns: 1fr 1fr;
                        grid-column-gap: 45px;
                        grid-row-gap: 16px;
                    }

                    .blimgApples {
                        max-width: 108px;
                    }

                    .binfApples {
                        padding: 26px 17px;
                    }

                    .mr-t12 {
                        margin-top: 10px;
                    }

                    .mr-t19 {
                        margin-top: 16px;
                    }

                    .gp19 {
                        gap: 17px;
                    }
                }

                @include responsive(813px) {
                    .flex0-329 {
                        flex: 100%;
                    }
                    
                    ._dggtcgcggrg {
                        grid-template-columns: 1fr;
                    }
                }

                ._zjunba {
                    padding: 30px 50px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // Payments & payouts = add payments-paypal-opt2 - 4
    .container_adpsplot24 {
        display: none;

        .pd_anhost-modal {
            align-items: inherit;

            .modal_content-anhost {
                max-width: 1300px;
                overflow: hidden;

                .flex0-520 {
                    flex: 0 0 520px;
                }

                @include responsive(1400px) {
                    max-width: 800px;

                    .gp43 {
                        gap: 33px;
                    }

                    .mr-t50 {
                        margin-top: 42px;
                    }

                    .flex0-520 {
                        flex: 0 0 100%;
                    }

                    .gp8 {
                        gap: 6px;
                    }

                    .wics {
                        width: 40px;
                    }
                }

                ._zjunba {
                    padding: 30px 50px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // Payments % payouts = add payments bank transfer opt2
    .container_adpsbktrot2 {
        display: none;

        .pd_anhost-modal {
            align-items: inherit;

            .modal_content-anhost {
                max-width: 1300px;
                overflow: hidden;

                .txt-check-in {
                    padding-left: 11px;
                }

                .mxw300 {
                    max-width: 300px;
                }

                @include responsive(1400px) {
                    max-width: 800px;

                    .gp25 {
                        gap: 20px;
                    }

                    .gp76 {
                        gap: 56px;
                    }

                    .gp9 {
                        gap: 5px;
                    }
                }

                @include responsive(743px) {
                    .mxw300 {
                        max-width: 100%;
                    }
                }

                ._zjunba {
                    padding: 30px 50px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // Payments & payouts = add payments bank transfer opt2 - 4
    .container_adpsbktrot24 {
        display: none;

        .pd_anhost-modal {
            align-items: inherit;

            .modal_content-anhost {
                max-width: 1300px;
                overflow: hidden;

                .flex0-520 {
                    flex: 0 0 520px;
                }

                @include responsive(1400px) {
                    max-width: 800px;

                    .gp43 {
                        gap: 33px;
                    }

                    .mr-t50 {
                        margin-top: 42px;
                    }

                    .flex0-520 {
                        flex: 0 0 100%;
                    }

                    .gp8 {
                        gap: 6px;
                    }

                    .wics {
                        width: 40px;
                    }
                }

                ._zjunba {
                    padding: 30px 50px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // Payments & payouts = add payments payoneer opt2 - 4
    .container_adpsprot24 {
        display: none;

        .pd_anhost-modal {
            align-items: inherit;

            .modal_content-anhost {
                max-width: 1300px;
                overflow: hidden;

                .flex0-520 {
                    flex: 0 0 520px;
                }

                @include responsive(1400px) {
                    max-width: 800px;

                    .gp43 {
                        gap: 33px;
                    }

                    .mr-t50 {
                        margin-top: 42px;
                    }

                    .flex0-520 {
                        flex: 0 0 100%;
                    }

                    .gp8 {
                        gap: 6px;
                    }

                    .wics {
                        width: 40px;
                    }
                }

                ._zjunba {
                    padding: 30px 50px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // Payments & payouts = add-payments-payoneer-opt2
    .container_adpsprot2 {
        display: none;

        .pd_anhost-modal {
            align-items: inherit;

            .modal_content-anhost {
                max-width: 1300px;
                overflow: hidden;

                @include responsive(1400px) {
                    max-width: 800px;

                    .mr-t54 {
                        margin-top: 42px;
                    }
                }

                ._zjunba {
                    padding: 30px 50px;

                    .gp17 {
                        @include responsive(1400px) {
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }

    // popup-languages-speak.php
    .container-languages-speak {
        // display: block;

        .fxfbwhmhbrzi {
            max-width: 798px;

            @include responsive(1400px) {
                max-width: 568px;
            }
        }
    }





    // ----- vista interna.php -----
    .container-gallerys-share,
    .container-wishlists-share,
    .container-wishlists-create,
    .container-gallerys-create,
    .container-wishlists,
    .container-wishlists-view,
    .container-gallery-wishlists {
        display: none;

        .fxfbwhmhbrzi {
            max-width: 660px;

            @include responsive(1400px) {
                max-width: 568px;
            }
        }

        .poyxwh {
            padding-bottom: 80px;
        }

        .nv_btnfooter {
            padding: 13px 24px 80px;

            @include responsive(1400px) {
                padding: 13px 24px 60px;
            }

            @include responsive(743px) {
                padding: 16px 24px;
                border-top: 1px solid #E3EDF3;

                .btn-celest {
                    width: 100%;
                }
            }
        }


        // share
        .popup_share {
            ._block-share {
                margin: 48px 0 30px;
                display: flex;
                align-items: center;
                gap: 29px;

                @include responsive(1400px) {
                    margin: 24px 0;
                    gap: 16px;
                }

                .flex-img {
                    width: 100px;
                    height: 100px;
                    overflow: hidden;
                    border-radius: 10px;

                    @include responsive(1400px) {
                        width: 64px;
                        min-width: 64px;
                        height: 64px;
                        border-radius: 8px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        // favorite
        .popup-favorite {
            .h2_publish {
                text-align: center;
                margin-bottom: 58px;
            }

            ._f-g {
                display: flex;
                flex-direction: column;
                margin-top: 73px;
                gap: 28px;
            }

            @include responsive(1400px) {
                .h2_publish {
                    font-size: 24px;
                    margin-bottom: 38px;
                }

                ._f-g {
                    gap: 16px;
                    margin-top: 0;
                }
            }
        }

        .popup-faborite-1 {
            .h2_publish {
                text-align: center;
                margin-bottom: 58px;
            }

            @include responsive(1400px) {
                .h2_publish {
                    margin-bottom: 38px;
                }

                ._input-mod {
                    margin: 0;
                }

                .span-guests {
                    padding-top: 8px;
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }

    .container_gallerys {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: all .3s linear;
        z-index: 999;

        .pd_galls-modal {
            display: flex;
            align-items: center;
            -webkit-box-align: center;
            justify-content: center;
            position: absolute;
            max-height: 100vh;
            inset: 0px;

            .modal_content-galls {
                display: flex;
                flex-direction: column;
                background: #FFFFFF;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                z-index: 999;

                .nv_galls {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    background-color: #FFFFFF;
                    border-right: 19px solid transparent;
                    padding: 50px 0;
                    z-index: 12;

                    .content_galls {
                        max-width: 1610px;
                        width: 90%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }

                .modal_block {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    overflow-x: auto;

                    .content_hidden-galls {
                        max-width: 1610px;
                        width: 90%;
                        justify-content: space-between;
                        align-items: center;

                        .grid-cont {
                            padding-bottom: 51px;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-auto-rows: 300px;
                            gap: 30px;
                            grid-auto-flow: row dense;

                            @include responsive(1080px) {
                                grid-template-columns: repeat(2, 1fr);
                            }

                            @include responsive(390px) {
                                grid-template-columns: 1fr;
                                grid-auto-rows: auto !important;
                                grid-auto-flow: auto !important;
                            }

                            ._link-galls {
                                display: inline-grid;
                            }

                            .grid-item {
                                border-radius: 10px;
                                overflow: hidden;

                                &:nth-child(1) {
                                    grid-row: 1/3;

                                    @include responsive(1080px) {
                                        grid-row: none;
                                        grid-area: span 2;
                                    }

                                    @include responsive(390px) {
                                        grid-row: auto;
                                        grid-area: auto;
                                    }
                                }

                                &:nth-child(5) {
                                    @include responsive(743px) {
                                        grid-column: 2/2;
                                        grid-row: 5/3;
                                    }

                                    @include responsive(390px) {
                                        grid-column: auto;
                                        grid-row: auto;
                                    }
                                }

                                &:nth-child(7) {
                                    @include responsive(743px) {
                                        grid-column: 1/3;
                                    }

                                    @include responsive(390px) {
                                        grid-column: auto;
                                    }
                                }

                                &:nth-child(10) {
                                    grid-column: 3/3;
                                    grid-row: 3/5;

                                    @include responsive(1080px) {
                                        grid-column: none;
                                        grid-row: none;
                                        grid-area: span 1;
                                    }

                                    @include responsive(390px) {
                                        grid-column: auto;
                                        grid-row: auto;
                                        grid-area: auto;
                                    }
                                }

                                &:nth-child(11) {
                                    grid-area: span 2;

                                    @include responsive(800px) {
                                        grid-area: auto;
                                    }
                                }

                                .gallery__img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .container_enhanced-clean {
        // display: block;

        .fxfbwhmhbrzi {
            max-width: 1300px;
            height: 936px;

            @include responsive(1400px) {
                max-width: 1032px;
                height: auto;
            }
        }

        .poyxwh {
            @include responsive(743px) {
                padding-top: 24px !important;
            }
        }

        .img-left {
            width: 50%;
            height: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content_right {
            width: 50%;

            .popup-enhanced-clean {
                ._txteh {
                    margin-bottom: 0;
                }

                .content-user_icons {
                    padding-top: 9.1px;
                    padding-bottom: 0;
                    display: block;

                    .s-usr_icons {
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin-top: 25.9px;
                        margin-bottom: 0;
                    }
                }
            }
        }

        @include responsive(1400px) {
            .content_right {
                .popup-enhanced-clean {
                    .content-user_icons {
                        padding-top: 3px;

                        .s-usr_icons {
                            margin-top: 21px;

                            ._suis {
                                max-width: 21px;

                                img {
                                    width: 21px;
                                }
                            }

                            ._suisinfo {
                                margin-left: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    .container_about-space {
        // display: block;

        .fxfbwhmhbrzi {
            max-width: 1300px;

            @include responsive(1400px) {
                max-width: 780px;
            }
        }

        .poyxwh {
            padding: 0 85px 53px;
        }

        .bfxgp {
            display: flex;
            flex-direction: column;
            gap: 64px;
        }

        .fxtxt {
            display: flex;
            flex-direction: column;
            gap: 17px;
        }

        .fxgpul {
            display: flex;
            flex-direction: column;
            gap: 56px;
        }

        .popup-aboutspaceinterna {
            .cont-text {
                ._txtblu {
                    &.fs25 {
                        font-size: 25px;
                        line-height: normal;
                    }

                    &.mr {
                        margin-bottom: 34px;
                    }
                }

                ul {
                    li {
                        list-style: disc;
                    }
                }
            }
        }

        @include responsive(1400px) {
            .fxgpul {
                gap: 40px;
            }

            .popup-aboutspaceinterna {
                .cont-text {
                    font-size: 16px;
                    line-height: 24px;

                    ._txtblu {
                        &.fs25 {
                            font-size: 18px;
                            line-height: 22px;
                        }

                        &.mr {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .container_all_reviews {
        // display: block;

        .fxfbwhmhbrzi {
            max-width: 1300px;

            @include responsive(1400px) {
                max-width: 1032px;
            }
        }

        .all_reviews_cont {
            position: relative;
            overflow: auto;

            .ipt_contsearch {
                width: 100%;
                padding: 0 86px 54px;
    
                @include responsive(1400px) {
                    padding: 16px 24px 24px;
                }
            }
        }

        .content_hidden {
            padding: 0 86px 60px;
            overflow: auto;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .content-user-nvl {
                position: sticky;
                height: 100%;
                top: 0;

                .ciubx {
                    margin-top: 31px;

                    @include responsive(1400px) {
                        margin-top: 24px;
                        width: 100%;

                        ._flex-lvl {
                            margin-bottom: 12px;

                            ._txtec {
                                font-size: 14px;
                            }
                        }
                    }
                }

                @include responsive(1400px) {
                    width: 33.33%;
                    margin-right: 8.3%;
                    padding-right: 8px;

                    .block-a-trad {
                        margin-top: 16px;
                    }
                }
            }

            .block-flex {
                width: 648px;

                @include responsive(1400px) {
                    width: 58.33%;
                    padding-left: 8px;
                }
            }
            
            @include responsive(1400px) {
                padding: 0 24px 40px;
            }

            @include responsive(1127px) {
                display: flex;
                flex-direction: column;
                flex-wrap: inherit;
                gap: 36px;

                .content-user-nvl {
                    position: relative;
                    width: 100%;
                    height: auto;
                    padding: 0;
                    margin: 0;

                    .ciubx {
                        width: calc(100% + 16px);
                        display: flex;
                        flex-wrap: wrap;
                        margin-left: -8px;
                        margin-right: -8px;
                        margin-bottom: 0;
                        max-width: none;

                        ._flex-lvl {
                            width: 50%;
                            padding: 0 8px;
                        }
                    }
                }

                .block-flex {
                    width: 100%;
                    padding: 0;
                }
            }

            @include responsive(743px) {
                .content-user-nvl {
                    .ciubx {
                        ._flex-lvl {
                            width: 100%;
                        }
                    }
                }

                .content-starg {
                    &.grndetxt {
                        .fstxt {
                            font-size: 26px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }

    .container_contact-host {
        // display: block;
       
        .fxfbwhmhbrzi {
            max-width: 1300px;

            @include responsive(1400px) {
                max-width: 780px;
            }
        }

        .poyxwh {
            padding: 0 85px 53px;
        }

        .popup-contact-host {
            .content-user_inf {
                display: flex;
                align-items: center;
            }

            .blocgpfx {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }

            .content-user_icons {
                padding-top: 28px;
                padding-bottom: 0;
                grid-column-gap: 22px;
                grid-row-gap: 22px;

                ._fw {
                    flex: 0 0 47%;
                    max-width: 47%;
                    width: auto;

                    @include responsive(840px) {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }

                    .s-usr_icons {
                        margin-bottom: 0;
                        margin-top: 21px;
                        flex: 0 0 auto;
                        max-width: none;
                        width: 100%;

                        ._suisinfo {
                            margin-left: 13.9px;
                        }
                    }
                }
            }

            .cont_comm {
                ._txta-modls {
                    &.mr {
                        margin: 15px 0;
                    }
                }
            }

            ._txtarea {
                margin: 15px 0;
            }
        }

        @include responsive(1400px) {
            .popup-contact-host {
                .blocgpfx {
                    gap: 32px;
                }

                .content-user_icons {
                    padding-top: 32px;
                    grid-row-gap: 32px;

                    ._fw {
                        .s-usr_icons {
                            margin-top: 16px;

                            ._suis {
                                min-width: 14px;

                                img {
                                    width: 14px;
                                }
                            }

                            ._suisinfo {
                                margin-left: 12px;
                            }
                        }
                    }
                }

                .cont_comm {
                    ._txta-modls {
                        &.mr {
                            margin: 24px 0;
                        }
                    }
                }
            }
        }
    }

    .container_house-safety {
        // display: block;

        .fxfbwhmhbrzi {
            max-width: 1300px;

            @include responsive(1400px) {
                max-width: 780px;
            }
        }

        .poyxwh {
            padding: 0 85px 53px;
        }

        .popup-house-safety {
            .bfxgp {
                display: flex;
                flex-direction: column;
                gap: 52px;
            }

            .cont {
                ._txtblu {
                    &.fs25 {
                        font-size: 25px;
                        line-height: normal;
                    }

                    &.mr {
                        margin-bottom: 34px;
                    }
                }
            }
        }

        @include responsive(1400px) {
            .popup-house-safety {
                .bfxgp {
                    gap: 40px;
                }

                .h2_publish {
                    font-size: 22px;
                    line-height: 16px;
                }

                .cont {
                    ._txtblu {
                        &.fs25 {
                            font-size: 18px;
                            line-height: 22px;
                        }

                        &.mr {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .container_house-rules {
        // display: block;

        .fxfbwhmhbrzi {
            max-width: 1300px;

            @include responsive(1400px) {
                max-width: 780px;
            }
        }

        .poyxwh {
            padding: 0 85px 53px;
        }

        .bfxgp {
            display: flex;
            flex-direction: column;
            gap: 52px;
        }

        .fxtxt {
            display: flex;
            flex-direction: column;
            gap: 17px;
        }

        .fxgpul {
            display: flex;
            flex-direction: column;
            gap: 59px;
        }
     
        .popup-house-rules {
            .cont {
                ._txtblu {
                    &.fs25 {
                        font-size: 25px;
                        line-height: normal;
                    }

                    &.mr {
                        margin-bottom: 34px;
                    }
                }

                ul {
                    li {
                        list-style: disc;
                    }
                }
            }
        }

        @include responsive(1400px) {
            .bfxgp {
                gap: 40px;
            }

            .fxtxt {
                gap: 8px;
            }

            .fxgpul {
                gap: 40px;
            }

            .popup-house-rules {
                .h2_publish {
                    font-size: 22px;
                    line-height: 16px;
                }

                .cont {
                    ._txtblu {
                        &.fs25 {
                            font-size: 18px;
                            line-height: 22px;
                        }

                        &.mr {
                            margin-bottom: 20px;
                        }
                    }

                    ul {
                        line-height: 1.375rem;
                    }
                }
            }
        }
    }

    .container_reserve-confirm {
        // display: block;

        .fxfbwhmhbrzi {
            max-width: 1300px;

            @include responsive(1400px) {
                max-width: 1080px;
            }
        }

        .poyxwh {
            padding: 0 85px 30px;
            height: auto;
        }

        .content-info-hosted {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .site-content {
                padding-bottom: 28px;
                width: 50%;

                // @include responsive(1225px) {
                //     flex: 0 0 100%;
                //     max-width: 100%;
                // }

                .content-user_icons {
                    padding-top: 20px;
                    padding-bottom: 0;
                    gap: 24px;

                    .s-usr_icons {
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin-bottom: 0;

                        ._csuiinfo {
                            width: 100%;
                            align-items: center;
                            justify-content: space-between;
                            display: flex;

                            ._suiinfo {
                                ._txteh {
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }

                ._cpyf {
                    margin: 16px 0 22px;
                    position: relative;
                    width: 100%;
                }

                ._frever {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: center;

                    ._imgtarj {
                        width: 160px;
                        height: 19px;
                        display: flex;
                        align-items: center;

                        .imgtarj {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                form {
                    ._hiddencreditordebit {
                        display: block;

                        ._flfpc {
                            margin: 21px 0 35px;

                            .block_date {
                                width: 48.54%;

                                @include responsive(536px) {
                                    width: 100%;
                                }
                            }
                        }

                        ._cbadd {
                            margin-top: 27px;

                            ._numcard {
                                padding: 16px;
                            }
                        }
                    }

                    ._showgplay {
                        display: none;
                    }
                }
            }

            .content-aside_prec {
                width: 41.6667%;
                margin-left: 8.33%;
                position: sticky;
                top: 0;
            }
        }

        @include responsive(900px) {
            .content-info-hosted {
                flex-direction: column-reverse;
                align-items: initial;

                .site-content {
                    width: 100%;
                }

                .content-aside_prec {
                    width: 100%;
                    max-width: none;
                    margin-left: 0;
                    position: relative;
                    padding: 0;
                    border: none;
                    box-shadow: none;
                }
            }
        }

        @include responsive(1400px) {
            .content-info-hosted {
                .site-content {
                    padding-bottom: 0;

                    .content-user_icons {
                        padding-top: 24px;
                    }

                    ._cpyf {
                        margin: 24px 0 32px;
                    }
                }
            }
        }
    }

    .container_dates-edit {
        display: none;

        .fxfbwhmhbrzi {
            max-width: 796px;
        }

        .lightpick {
            width: 100%;
        }

        .popup-dates-edit {
            .lightpick__apply-action {
                display: none;
            }
        }

        @include responsive(1400px) {
            .fxfbwhmhbrzi {
                max-width: 700px;
            }

            .h2-guests {
                font-size: 22px;
                line-height: 26px;
            }

            .popup-dates-edit {
                .cont-foot {
                    .span-guests {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }

        @include responsive(743px) {
            .popup-dates-edit {
                .lightpick__footer {
                    position: fixed;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    padding: 16px 24px;
                    background: $color-white;
                    border-top: 1px solid #E3EDF3;
                }
            }
        }
    }

    .container_calendar_vvo {
        display: none;

        .fxfbwhmhbrzi {
            max-width: 796px;
        }

        .lightpick {
            width: 100%;
        }

        .popup-dates-edit {
            .lightpick__apply-action {
                display: none;
            }
        }

        @include responsive(1400px) {
            .fxfbwhmhbrzi {
                max-width: 700px;
            }

            .h2-guests {
                font-size: 22px;
                line-height: 26px;
            }

            .popup-dates-edit {
                .cont-foot {
                    .span-guests {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }

        @include responsive(743px) {
            .popup-dates-edit {
                .lightpick__footer {
                    position: fixed;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    padding: 16px 24px;
                    background: $color-white;
                    border-top: 1px solid #E3EDF3;
                }
            }
        }
    }

    .container_guests_edit {
        display: none;

        .fxfbwhmhbrzi {
            max-width: 576px;
            
            @include responsive(1400px) {
                max-width: 376px;
            }
        }

        @include responsive(1400px) {
            .pafxtlz {
                top: 23px;
                left: 24px;
            }

            .fpstaltz {
                flex: 0 0 62px;
            }
        }
    }

    // popup-write-review.php
    .container_write_review,
    .container_write_review1,
    .container_write_review2,
    .container_write_review3 {
        // display: block;

        .fxfbwhmhbrzi {
            max-width: 576px;
        }

        @include responsive(1400px) {
            .fxfbwhmhbrzi {
                max-width: 476px;
            }

            .fpstaltz {
                flex: 0 0 62px;
            }
        }
    }

    .container_bringing_animal {
        display: none;

        .fxfbwhmhbrzi {
            max-width: 768px;

            @include responsive(1400px) {
                max-width: 568px;
            }
        }
    }

    .container_all_amenitles {
        // display: block;

        .fxfbwhmhbrzi {
            max-width: 980px;

            @include responsive(1400px) {
                max-width: 780px;
            }
        }
    }

    .container_confirmation {
        display: none;

        .fxpaijcpmi {
            padding: 40px !important;
            align-items: center !important;
        }

        .fxfbwhmhbrzi {
            max-width: 345px !important;
            border-radius: 10px !important;
        }

        .poyxwh {
            padding: 24px 32px !important;
        }

        .popup_confirmation {
            text-align: center;
        }
    }

    .container_vvo_picker {
        display: none;

        .fxfbwhmhbrzi {
            max-width: fit-content !important;
        }

        .poyxwh {
            padding: 0 !important;
        }

        .popup_vvo_picker {
            .vvo_picker {
                position: initial;
                margin-top: 0;

                .lightpick__months {
                    margin-top: 0 !important;
                }
            }
        }

        @include responsive(743px) {
            .fxpaijcpmi {
                padding: 40px;
                align-items: center;
            }

            .fxfbwhmhbrzi {
                border-radius: 10px;
            }
        }
    }
    // ----- end vista interna.php -----


    // ------ start vista payments - 2 -------
    .container_add-payments {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .modal-addpymts {
            position: absolute;
            z-index: 999;
            inset: 0px;
            background: rgba(40, 54, 70, 0.95);
        }

        .pd_addpymts-modal {
            display: flex;
            padding: 40px;
            align-items: center;
            -webkit-box-align: center;
            justify-content: center;
            position: absolute;
            max-height: 100vh;
            inset: 0px;

            .modal_content-addpymts {
                display: flex;
                flex-direction: column;
                background: #FFFFFF;
                width: 100%;
                height: auto;
                max-width: 796px;
                max-height: 100%;
                border-radius: 10px;
                z-index: 999;

                .close {
                    display: flex;
                    justify-content: end;

                    span {
                        cursor: pointer;
                        color: white;
                        font-size: 18px;
                        padding: 13px 19.2px;
                        background: #FF5A5F;
                        border-radius: 0px 10px 0px 10px;

                        &:hover {
                            background-color: #DC383D;
                        }
                    }
                }

                .modal_block {
                    display: flex;
                    width: 100%;
                    padding-left: 85px;
                    overflow-x: auto;
                    border-radius: 10px;

                    .content_hidden-addpymts {
                        margin-bottom: 30px;
                        padding-right: 85px;
                        padding-top: 12px;
                        overflow: auto;
                        width: 100%;

                        .site-content {
                            padding-bottom: 28px;

                            ._frever {
                                margin-bottom: 25px;
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                align-items: center;
                                gap: 15px;

                                ._imgtarj {
                                    width: 160px;
                                    height: 19px;
                                    display: flex;
                                    align-items: center;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }

                            ._flfpc {
                                margin: 21px 0 27px;

                                @include responsive(1415px) {
                                    flex-direction: row;
                                    gap: inherit;
                                }

                                @include responsive(735px) {
                                    flex-direction: column;
                                    gap: 20px;
                                }

                                .block_date {
                                    width: 48.54%;

                                    @include responsive(735px) {
                                        width: 100%;
                                    }
                                }
                            }

                            ._cbadd {
                                margin-top: 27px;

                                ._numcard {
                                    padding: 16px;
                                }
                            }

                            ._gap {
                                margin: 25px 0 45px;
                                gap: 25px;

                                .radio-item_rscrm {
                                    label {
                                        padding: 33px 23px;

                                        .flex-msg {
                                            display: flex;
                                            flex-direction: column;
                                            gap: 3px;
                                        }
                                    }
                                }
                            }

                            ._block {
                                display: flex;
                                align-items: center;
                                gap: 22px;
                                flex-wrap: wrap;
                            }

                            .mrg {
                                margin: 34px 0 34px;

                                ._border {
                                    padding: 30px 0;

                                    &:not(:last-child) {
                                        border-bottom: 2px solid #E3EDF3;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @include responsive(1400px) {
            .pd_addpymts-modal {
                .close {
                    span {
                        font-size: 16px;
                        padding: 0;
                        width: 36px;
                        height: 36px;
                    }
                }

                .modal_content-addpymts {
                    .modal_block {
                        padding-left: 24px;

                        .content_hidden-addpymts {
                            padding-top: 16px;
                            padding-right: 24px;
                            margin-bottom: 0;

                            .site-content {
                                ._frever {
                                    margin-bottom: 22px;
                                }

                                .mrg {
                                    ._border {
                                        padding: 24px 0;

                                        &:not(:last-child) {
                                            border-bottom: 1px solid #E3EDF3;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @include responsive(743px) {
            .pd_addpymts-modal {
                padding: 0px;
                align-items: inherit;

                .close {
                    span {
                        border-radius: 0 0 0 10px;
                    }
                }

                .modal_content-addpymts {
                    border-radius: 0;

                    .modal_block {
                        border-radius: 0;

                        .content_hidden-addpymts {
                            .site-content {
                                padding-bottom: 40px;
                                margin-bottom: 32px;

                                ._hiddencreditordebit {
                                    padding-bottom: 20px;
                                }

                                form {
                                    ._block {
                                        position: fixed;
                                        bottom: 0;
                                        right: 0;
                                        left: 0;
                                        padding: 16px 24px;
                                        border-top: 1px solid #E3EDF3;
                                        background-color: $color-white;
                                        justify-content: center;
                                        flex-wrap: initial;
                                        gap: 10px;

                                        .btn-celest,
                                        .btn-red {
                                            width: 50%;
                                        }
                                    }
                                }

                                ._block-jsb {
                                    position: fixed;
                                    bottom: 0;
                                    right: 0;
                                    left: 0;
                                    padding: 16px 24px;
                                    border-top: 1px solid #E3EDF3;
                                    background-color: $color-white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}