@import "_globals";
@import "_variables";

.section-payments {
    gap: 90px;
    padding: 0 49px;

    ._cont-account {
        width: 100%;

        i {
            color: #2DDAB4;
        }
    }

    @include responsive(1270px) {
        gap: 50px;
    }

    @include responsive(960px) {
        flex-direction: column;
        gap: 56px;
    }

    @include responsive(760px) {
        padding: 0 25px;
    }

    @include responsive(550px) {
        padding: 0;
    }

    ._txtblu {
        display: inline-block;
        margin-bottom: 0;
    }

    a {
        display: inline-block;
    }

    ._btnsm {
        margin-top: 0;
    }

    &_main {
        width: 58.33%;
        float: left;

        .h2-guests_bold35 {
            margin: 16px 0 24px;
        }

        .content-scroll-local {
            display: flex;
            max-width: 100%;
            margin: 8px 0 43px;
        }

        ._cont-payout {
            ._block {
                margin: 16px 0 37px;
            }
        }

        ._cont-2 {
            margin-top: 48px;

            .h2-guests {
                margin-bottom: 16px;
            }

            ._gap-default {
                margin: 26px 0;
            }
        }

        ._cont-ein {
            ._block {
                margin: 16px 0 37px;

                ._btnsm {
                    font-weight: bold;
                }
            }
        }

        ._cont-sf {
            .h2-guests {
                margin-bottom: 16px;
            }

            ._gap-news {
                margin: 16px 0 21px;
            }

            ._block {
                display: flex;
                align-items: center;
                gap: 33px;

                @include responsive(900px) {
                    gap: 18px;
                }
            }
        }

        ._cont-gc {
            .h2-guests {
                margin-bottom: 16px;
            }

            ._allow-contri {
                margin: 33px 0;
                padding: 43px 0;
                border-top: 2px solid #E3EDF3;
                border-bottom: 2px solid #E3EDF3;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            ._block {
                display: flex;
                flex-direction: column;
                gap: 33px;
            }
        }
    }

    &_aside {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 53px;
        height: fit-content;

        width: 33.33%;
        float: left;
        margin-left: 8.3%;

        @include responsive(1050px) {
            flex-direction: row;
            gap: 30px;
        }

        @include responsive(580px) {
            flex-direction: column;
        }

        ._txtblu {
            margin-bottom: 0;
        }

        ._gap16 {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}

.section-taxes {
    margin-bottom: 100px;

    @include responsive(960px) {
        margin-bottom: 0;
    }
}

@include responsive(1400px) {
    .page_payments {
        .checkbox_custom {
            &::before {
                max-width: 32px;
                min-height: 32px;
            }
        }

        .section-payments {
            display: block;
            padding: 0 24px;

            ._btnsm {
                color: #333;
                font-size: 14px;

                &.edit-phone {
                    color: #00B5DD;

                    span {
                        color: inherit;
                    }

                    &:hover {
                        color: #0096B7;
                    }
                }

                img {
                    width: 6px;
                    min-width: 6px;
                    max-width: 6px;
                }

                &:hover {
                    color: #000;
                    text-decoration: underline;
                }

                &:active {
                    opacity: .8;
                }
            }

            ._gap {
                gap: 0;
            }

            .h2-guests {
                font-size: 22px;
                line-height: 26px;
            }

            &_main {
                width: 58.33%;
                float: left;

                ._block {
                    margin: 16px 0 24px;
                }

                ._cont-sf,
                ._cont-ein,
                ._cont-payout {
                    ._gap-news {
                        margin: 16px 0 24px;
                    }

                    ._block {
                        gap: 16px;
                    }
                }

                .content-scroll-local {
                    margin: 0 0 24px;
                }

                .msgaround {
                    padding: 18px 24px;
                }

                ._flex-right16 {
                    gap: 16px;

                    ._txtec16 {
                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    i {
                        font-size: 10px;
                    }

                    ._txtecbold16 {
                        font-size: 14px;
                        line-height: normal;
                    }
                }

                .h2-guests_bold35 {
                    margin: 12px 0 40px;
                }

                ._allow-contri {
                    margin: 24px 0;
                    padding: 24px 0;
                    border-top: 1px solid #E3EDF3;
                    border-bottom: 1px solid #E3EDF3;
                }
            }

            &_aside {
                width: 33.33%;
                float: left;
                margin-left: 8.3%;
                gap: 22px;

                ._cont-account {
                    width: 100%;
                    box-shadow: none;
                    padding: 24px;

                    i {
                        font-size: 48px;
                        margin-bottom: 16px;
                    }

                    ._txteh {
                        margin: 0 !important;
                        line-height: normal !important;
                        font-size: 20px !important;
                    }

                    .span-guests {
                        margin-top: 16px !important;
                        font-size: 16px !important;
                        line-height: 1.43 !important;
                    }
                }
            }
        }
    }
}

@include responsive(743px) {
    .page_payments {
        .section-payments {
            flex-direction: column;

            &_main {
                width: 100%;
                margin-top: 36px;

                ._flex-right16 {
                    display: none;
                }

                .h2-guests_bold35 {
                    margin: 0 0 16px;
                    font-size: 22px;
                    line-height: 26px;
                    letter-spacing: -.6px;
                }

                .h2-guests {
                    font-size: 18px;
                    line-height: normal;
                }
            }
            
            &_aside {
                display: none !important;
            }
        }
    }
}