@import "_globals";
@import "_variables";

.content_intpublish {
    .content-info-intpublish {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include responsive(1260px) {
            flex-direction: column;
        }

        .content-aside_about {
            position: sticky;
            top: 140px;

            @include responsive(1260px) {
                position: inherit;
                top: 0;
                margin: 0 auto 43px;
                width: 540px;
            }

            @include responsive(670px) {
                width: 100%;
            }

            form {
                ._flfpc {
                    margin: 32px 0;

                    @include responsive(1415px) {
                        gap: 0;
                    }
                }
            }
        }

        .interna-publish {
            width: 100%;
            margin-left: 58px;

            @include responsive(1260px) {
                margin-left: 0;
            }

            .hidden_galerias {
                margin-top: 43px;

                @include responsive(726px) {
                    width: 100%;
                    height: 100%;
                }

                .content_galerias {
                    @include responsive(726px) {
                        width: 100%;
                        flex-direction: column;
                    }

                    .slideshow-container {
                        @include responsive(726px) {
                            max-width: 100%;
                            height: 402px;
                        }
                    }

                    .flex_info {
                        @include responsive(726px) {
                            width: 100%;
                            padding-top: 16px;
                            padding-right: 0;
                            padding-left: 0;
                            padding-bottom: 10px;
                        }
                    }
                }
            }

            ._navbar-actlist {
                margin: 36px 0;
                position: relative;
                width: 100%;

                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #E3EDF3;
                    border-radius: 12px;
                    right: 0;
                    bottom: 0;
                    transition: all 0.5s ease;
                }

                ul li {
                    display: inline-block;

                    .btn-a_actlist {
                        cursor: pointer;
                        font-size: 18px;
                        padding: 0 20px;
                        -webkit-font-smoothing: antialiased;
                        line-height: 46px;
                        color: #7D7D7D;
                        display: block;
                        font-weight: bold;
                        position: relative;
                        transition: all 0.5s ease;

                        @include responsive(790px) {
                            font-size: 16px;
                            padding: 0 15px;
                        }

                        &.active {
                            color: #00B5DD;

                            &:before {
                                width: 100%;
                                left: 0;
                            }
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            height: 2px;
                            background-color: #00B5DD;
                            border-radius: 12px;
                            width: 0%;
                            right: 0;
                            bottom: 0;
                            transition: all 0.5s ease;
                        }
                    }
                }
            }

            .btn-red {
                margin-top: 29.8px;
            }

            ._blockreport {
                margin-top: 108.6px;

                @include responsive(1260px) {
                    margin-top: 80px;
                }
            }
        }
    }
}