@import "_globals";
@import "_variables";

.section-perfil_info {
    display: flex;
    justify-content: space-between;
    gap: 87px;

    @include responsive(1050px) {
        flex-direction: column;
    }

    &-main {
        width: 100%;

        ._flex-right16 {
            padding-left: 49px;

            @include responsive(768px) {
                padding-left: 25px;
            }
        }

        .h2-guests_bold35 {
            padding-left: 49px;
            margin: 16px 0 8px;

            @include responsive(768px) {
                padding-left: 25px;
            }
        }

        ._bgpadding {
            padding: 0 49px;
            transition: background-color .3s ease;

            @include responsive(768px) {
                padding: 0 25px;
            }

            &:hover {
                background-color: rgb(255, 246, 165, .31);
            }

            ._cont-edit {
                padding: 30px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 25px;
                border-bottom: 1px solid #ebebeb;
    
                // &:not(:last-child) {
                //     border-bottom: 1px solid #ebebeb;
                // }
    
                ._inf {
                    width: 65%;
                }
    
                ._btnsm {
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 0;
                }
            }
        }
    }

    &-aside {
        padding-right: 49px;
        display: flex;
        flex-direction: column;
        gap: 53px;

        @include responsive(1050px) {
            padding-right: 49px;
            padding-left: 49px;
            flex-direction: row;
            gap: 30px;
        }

        @include responsive(768px) {
            padding-left: 0;
            padding-right: 0;
        }

        @include responsive(580px) {
            flex-direction: column;
        }

        ._cont-account {
            @include responsive(1050px) {
                width: 100%;
            }
        }
    }
}