@import "_variables";

.section-perfil_info {
    display: flex;
    justify-content: space-between;
    gap: 87px;

    ._btnsm {
        margin-top: 0;
    }

    @include responsive(1050px) {
        flex-direction: column;
    }

    &-main {
        width: 100%;

        ._flex-right16 {
            padding-left: 49px;

            @include responsive(768px) {
                padding-left: 25px;
            }
        }

        .h2-guests_bold35 {
            padding-left: 49px;
            margin: 16px 0 8px;

            @include responsive(768px) {
                padding-left: 25px;
            }
        }
    }

    &-aside {
        padding-right: 49px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 53px;

        @include responsive(1050px) {
            padding-right: 25px;
            padding-left: 25px;
            flex-direction: row;
            gap: 30px;
        }

        @include responsive(580px) {
            flex-direction: column;
        }

        ._cont-account {
            @include responsive(510px) {
                width: 100%;
                padding: 18px 25px;
            }
        }
    }
}

.section_photo-id {
    margin: 0 49px;

    @include responsive(760px) {
        margin: 0 25px;
    }

    @include responsive(500px) {
        margin: 0;
    }

    .h2_publish {
        @include responsive(900px) {
            line-height: normal;
        }
    }

    ._gap {
        margin: 43px 0 32px;
        gap: 18px;

        @include responsive(900px) {
            margin: 24px 0 28px;
        }

        .radio-item_rscrm {
            label {
                align-items: center;

                .before_check {
                    @include responsive(900px) {
                        max-width: 35px;
                        min-height: 35px;
                    }

                    &::after {
                        @include responsive(900px) {
                            font-size: 18px;
                            bottom: 4px;
                            right: 4px;
                        }
                    }
                }
            }
        }
    }
}