@import "_variables";

body {
    .mbsc-calendar-cell {
        > div:empty {
            display: none;
        }
    }

    // .lightpick--1-columns {
    //     z-index: 9999;
    // }

    .vvo_range_picker {
        margin-top: 2rem;
        padding: 32px;
        left: 50% !important;
        transform: translate(-50%, 0);
        border: 2px solid #E3EDF3;
        border-radius: 12px;
        box-shadow: 0 0 15px rgb(40 54 70 / 10%);

        &.fixed {
            top: 4.7rem !important;
            position: fixed;
        }

        .lightpick__months {
            grid-gap: 32px;
        }

        .lightpick__tooltip {
            margin-top: -41px;
            margin-left: -34px;
        }

        @include responsive(1400px) {
            margin-top: 1.4rem;
            padding: 35px;
            border: 1px solid #E3EDF3;
            border-radius: 18px;

            .lightpick__months {
                grid-gap: 55px;
            }

            .lightpick__tooltip {
                margin-left: -36px;
            }
        }

        @include responsive(800px) {
            padding: 24px;
            border-radius: 10px;

            .lightpick__months {
                grid-gap: 18px;
            }
        }

        @include responsive(743px) {
            position: fixed !important;
            inset: 0 !important;
            width: 100%;
            border: 0;
            margin: 0;
            transform: none;
            border-radius: 0;
            padding: 32px 24px 40px;
            overflow: auto;
            margin-bottom: 81px;
            z-index: 99;

            .lightpick__month-title {
                top: 13px;
                transform: translate(-56%, 0);
            }

            .lightpick__days-of-the-week {
                margin: 32px 0 22px;
            }

            .lightpick__tooltip {
                margin-left: -25px;
            }

            .lightpick__footer {
                position: fixed;
                margin: 0;
                right: 0;
                left: 0;
                bottom: 0;
                padding: 16px 24px;
                border-top: 1px solid #E3EDF3;
                background-color: $color-white;
            }
        }
    }
}